[2017-08-04 12:35] dirkrombauts commented on #478
I think I see the problem - the GherkinDialectProvider just blindly splits the language if there's a '-', without checking if the name with the hyphen is a valid language first. I'll need to first try if the language is recognized, and split only if it was not recognized.

Could you perhaps provide me with a sample feature file in zh language? I'm afraid I don't have experience with Chinese ...

[2017-08-05 15:11] barlino commented on #478
[zh-CN.feature.txt](https://github.com/picklesdoc/pickles/files/1202460/zh-CN.feature.txt)
[zh-TW.feature.txt](https://github.com/picklesdoc/pickles/files/1202461/zh-TW.feature.txt)

Sure, Here comes zh-CN and zh-TW feature smaples as attachments

[2017-08-06 10:44] dirkrombauts commented on #478
Hi,
I think I fixed the problem. Could you take a look at the branch where I fixed the problem and see if it solves your problem? It works with the two feature files you sent me, at any rate.

https://github.com/dirkrombauts/pickles/tree/language-with-hyphen

[2017-08-07 01:19] barlino commented on #478
Yes, now the DialectProvider can know the whole gherkin-languages as well. thanks

[2017-08-07 07:22] liamharries commented on #476
Hi,

I've managed to construct a workaround for this in the SpecFlow report template.

I'm not sure where this code would go in the Pickles source but here it is if anyone would like it.

I am tester over a coder so the quality of the code may not be brilliant, I believe it could do with some optimisation though it isn't noticeably slower on generating reports.

I have commented throughout to impr

[2017-08-07 15:46] #478 closed

[2017-08-07 16:37] dirkrombauts commented on #478
Released in version [2.16.1](https://github.com/picklesdoc/pickles/releases/tag/v2.16.1).

[2017-08-07 16:40] dirkrombauts commented on #476
Thanks for sharing.

I will not merge this into Pickles: integrating SpecFlow+ Runner results is difficult enough as it is without additional gimmicks. I will leave this issue open for future reference, though.

[2017-08-08 15:52] pawarvaibhav opened #481 "While exporting to excel, trim the worksheet names if feature file names have more than 31 characters"

[2017-08-08 15:55] pawarvaibhav commented on #481
Currently, we face this error if any of the included feature file names have more than 31 characters

Something went wrong during generation: System.ArgumentException: Worksheet names cannot be more than 31 characters
  at ClosedXML.Excel.XLWorksheet.set_Name (System.String value) [0x00000] in <filename unknown>:0
  at ClosedXML.Excel.XLWorksheet..ctor (System.String sheetName, ClosedXML.Excel.XLW

[2017-08-08 15:59] pawarvaibhav commented on #481
There is a chance that while trimming longer names to 31 characters, we might end up with duplicate names. That would mean another error with duplicate names for worksheets.

To avoid that, we can trim the name in the following fashion:
Take 15 characters from the start of the file name and 16 characters from the end of the file name. I believe, that way, there is a smaller chance of ending with d

[2017-08-10 10:31] s991116 opened #482 "Custm Buildstep for VSTS builds"
This is not and Issue, but a nice to have.
For VSTS Builds (TFS-Builds) , it would be nice to have a custom buildstep, that generated documentation with PicklesDoc. This Buildstep could be shared on [VSTS MarketPlace](https://marketplace.visualstudio.com/search?target=vsts&category=Build%20and%20release&sortBy=Downloads)

Now I have a custom powershell script, that calls PicklesDoc.
But if it was

[2017-08-10 11:07] dirkrombauts commented on #482
Hi,
I agree that this sounds cool. The reality of open source projects is that they depend on outside contributions. Another reality is that I have a limit time budget - I've already spent rather more than usual on fixing the problem with the test results.

So the fastest way to get a new feature like this is to implement it yourself and to send a pull request.

Thanks for your understanding.

[2017-08-10 11:10] dirkrombauts commented on #481
Good idea. It would be great if you could provide a pull request with this change and some unit tests for it. That's the fastest way to get it included.

[2017-08-10 14:11] pawarvaibhav commented on #481
I have not worked on any C# projects since college. I tried to look at your project but the framework is a lot different than what I am used for test frameworks in TestNG and Java.

Does your framework have a name? so that I can research online and try to fix this.

[2017-08-11 06:47] s991116 commented on #482
I am trying to implement this myself, but I'm wondering if it is something that couold be shared on PicklesDoc, so others can use it.
I will do a pull request, if/when I have something.

[2017-08-21 21:30] jabumeri opened #484 "Tags not recognized"
Hi! I'm experiencing some issues with Pickles at the moment. I've been using the GUI version and for some reason certain tags are not being recognized from within my feature file. I've been generating a DHTML and upon searching for a specific tag, not all of the results are shown.
We've noticed an odd pattern, some tags that are part of specific examples cannot be found. But please not that this i

[2017-08-22 09:14] dirkrombauts commented on #484
Hi,

I'm afraid I'm going to need more specific information. In the ideal case I'd like to be able to try it myself. Could you please zip your DHTML documentation and either attach it to this issue or send it by email to dirk dot rombauts at picklesdoc dot com? Thanks!

[2017-08-23 22:52] jabumeri commented on #484
actually we figured out a work around to our issue! thank you!

[2017-08-23 22:52] #484 closed

[2017-09-08 11:53] boris779 opened #485 "PowerShell Runner Shows Only First Test Result File"
If you add more that one to option _lr_ only the first file is listed in the output when useing the Pickles Command Line Tool.

See my example output. I added 2 json-files but in the output vom commandline tool only the first is listed.

`PS C:\temp\aggregate_cucumber> C:\Programs\nuget\Pickles.CommandLine.2.16.2\tools\pickles.exe -f=C:\temp\features
\pickles --trfmt=cucumberjson --lr='**.\cucumbe

[2017-09-08 13:18] dirkrombauts commented on #485
Thanks!

This is only a problem with displaying the name of the test result file, right? Can you confirm that both of your test result files are being used?

[2017-09-08 13:31] boris779 commented on #485
Exactly. The result is correct, both files are processed!
Only a display bug :-)

[2017-09-08 13:34] dirkrombauts commented on #485
Cool.

The fastest way to get the fix is to send me a pull request :-)

[2017-09-26 14:55] nachereshata opened #486 ""Exclude Tag" breaking typo in code"
Detailed Visual Studio 2017 build output  (Pickles through NuGet) :

  Pickles v.2.16.2.0
Generating documentation based on the following parameters
 ----------------------------------------------------------
Feature Directory              :  // Removed before paste
Output Directory               :  // Removed before paste
Project Name                   :  // Removed before paste
Project Version

[2017-09-28 07:24] #485 closed

[2017-09-29 15:47] francisco4challenge opened #489 "Comments not showing"
Hi, i have a .feature file that has comments in multiple lines, and they are not showing up in the generated word file.

I've tried with picklesui, andthe command line exe, in -v 2.16.2 and 2.16.0, both with no luck

i enabled the flag for comments.
Thanks in advance

[2017-09-30 19:27] sandeepdns opened #490 "The report is failing when any of the file is having incorct gherkin format."
I have some feature files.
While running the report for the directory, one of the file is having incorrect format [ Ex: Example section missing for a Scenario Outline ]
I don't want the report to fail and stop creating the files for the rest of the features.
Is there any option availble to skip the error files and store them in a log file

[2017-10-02 16:54] dirkrombauts commented on #489
Could you perhaps post the feature file? If the actual feature file contains your intellectual property, then please anonymize it.

[2017-10-02 16:55] dirkrombauts commented on #490
There is no option available to continue on error.

[2017-10-04 09:41] francisco4challenge commented on #489
this is the feature file:
#language: pt

Funcionalidade: Ver em que pagamento está contido um num comercial
    Para poder saber qual a ordem de relativo a um certo num comercial
    Como staff do departamento financeiro
    Quero poder ver a que está associado num comercial

#Critérios de aceitação
#Os movimentos que já têm pagamento associado devem ficar com um highligh verde e ter um botão "Ver

[2017-10-04 13:26] dirkrombauts commented on #489
Thanks - I'll have a look at it tonight.

In the meantime, Could you please verify that Generation works if you delete the comments?

[2017-10-04 14:09] francisco4challenge commented on #489
I tried it, and it works without the comments

Em 04/10/2017 2:26 da tarde, "Dirk Rombauts" <notifications@github.com>
escreveu:

[2017-10-04 14:54] dirkrombauts commented on #489
Thanks!

[2017-10-04 19:12] dirkrombauts commented on #489
I looked into it, and there seems to be a problem with the way Pickles treats `#` comments. It's not limited to the Word output format, the same happens on the other output formats.

The bad news: I'm leaving for a conference tomorrow and won't be back until Wednesday.

The good news: there's a workaround that you can use in the meantime. If you attach the comments to the first line of the scenari

[2017-10-20 18:24] elliottoberg opened #493 "Add documentation for defined STEPS (what step definitions exist)"
I really want to see living documentation include what steps have been defined (scraping the Steps files).  This could be optional.  It could take the SUMMARY or REMARKS part written above the step definition and use that for documenting what the step does.  Then it could format the step in a fairly readable way.

Note* : This is different from Specflow's step definition report - which shows all i

[2017-10-23 12:21] dirkrombauts commented on #493
Hi,

Thank you for taking the time to write this feature request.

Do I understand correctly that you basically want Pickles to parse the `.cs` files and output all the steps that are defined in code?

[2017-10-23 14:21] elliottoberg commented on #493
Hi Dirkrombauts,

Yes, you understand correctly.  I looked into doing a proof of concept, but I am afraid I am just not experienced enough to navigate my way through the Pickles solution (there is a lot more there than I thought there would be).

[2017-10-24 14:02] dirkrombauts commented on #493
As things stand now, adding the functionality to parse `.cs` files would be a HUGE effort - we don't do it at all right now. Pickles only parses `.feature` files, so we'd have to build the functionality you suggest entirely from scratch.

The reality of open source projects is that they depend on outside contributions. I as the maintainer of Pickles currently don't have the time resources to creat

[2017-10-25 17:38] StarWars999123 commented on #489
We have almost the same issue. Every Scenario is tagged with a #comment before. The last scenario within the feature has allways no visible comment within the Dhtml output.

[2017-10-25 17:48] StarWars999123 commented on #493
I have also the same wish. I would like to see it with your interface if a step exists. Furthermore would a grouping of the .cs files according to e.g. tags be nice. The specflow report does not show the required steps easily.
Its a tricky challenge to deploy specflow tests within our department, without a solution to show the team easily, which steps exists. It results in multiple implementations

[2017-10-25 17:54] StarWars999123 opened #494 "(To be closed) Idea: Parse complete solution/folder instead of simple projects"
Pickles would be really helpful for us, if we could let it run against a complete solution instead of just a project. To group the development results, we do have several projects. Some of them are part of the one, some of the other solution. However, all solutions run against the same software, but have different test targets.
The current approach allows it easily to see, which features are part

[2017-10-25 21:50] elliottoberg commented on #493
@dirkrombauts I hear you about this being a huge lift that you don't have the time for.  I am currently using the Roslyn compiler api to parse the .cs files.  I have a working example.  I just don't understand how to integrate this into the current Pickles DHTML output.   I will try again to decipher what is going on there and see if I can add this feature myself.

[2017-10-26 12:52] StarWars999123 commented on #494
I realized, that pickles can read a folder recursively. As a result, my ticket was unnecessary and can be closed.

[2017-10-27 14:24] dirkrombauts commented on #489
@StarWars999123 do I understand correctly that the scenarios with a #comment show a visible comment in the Dhtml output, except the last scenario?

[2017-10-27 14:25] dirkrombauts commented on #494
I'm glad you found a way that works for you!

I'll close the issue then :-)

[2017-10-27 14:25] #494 closed

[2017-10-27 14:26] dirkrombauts commented on #493
The DHTML output is knockout-based, so the first step would be to extend the viewmodel that is used to populate the knockout templates. The second step would be to extend the knockout templates.

In order for the viewmodel to receive data, you would have to extend the json output format since that is read by the Dhtml output to populate the viewmodel.

[2017-10-28 23:03] Tempuskg opened #496 "Scenario Outline Example test results icon's in html but not dhtml"
I like how the test result icon's show at the Feature, Scenario and Scenario Outline Example levels in the html documentation format. In the dhtml documentation format the test result icon's only show at the Feature and Scenario levels. Is anyone working on getting the test result icon's showing at the Scenario Outline Example level for the dhtml documentation format?

[2017-10-30 09:03] dirkrombauts commented on #496
Hi,

As far as I know, no-one is working on that. Feel free to have a go at it :-)  The DHTML version uses the JSON output format as its data source, so it may be that you have to change that one first. It's important that any changes you make are not breaking.

[2017-11-01 13:43] StarWars999123 commented on #489
Yes its correct. Each of our tests has a comment to match a requirement id, e.g.:

[code]

For each test is the comment visible within the Dhtml after each test. The Firefox DOM shows the comments after each step with the following:

[code]

However, the comments for the last test are allways shown and are also not part of the generated HTML dom. The dom of the last step of the last test contains

[2017-11-06 19:23] dirkrombauts commented on #485
Released in version [2.17.0](https://github.com/picklesdoc/pickles/releases/tag/v2.17.0).

[2017-11-07 11:32] Ilambat opened #499 "Some tests showing inconclusive when passed on the report.xml"
I'm running my tests through pickles and the report coming through looks quite good!

However, I'm always being returned inconclusive on some tests on every run, and can't seem to figure out why. There's no much difference between the inconclusive tests and the ones that pass.

Below is a snapshot of my inconclusive tests:
![image](https://user-images.githubusercontent.com/28101260/32491466-bacff4

[2017-11-07 12:10] dirkrombauts commented on #499
Would it be possible to provide a stripped down version of your feature files and test results so I can play around with it?

Which unit test runner do you use? And what are the settings you pass to Pickles?

[2017-11-07 13:05] Ilambat commented on #499
@dirkrombauts I'll work on seeing whether I can provide a stripped down version (There's a lot of configs etc that will break if I try to remove stuff). In terms of the Specflow, there's nothing out of the norm that's being used. The XML is reporting it as a Pass - just not sure why Pickles is coming through as Inconclusive only on those 3 tests.

I use the XUnit Runner Console  and below is the p

[2017-11-07 14:17] dirkrombauts commented on #499
I actually only need the .feature files and the test result file. I don't need the C# code or configuration. I don't need to actually run the scenarios.

[2017-11-07 14:24] Ilambat commented on #499
@dirkrombauts  Oh kk. Attached is the feature file with the failed test and the testreport.

[TestReports.zip](https://github.com/picklesdoc/pickles/files/1450327/TestReports.zip)

[2017-11-08 08:23] Ilambat commented on #499
@dirkrombauts Any luck? or anyone else have any ideas? Been playing with it for a while, can't seem to figure out what's different between the pass and inconclusive.

For some reason, another feature file is now throwing inconclusive results too. No changes have been made but now the VOCSurveyFeature is throwing inconclusive on all the scenarios within it.

[2017-11-08 22:05] dirkrombauts commented on #499
I haven't had time to look at it yet - real life is demanding my attention :-)

[2017-11-17 15:18] dirkrombauts commented on #499
I had a look at your files. I noticed that the .feature file you sent me is called `.JobProfileSearch.feature' but inside the file, the feature is called "Search". The xUnit result file expects a feature with featuretitle attribute "Job Profile Search". When I change the feature file to make it read "Feature: Job Profile Search" on the first line (instead of "Feature: Search") some results are sho

[2017-11-22 12:23] FlamingGear opened #500 "Step Definition list / usage from .feature files"
This feature request has a similar nature to #493 but I'd like to rework the idea a little, hence the seperate ticket to the original.

As a piece of living documentation for both users AND developers, I'd find it very useful to find all usages of similar step definitions, so as to find strong links between different behaviours using the same functionality. Being able to find other tests using the

[2017-11-22 13:00] dirkrombauts commented on #500
Thanks for taking the time to write your request down in several paragraphs :-)  As I wrote in #493, I'll happily review any pull requests you (or anyone else) will send my way!

[2018-01-05 11:37] dirkrombauts commented on #499
@DominikBaran I had a quick look so far. I can answer some of the questions:

- The dhtml report cannot show results on the individual examples in a scenario outline. That's a known limitation.
- Apparently the html report shows the background as "inconclusive". That's funny ... and likely a bug.

These questions need more investigation:

- The result of the scenario outline as a whole still ought

[2018-01-07 20:40] DominikBaran commented on #499
Hi @dirkrombauts - thanks a lot for your quick answer.
1. Yeah I found the information that dhtml does not support results on single example level - I will try to handle it (the code is a little bit complicated but maybe I could do that).
2.However I also found that scenario status is setup incorrectly on Scenario level - for Scenario Outline.
From the Pickles code I assume expected behavior shoul

[2018-01-09 02:56] DominikBaran commented on #499
Hello @dirkrombauts.
I fixed existing bug in dhtm report and also add functionality to display statuses of the test executions (for each example) in the table.
Please take a look on my PR: https://github.com/Tempuskg/pickles/pull/1

I assigned you as a reviewer - but if you wish anybody else take a look on that code - feel free to add this person.

I also run all unit tests (all of them pass)  - f

[2018-01-09 19:46] DominikBaran commented on #496
hi. Just for your information. I have added that change to the Pickles code (hope did not break anything else). You could find the code in my PR:
https://github.com/picklesdoc/pickles/pull/501

[2018-01-14 07:40] tedvanderveen commented on #482
Great idea @s991116, do you have a PR yet, maybe I can contribute to your development work?

[2018-01-14 22:02] s991116 commented on #482
No, unfortunately I do not.
I hadn't have the time to look into it.
Today we are using a powershell script, that retrieve Pickles Doc as a Nuget package.

[2018-01-26 19:08] dirkrombauts commented on #496
@Tempuskg @DominikBaran could you take the latest development build and verify that the problem is now solved?

[2018-01-26 19:09] dirkrombauts commented on #499
@Ilambat  @DominikBaran could you take the latest development build and verify that the problem is now solved?

[2018-01-28 19:52] DominikBaran commented on #496
@dirkrombauts : After rebuild the project with all new changes from develop branch - it looks good for me.

[2018-01-28 19:53] DominikBaran commented on #499
@dirkrombauts : After rebuild the project with all new changes from develop branch - it looks good for me.

[2018-01-30 12:06] dirkrombauts commented on #496
@DominikBaran I'll try to do it on thursday evening (central european time). I'm fully booked until then.

[2018-02-01 14:16] mkochhar17 commented on #499
Hi @dirkrombauts I am facing the same issue. I am running my tests on nunit3-console. The xml shows the results as 1 pass and 1 fail. I have attached the feature file and the xml. I am getting the test results as inconclusive. Please look into it.

[TestResult.txt](https://github.com/picklesdoc/pickles/files/1685789/TestResult.txt)

[DistrictCreation.feature.txt](https://github.com/picklesdoc/pick

[2018-02-02 14:43] dirkrombauts commented on #496
Resolved in #502

[2018-02-02 14:43] #496 closed

[2018-02-02 14:44] dirkrombauts commented on #499
@mkochhar17 are you using .NET Core?

[2018-02-02 17:05] mkochhar17 commented on #499
@dirkrombauts No I am not using .NET Core. Its .NET Framework 4.5.2

[2018-02-06 20:53] rik-smeets opened #507 "Test cases of Scenario Outline not always matched with results when using VsTest"
Consider the following Gherkin scenario:

[code]

SpecFlow will generate the unit test names like this:
- `AddTwoNumbers_Variant0`
- `AddTwoNumbers_Variant1`

The reason for this is that the numbers in the first column are the same, and generated unit test names of course need to be unique. So even if there is only a single duplicate value in that first column, test names will be generated ending

[2018-02-06 22:46] DominikBaran opened #508 "Special characters for Scenario Outline - issue."
Hello.
I found an issue for Scenario Outlines and XUnit2 for the special characters.
XUnit2ScenarioOutlineExampleMatcher does not work if there are some special characters in the Scenario Outline name (ex: '(', ')', '-', '_', etc')

[2018-02-06 22:47] DominikBaran commented on #508
fix for that issue could be found: https://github.com/picklesdoc/pickles/pull/506

[2018-02-07 19:29] DominikBaran commented on #429
@Rain9333 : hello Rain9333 - it works perfectly fine for me - to run Pickles.CommandLine i used:

--feature-directory="C:\Dev\TestProject\Tests\Features" -o="C:\Dev\TestProject\Documentation with spaces" -trfmt=xunit2 -lr="C:\Dev\TestProject\Reports new\report.xml" -df=dhtml

My OS is Win10. Can you please send an example of your cmd line command.

[2018-02-08 12:33] dirkrombauts commented on #499
How did you run pickles? By command line? Could you please show me the exact command line and arguments you used?

[2018-02-08 12:38] dirkrombauts commented on #507
Hi,

The usual solution is to provide an additional column in the beginning that uniquely identifies a row - ideally a small comment that says why this row is special.

[code]

[2018-02-08 12:40] dirkrombauts commented on #429
@Rain9333 is this still a problem for you?

[2018-02-08 17:05] mkochhar17 commented on #499
I used PickleUI
![pickleui](https://user-images.githubusercontent.com/35852417/35986886-e91f05be-0cbf-11e8-9704-0893c5769372.PNG)

[2018-02-08 22:26] DominikBaran commented on #508
[Test.feature.txt](https://github.com/picklesdoc/pickles/files/1709022/Test.feature.txt)

[report.xml.txt](https://github.com/picklesdoc/pickles/files/1709019/report.xml.txt)
@dirkrombauts : Hello Dirk. I have spent some time investigate that issue today. I found that Unit tests covering that functionality work correctly WhenParsingxUnit2ResultsFile -> ThenCanReadResultOfScenarioOutlineWithSpecial

[2018-02-09 01:39] DominikBaran commented on #508
@dirkrombauts : I also found an issue with Unit tests. As you could see in the report above for special characters in XUnit2 report contains special characters and looks like:

  <test name="Verifying that it's not possible to transfer account for ineligible organisation's (deleted/susspended) - test(value: &quot;value2&quot;, value2: &quot;3&quot;, value3: &quot;4&quot;, exampleTags: [])" type="G

[2018-02-09 10:21] Rain9333 commented on #429
@dirkrombauts @DominikBaran - yes still applicable for me.
Not sure if its the quotes or something but notice that the issue appear whenever I have spaces or not in the path, but I put the path in quotes.

E.g. (both failing - of course I change the folder names before executing them so they are correct and existing 😃 ):
`pickles.exe -df=dhtml -trfmt=nunit3 -f=C:\Tests\Features\ -o="C:\Testme2\" -

[2018-02-11 13:02] mexx commented on #235
FYI: FeatureSwitcher now targets `netstandard1.0`. Please use 2.0.0 version.

[2018-02-11 14:44] rik-smeets commented on #507
Hi,

Thank you for your response. However, adding another column feels a bit like a workaround to me. When automating my examples, I do not want to change them just because of technical difficulties. The examples are a result of collaborative sessions, and should not be changed during automation.

However, I do not think the current VsTest test results file provides a way to resolve this issue. Th

[2018-02-11 19:55] DominikBaran commented on #429
@Rain9333 :
hello - looks like Pickles command line has some issues with the "\" at the end of the paths.
Can you please try:
pickles.exe -df=dhtml -trfmt=nunit3 -f=C:\Tests\Features -o="C:\Testme2" -lr="C:\Testme\Result.xml" -exp
instead of: pickles.exe -df=dhtml -trfmt=nunit3 -f=C:\Tests\Features\ -o="C:\Testme2\" -lr="C:\Testme\Result.xml" -exp

Please let me know how it looks like

[2018-02-11 20:34] dirkrombauts commented on #507
Hi,

I understand your feelings about this being a workaround. This is the best solution that I know of. You might want to ask this question in the SpecFlow and Cucumber communities as well, maybe they have a better solution by now.

In any case, it's not only VsTest that suffers from this problem. As far as I know, SpecFlow+ Runner (formerly known as SpecRun) also has it.

[2018-02-12 01:31] DominikBaran commented on #499
@mkochhar17, @dirkrombauts :
 I tried to execute tests using Pickles.CommandLine based on the DistrictCreation.feature.txt file - could you confirm Test1.feature.txt I attached with your file and let me know if they look similar.
[Test1.feature.txt](https://github.com/picklesdoc/pickles/files/1715062/Test1.feature.txt)

I also run Nunit3 test execution based on Test1.feature.txt file and generate

[2018-02-12 08:14] Rain9333 commented on #429
Hey @DominikBaran and thanks for the help!

Here are my results and thanks for the info from that blog as well:

`pickles.exe -df=dhtml -trfmt=nunit3 -f=C:\Tests\Features\ -o="C:\Test me 2" -lr="C:\Test me\Result.xml" -exp`   (**working ->  -o="C:\Test me 2"** )
`pickles.exe -df=dhtml -trfmt=nunit3 -f=C:\Tests\Features\ -o="C:\Test me 2\" -lr="C:\Test me\Result.xml" -exp`   (**same error as before

[2018-02-12 09:18] DominikBaran commented on #429
@Rain9333 :  that's great to hear, at least we know the issue and the reason now :)
@dirkrombauts : I agreed with @Rain9333  - so maybe it's worth to add it to the documentation.

Cheers,
D

[2018-02-12 21:15] joelransom commented on #453
Hi Dirk. By any chance did this ever get implemented in any release after 2.15.0?

Regards,

Joel

[2018-02-14 12:52] boris779 commented on #390
Hi!

It seems there is a problem in Version 2.18.0
I have a cucumber-result.json with one feature where no scenario run (because this one runs only nightly) then I get the error message "... Value cannot be null, Parameter name: source"

After editing the json manually, it worked.

[2018-02-14 12:57] dirkrombauts commented on #390
Hi,

Thanks for mentioning this. Could you please create a working sample (feature file and json file) that shows the error? That would greatly help me with fixing the error.

[2018-02-14 16:18] mkochhar17 commented on #499
@dirkrombauts it seems to working fine with pickels 2.18. Thank you

[2018-02-16 07:57] daarsan opened #510 "Markdown in word output format"
Hi,
Is there any to insert markdown objects in word format?
I'm running 2.18.0 version and markdown objects work perfectly for the html format. However, when I choose word format, the images, headers, etc. appears as plain text.

Pickles --feature-directory=features --output-directory=docs --df=word -sn "User Stories - Expendables" --sv "0.1"

Am I doing something wrong? Is this supported?

Thanks

[2018-02-16 09:09] dirkrombauts commented on #510
Hi,

The Word output format does not support Markdown formatting at the moment. I will gladly review pull requests if you or anybody else wants to implement it. :-)

[2018-02-16 10:42] daarsan commented on #510
Ok, thanks!

I will have a look to see if I can do something :)

2018-02-16 10:09 GMT+01:00 Dirk Rombauts <notifications@github.com>:

--
d.aroca.sanchez@gmail.com
@daarsan
http://doyoumetdavid.blogspot.com
http://createindex.blogspot.com

[2018-02-18 19:37] DominikBaran commented on #508
@dirkrombauts : hello Dirk. Any chance to take a look on that ? thanks

[2018-02-18 19:39] DominikBaran commented on #499
@dirkrombauts : it seems to be good candidate to be closed ;)

[2018-02-19 12:16] dirkrombauts commented on #508
Real life is keeping me busy. Things should get quieter from Thursday on ...

[2018-02-19 12:17] dirkrombauts commented on #499
Looks like it :-) Thank you for your efforts.

[2018-02-19 12:17] #499 closed

[2018-02-22 18:26] dirkrombauts commented on #453
No, there has been no progress on this one. I'll be happy to review any Pull Requests you may send my way :-)

[2018-02-22 18:43] dirkrombauts commented on #429
I wrote a wiki page about this issue: https://github.com/picklesdoc/pickles/wiki/Backslashes-and-quotes-at-the-end-of-a-path

[2018-02-22 18:43] #429 closed

[2018-02-28 00:06] phillandrade commented on #278
Hi! Isn't this closed? I just used the cucumber output format and it's working nicely.

[2018-02-28 01:02] lip-andrade opened #512 "Global Search in DHTML"
Hi!

We're using cucumber/pickles in a data-warehousing space and we've figured that it would be very handy for us if we could search a specific string (e.g. table name) on every feature, scenario, step,  description, etc.

I'd be keen to start working on it, but I was just wondering if this is something more people would be interested in using and if there's any concerns / considerations around t

[2018-02-28 09:08] jnsn commented on #428
Any update on this?

[2018-02-28 09:33] dirkrombauts commented on #278
@phillandrade does it work for you with scenario outlines? The comments from July 2017 mention a missing uri section too. Do you have any thoughts on that?

[2018-02-28 09:34] dirkrombauts commented on #512
This sounds like a valuable addition! Please go ahead with it :-)

[2018-02-28 09:35] dirkrombauts commented on #428
No, no update on this.

[2018-02-28 19:49] phillandrade commented on #278
@dirkrombauts  oh sorry, I see now. I'm actually not familiar with the Cucumber JSON format. I just stumbled across this open issue and noticed that the option was already there in the command line tool and it was "working", so I thought the issue was outdated or something. Thanks for clarifying.

[2018-03-04 13:34] jnsn commented on #428
I've looked into this a bit further, but there seems to be something off with the official documentation.

According to https://relishapp.com/cucumber/cucumber/docs/formatters/json-output-formatter#scenario-outline the examples should be included into a single scenario outline, however, if I run this using the ruby cucumber exporter I get multiple tests. Each described as an individual scenario, b

[2018-03-10 18:42] spacehole1 opened #514 "Scenario using Table shouldn't have inconclusive result"
Hello,

Great job, I love this generator, living doc has a real meaning with it.

But, since last version 2.18 all the scenarios that are using a table have an inconclusive result appearing.

This is wrong as they are not related to scenario outline tests.
This is shown in the test case "Pickles.DocumentationBuilders.Json.UnitTests/FormattingAFeature.feature"

it was updated so that the tests pass

[2018-03-12 09:49] dirkrombauts commented on #428
I will welcome a PR. Please go for the Cucumber variant - that is what is happening in the real world. Relish is abandoned (sadly) so their documentation may well be out of date.

[2018-04-19 06:31] tmoreno opened #518 "Scenario Outline Inconclusive"
There is a problem related with the Scenario Outline name.

If it contains latin chars like: ñ, á, é, í, ó, ú the report shows inconclusive, but if I remove those chars from the scenario outline name the report shows the correct test result:

![38687003-f60c79fe-3e75-11e8-902b-ca7dd9872206](https://user-images.githubusercontent.com/1009817/38974886-0041b908-43ac-11e8-87c7-ff24acead678.png)

So, I

[2018-04-19 19:03] #514 closed

[2018-04-20 21:02] dirkrombauts commented on #518
@tmoreno could you please check whether this problem still exists in version [2.18.1](https://github.com/picklesdoc/pickles/releases/tag/v2.18.1)? There are some big changes to the name matching in the new version.

[2018-04-22 11:31] rik-smeets commented on #507
Using a custom logger with VsTest might resolve this issue. I found [this one](https://github.com/markvincze/MsTestTrxLogger), which should create a .trx like MsTest's. I'll check that out when I have a bit of spare time again, sorry for the delays.

[2018-04-23 13:33] barnabii opened #521 "Scenario Outline Inconclusive when Example contains quotes"
Hello
I've a problem with inconclusive test result (dhtml) when an Example contains quotes " even all steps and  the test result are ok.

Here the example:

Scenario Outline: Generate PLC_Config C-Code with CAP1131.CodeGen.Console
	When I call the CAP1131.CodeGen.Console tool with '<programmArguments>'
	Then the console returns with exit code 0
	And the generated C-Code equals to the reference

Ex

[2018-04-23 13:36] dirkrombauts commented on #521
Did this problem appear in 2.18.1 or is it present in earlier versions as well?

[2018-04-24 00:40] DominikBaran opened #522 "Scenario Outline matching XUnit 2.1.0 and XUnit 2.3.0/1"
I found an issue with Scenario Outline matching for the newest version of Xunit 2.3.x (i did not check 2.2.x).
which does not exist in 2.1.x version.

There is different way how the test name is stored in xunit report.xml file:
version 2.1.0 vs 2.3.1
![image](https://user-images.githubusercontent.com/14995941/39160142-cb1e2d9a-47bd-11e8-9155-d15a35675a1e.png)

As you could see there is different e

[2018-04-24 00:41] DominikBaran commented on #521
hello @barnabii , @dirkrombauts : it could be related to the issue I just reported : https://github.com/picklesdoc/pickles/issues/522

@barnabii: could you please assign nunit report.xml file to check if there is the same issue with " coding ?

[2018-04-25 08:30] dirkrombauts opened #523 "PicklesUI from Chocolateley doesn't start"
It seems the ControlzEx library is missing from the 2.18.1 package.

[2018-04-25 08:40] gep13 commented on #475
@dirkrombauts sounds like perhaps an addition to the cake-contrib organisation: https://github.com/cake-contrib

This is where a lot of addins are hosted.  Ideally, a Cake Addin would iterate at the same time as the original application, so having the addin hosted in this repository would make sense, but certainly it can exist outside it as well.

Full disclosure, I am part of the Cake Team 😄

[2018-04-25 08:42] gep13 commented on #523
@dirkrombauts is this in any way related to the discussion that is being held here:

https://gitter.im/chocolatey/chocolatey.org?at=5adf5496270d7d3708ff3faf

I did a fresh install on the picklesui using Chocolatey on a Windows Server 2012 VM, and it worked as expected, but we are getting reports that that installation is working for some people, but then when trying to run the application, it is f

[2018-04-25 08:43] dirkrombauts commented on #475
@gep13 thanks!

[2018-04-25 12:44] barnabii commented on #521
hello together, i hope this helps.
thanks!

[pickles_issue_attachment.zip](https://github.com/picklesdoc/pickles/files/1946998/pickles_issue_attachment.zip)

[2018-04-25 14:31] jmb-mage opened #524 "Pickles UI DHTML Site differs from Command Line DHTML Site"
tl;dr - I am hoping I am just missing a param in my command line.

Here my PicklesUI settings:

![picklesui](https://user-images.githubusercontent.com/4942457/39251804-ad0318c6-4893-11e8-8ad5-383d552efedc.PNG)

It's pointing at the same TestResults file and *I think* has the same settings as the command line I run:
`C:\Program Files (x86)\Pickles\pickles.exe --feature-directory=C:\dev\AcceptanceTe

[2018-04-25 17:45] dirkrombauts commented on #524
Hi,

In the UI you are generating two output formats: Html and DHtml. Those two will overwrite one another - in this case the Dhtml version won.

In the command line version, you are specifying `dhtml`. I think the enumeration value might be case sensitive, so please trying specifying `DHtml`. `dhtml` isn't recognized, so pickles falls back to the default output, which it `Html`.

BTW: If you do w

[2018-04-25 17:46] dirkrombauts commented on #524
BTW: excellent issue report. Lots of command lines, lots of screenshots. That's the way I like it :-)

[2018-04-26 07:46] dirkrombauts commented on #521
@barnabii is your issue solved?

[2018-04-26 12:28] jmb-mage commented on #524
As soon as you said "defaults" and "case sensitive" I figured it out.

My CLI had this `--DocumentationFormat dhtml` instead of this `--documentation-format=dhtml`

I fixed that and it worked!  Thanks.

ps - Thanks for the compliment!  I work in QA so I want to know all the deets.  And thanks again for PicklesDoc.

[2018-04-26 12:28] #524 closed

[2018-04-26 13:51] mmajcica opened #525 "Legal question"
I created a VSTS/TFS build/release task which will allow the user to generate your Living Documentation via Pickles. It simplifies building the Build/Release pipelines on the above-mentioned platform.
Now as I do ship the Pickles executable and the related libraries with the task itself, also I'm using Pickles icon as the task icon, before publishing it to the VSTS Marketplace, I was wondering if

[2018-04-26 13:53] mmajcica commented on #482
Guys, I do have the extension already. I was wandering here https://github.com/picklesdoc/pickles/issues/525
if I am legally allowed to publish it publically.

[2018-04-26 14:28] dirkrombauts commented on #525
Cool!

Pickles is licensed under an open source license: https://raw.githubusercontent.com/picklesdoc/pickles/develop/LICENSE.txt

My read on it: you are creating a derivative work, which you can publish as long as you stick to the license, especially item 4.

[2018-04-27 12:51] mmajcica commented on #525
Hi @dirkrombauts,

I do not see that the license mentions anything about redistributions in binary form, as it is done for SpecFlow.
I'm thinking of just mention in my license that I'm shipping the binary and related libraries from Pickles and specify the license for of it.

Do you think that would be sufficient?

[2018-04-28 14:57] dirkrombauts commented on #525
The important parts are (in my opinion):

[code]

So if you distribute a derivative work, then you must include a copy of the license. I think your work is a derivative work, because:

[code]

Since you include pickles and use the icon, I think that constitutes a derivative work.

**I think you can fulfill the requirements of the licenses if you copy the content of the pickles license file complet

[2018-04-28 18:36] #523 closed

[2018-04-28 18:54] dirkrombauts commented on #523
Released in version [2.18.2](https://github.com/picklesdoc/pickles/releases/tag/v2.18.2)

[2018-04-30 09:33] mmajcica commented on #482
I published a Pickles extension on VSTS marketplace, further testing and feedback would be welcome.
https://marketplace.visualstudio.com/items?itemName=mmajcica.PicklesGenerator

[2018-04-30 09:35] mmajcica commented on #525
Done.
https://github.com/mmajcica/PicklesGeneratorTask/blob/master/LICENSE.txt
https://marketplace.visualstudio.com/items?itemName=mmajcica.PicklesGenerator

[2018-04-30 21:29] DominikBaran commented on #521
@dirkrombauts : I think it is not - in the nunit report i could see different coding for the '"' character
sometime is &quot; and sometimes it is \&quot
Example line:
<test-case name="Selectron.CAP1131.CodeGen.Acceptance.Features.CAP1131_CodeGen_ConsoleCommandlineFeature.GeneratePLC_ConfigC_CodeWithConsoleFailed(&quot;-c \&quot;Not Available\&quot; -m \&quot;{TestData}\\mos\\MOS83x_V730.CC6B\&quot

[2018-05-01 11:55] gep13 commented on #523
@dirkrombauts thanks for getting this updated!

[2018-05-03 17:49] dirkrombauts commented on #482
Thanks! I announced it on Twitter.

[2018-05-03 17:49] #482 closed

[2018-05-09 09:08] csurfleet commented on #235
Has anyone been looking at this recently? I've been adding support into the xunit.gherkin.quick project to output xml with the traits required for picklesdoc generation, but I'd like to have the generation happen from a build server which may not be windows, so core support would be great.

I'm happy to put a bit of time into helping out with it, if theres a mini backlog of requirements :D

[2018-05-10 17:53] dirkrombauts commented on #235
@csurfleet I'm afraid there hasn't been any progress here. It will be a long way to port Pickles to .NET Core

Something that would help on the way to a .NET Core version is replacing the library that we use for parsing the command line arguments (of the command line version of Pickles) with this one: https://github.com/commandlineparser/commandline

BTW: that will for sure break compatibility wit

[2018-05-10 18:27] #486 closed

[2018-05-10 18:33] dirkrombauts commented on #390
@boris779 any updates from your side? If not, I will close this issue.

[2018-05-10 18:35] dirkrombauts commented on #294
I'm closing this issue because there hasn't been any activity for a long time.

[2018-05-10 18:35] #294 closed

[2018-05-11 02:16] DominikBaran commented on #522
@dirkrombauts : do not you like that solution : https://github.com/picklesdoc/pickles/pull/509 ?
what i did there is only get rid of additional \" if exist - seems to be good and clear for new/older version of Xunit and also friendly for the paths in the name.

[2018-05-11 07:38] tmoreno commented on #518
Hi @dirkrombauts,

I've just generated a new report with 2.18.2 version and, works perfectly!

Thank you so much :D

[2018-05-11 11:41] dirkrombauts commented on #518
You're welcome!

[2018-05-11 11:41] #518 closed

[2018-05-11 12:06] dirkrombauts commented on #522
@DominikBaran I'm glad you found something that works for both versions. What I mean with "support a version" is that I have a separate project in the test-harness solution for each supported version, unit tests for each supported version, ... that takes time and effort which I don't have at the moment.

It's been my experience that people upgrade minor versions quite easily, so telling them "plea

[2018-05-14 23:35] clundy-columbia opened #527 "Pickles by Tag"
Hello,
We would like to be able to create pickles output via tag. We have @permissions tags for our permissions and would like to create an output that generates a listing of all features with @permissions associated to them.

How hard would this be? You already have exclude certain tags.

[2018-05-15 11:15] dirkrombauts commented on #527
This request makes perfect sense :-) I'll be happy to review pull requests for this.

[2018-06-15 18:02] #507 closed

[2018-06-18 08:20] dirkrombauts opened #530 "Remove switch for experimental features"
We'll take the experimental features on board for real, and simplify the code.

[2018-06-20 10:05] jonathanbass commented on #481
Should this issue be closed now?
I was prepared to fix this but it looks like it has [https://github.com/picklesdoc/pickles/blob/develop/src/Pickles/Pickles.DocumentationBuilders.Excel/ExcelSheetNameGenerator.cs#L34](already been implemented)

[2018-06-20 13:30] pawarvaibhav commented on #481
This solution will cause errors if the feature names are long and similar to one another - For e.g.
Feature1: FeatureNameLongerThanThirtyOneCharacters.feature
Feature2: FeatureNameLongerThanThirtyOneNumbers.feature

In this case, I believe pickles would throw an error coz, it trimmed both file names and 2 worksheets will end up having the same name.

[2018-06-20 13:40] dirkrombauts commented on #481
@jonathanbass as far as I understand it, this issue is still open - for the reasons mentioned by @pawarvaibhav . You are very welcome to fix it :-)

[2018-06-20 14:09] jonathanbass commented on #481
Ah, okay sure. I understand now.

So what would we like the actual fix to do if the names are the same according to the first 31 characters?

Increment a numeric suffix?

[2018-06-20 19:01] jonathanbass commented on #481
Actually @dirkrombauts and @pawarvaibhav if you see [https://github.com/picklesdoc/pickles/blob/develop/src/Pickles/Pickles.DocumentationBuilders.Excel/ExcelSheetNameGenerator.cs#L41](here) this will append a number in brackets if the sheet name already exists.
It is fully unit tested too.

So I am pretty sure we can close this :)

[2018-06-21 09:42] dirkrombauts commented on #481
@pawarvaibhav your comments? Do you still experience the problem? If so, could you please provide a sample that demonstrates the error?

[2018-06-29 08:30] dlidstrom commented on #18
Perhaps it would be useful to have the other option too: IncludeTags (a list of tags to include). That would complete this feature combo, don't you think?

[2018-07-05 10:58] dirkrombauts commented on #18
@dlidstrom the really cool version would be some kind of simple logical language to specify tags to include and exclude. See my 2nd comment in January 2016.

[2018-07-05 12:50] dlidstrom commented on #18
@dirkrombauts That looks good, definitely. Some tools allow you to use regular expression for include and exclude statements. I'm not sure how that option would combine with whatever Pickles supports now, but it's easy to implement and usually covers most needs:

* only tags matching “GUI”: `--include "^GUI$"`
* Only tags matching “DB” and “CI”: `--include "^DB|CI$"`
* Exclude tags matching “GUI”:

[2018-07-06 09:08] dirkrombauts commented on #18
I'll be happy to review any pull requests you may send my way ;-)

[2018-07-13 04:52] debasisj opened #536 "How to link test results to failed scenario"
I am currently using nunit3 testresults.xml to generate my pickle dhtml report.
All good but what i am missing how to link contents under <output> on the failed step link.

I am using another report ReportUnit by Extent Reports and that nicely shows me the what went wrong based. - Please refer the snapshot below
![image](https://user-images.githubusercontent.com/17722879/42672911-197016fc-86ac-11e

[2018-07-13 04:54] debasisj commented on #536
[TestResult.txt](https://github.com/picklesdoc/pickles/files/2191334/TestResult.txt)

[2018-07-20 18:40] dirkrombauts opened #538 "Handling of @ signs"
This issue is about solving the problems reported by MichielBerkhof in #509 on and after 11 July.

[2018-08-19 14:31] rik-smeets opened #539 "Test cases of Scenario Outlines with multiple (named) example sections not matched with results when using VsTest"
Related to #507.

In a Scenario Outline with multiple example sets (both named and unnamed), where test case names are generated ending with `Variant`, the test results cannot be matched to the results in the VsTest result file. With the examples below, this issue can be reproduced.

**Named example sets:**
[code]

**Unnamed example sets:**
[code]

[2018-08-19 14:32] rik-smeets commented on #539
I'm working on a fix for this now; should be done in a couple of days. Just posting this issue in case someone else ran across this and is working on it too.

[2018-08-19 14:50] rik-smeets opened #540 "CreateTestResults.cmd uses test runners of Visual Studio 2015"
With VS2017 now well over a year old, it might be time to replace the hardcoded references to the VSTest and MSTest test runners locations in `CreateTestResults.cmd` to their new locations in VS2017.

Small challenge: the install location is now different based on the version of Visual Studio in use, i.e. Community/Enterprise etc.

For example, `vstest.console.exe` can now be found here (when usin

[2018-08-27 11:00] psoszynski opened #543 "VsTestScenarioOutlineExampleMatcher fails to match on examples with comma in the first column"
Adding ".Replace(",", String.Empty)" to:

            var matchValue = exampleValues[0]
                .Replace(" ", string.Empty)
                .Replace(":", string.Empty)
                .Replace("\\", string.Empty)
                .Replace("(", string.Empty)
                .Replace(")", string.Empty)
                .Replace(".", "_")
                .Replace("!", string.Empty)

[2018-08-27 15:08] rik-smeets commented on #543
This is resolved by my PR as well, which is already opened for review: #542.

[2018-08-27 16:39] dirkrombauts commented on #540
I agree that this is a good idea ... some people probably are lucky enough to have only VS2017 :-D

But I don't like the fact of forcing people to have a particular flavour of visual studio. Do you have an idea on how to probe for the existence of a file in a `.cmd` file?

[2018-08-27 17:53] rik-smeets commented on #540
I consider myself very lucky indeed ;-).

I think PowerShell is the way to go here. In `.cmd` it can probably be done but I don't think it would be very clean. The current script is ported easily enough to PowerShell, which I could do if you like?

[2018-08-27 18:14] dirkrombauts commented on #540
That would be awesome!

[2018-09-04 07:42] #540 closed

[2018-09-10 07:25] gasparnagy opened #545 "Inconclusive marker shown when generating doc without test results"
I would like to generate the documentation without test results. I don't pass any test result related arg, but the yellow exclamation marks are displayed next to every scenario in DHTML format.
Is there an easy way to hide these?
I am using v2.19

[2018-09-10 07:30] dirkrombauts commented on #545
Hi,

That sounds like a bug :-(

How do the other output formats behave, especially the static HTML format?

[2018-09-10 12:11] gasparnagy commented on #545
The problem seems to be only in the dhtml (html and word is fine).

[2018-09-10 13:03] dirkrombauts commented on #545
Then it's probably a problem in the templates of the DHTML version. I will probably have time to have a look at it over the weekend.

[2018-09-10 13:06] gasparnagy commented on #545
Thx. But if you give me a hint where these templates are, I can also check it. This is not an urgent issue.

[2018-09-10 13:16] dirkrombauts commented on #545
The templates (they are knockout-based) are in the Index.html file in the Pickles.BaseDhtmlFiles project.

[2018-09-16 16:11] dirkrombauts commented on #545
@gasparnagy could you please try out #546 and check whether it solves your problem?

[2018-10-04 06:58] magicmonty commented on #90
I will give it a try

[2018-10-04 12:53] magicmonty opened #548 "Exception in XUnit2ScenarioOutlineExampleMatcher"
Given the following feature:

[code]
and the following TestResultsFile:

[code]

There is a System.ArgumentException with the message "Die Zeichenfolge kann keine Länge von 0 (null) haben.\r\nParametername: oldValue" (in English "The string cannot hav a length of 0 (null)....") in `XUnit2ScenarioOutlineExampleMatcher.ScenarioOutlineExampleIsMatch`

This was introduced in PR #509

I have a fix and

[2018-10-04 12:56] dirkrombauts commented on #548
Cool, thank you! I welcome your PR and will look at it as soon as I can!

[2018-10-07 10:54] #548 closed

[2018-10-07 10:55] #545 closed

[2018-10-08 12:57] #90 closed

[2018-10-08 20:25] roundand commented on #90
That's so great, thank you both!

[2018-10-09 15:59] dirkrombauts commented on #548
Released in version [2.20.0](https://github.com/picklesdoc/pickles/releases/tag/v2.20.0).

[2018-10-09 16:01] dirkrombauts commented on #545
Released in version [2.20.0](https://github.com/picklesdoc/pickles/releases/tag/v2.20.0).

[2018-10-09 16:02] dirkrombauts commented on #90
Released in version [2.20.0](https://github.com/picklesdoc/pickles/releases/tag/v2.20.0).

[2018-10-12 07:29] darrencomeau commented on #237
This would be really useful when committing the results back to source control as the likes of GitHub, Azure DevOps, and BitBucket don't render HTML but would display your Markdown content faithfully.

You could keep your test results along side the code, keeping them immutably linked.

Is anyone actively working on this?

[2018-10-13 04:18] dirkrombauts commented on #237
Hi,
As far as I know, no-one is working on this at the moment. So feel free to have a go at this yourself 🙂

[2018-10-13 12:30] darrencomeau commented on #237
**I'd certainly like to give it a go.** 🙂

I'll start putting up some suggested formats for discussion and over the next few weeks I'll see what I can do!

[2018-10-15 11:17] darrencomeau commented on #237
Just starting the ball rolling on ideas for the formatting.

Has anyone got any suggestions for what they'd like to see in a markdown document format?

- Single page, multipage
- Links across headers
- Summary of execution
- Any images/logos
- etc...

# Features

---

Generated on: 14 October 2018 11:34:52
2 tests : 1 passing : 1 failing

---

## My Project/Assembly/Class?

---

### *`@MyTag`*
###

[2018-10-15 13:58] AndyLPK247 opened #551 "HTML and DHTML report does not include results for scenario outlines from SpecRun"
I followed all instructions here:
http://docs.picklesdoc.com/en/latest/IntegratingTestResultsFromSpecRun/

However, results are not posted for scenario outlines in the DHTML report:
![image](https://user-images.githubusercontent.com/17988946/46955304-9f215600-d060-11e8-95f2-8804c0c2387d.png)

Note that each value in the first column is unique.

[2018-10-15 14:30] AndyLPK247 opened #552 "DHTML report uses warning icon when results aren't used"
This is the warning icon: ![image](https://user-images.githubusercontent.com/17988946/46957224-1d7ff700-d065-11e8-8a3d-b778e5a15a70.png)

It appears for all features and scenarios in the DHTML report when no test results are included. This implies that the test results were problematic or inconclusive, rather than not included. It would be helpful if the DHTML report did not include this icon when

[2018-10-15 15:19] 0x6C6F opened #553 "Javascript error in dhtml doc"
The dhtml report is not shown in TeamCity and is blocked with the message "Loading..."

![2018-10-15_17h23_32](https://user-images.githubusercontent.com/8344145/46960559-1b3a8e80-d09f-11e8-82d8-8ee5f0af8699.png)

Pickles.MSBuild 2.20.0, Specflow 2.4.0, NUnit 3.11.0, TeamCity 2017.2.2

The browser console (Chrome 69) contains the following Javascript error:
[code]

After some analyses I see that in

[2018-10-15 15:33] tmoreno opened #554 "Warning icon in examples with quoted chars"
Pickles version: 2.20.0
Test framework: NUnit 2

I'm getting warnings on examples with quoted chars like this:

![screenshot](https://user-images.githubusercontent.com/1009817/46961009-1c1ff000-d0a0-11e8-9ee3-64de509c10a9.png)

If I changed "Sin micrófono" by "Sin microfono" warnings becomes to success.

I think that should be a bug when parsing latin chars.

[2018-10-17 04:38] dirkrombauts commented on #552
Thanks for telling me about this. Which version of Pickles are you using?

[2018-10-17 04:41] dirkrombauts commented on #554
There's a pull request (#542) that should bring some improvement to matching scenario outline results. I linked this bug to that pull request so that we take a look at this situation as well.

In general, matching the results to the correct example in a scenario is a tricky business, and it's different for each test runner.

[2018-10-17 04:42] dirkrombauts commented on #553
Thanks for the bug report and the investigation - that is very helpful!

[2018-10-17 04:44] dirkrombauts commented on #551
Thanks for reporting this! Would it be possible for you to provide the Login feature file and the test result file? That would help me to debug.

Which version of Pickles are you using, and which test runner?

[2018-10-17 05:47] #553 closed

[2018-10-17 05:48] dirkrombauts commented on #553
I will release a new version of Pickles later this week.

[2018-10-17 13:05] AndyLPK247 commented on #552
2.19.0

[2018-10-17 13:07] AndyLPK247 commented on #551
Pickles 2.19.0
SpecFlow 2.4.0
SpecRun.Runner 1.8.2

[2018-10-17 13:17] dirkrombauts commented on #551
I will release version 2.20.1 soon. When I do, please try gain with that version. There are some relevant changes.

[2018-10-17 13:17] dirkrombauts commented on #552
I will release version 2.20.1 soon. When I do, please try gain with that version. There are some relevant changes.

[2018-10-17 13:19] AndyLPK247 commented on #551
Okay, thanks! I'll wait and retry. If the problem persists, I'll share files. (I'll need to create an example project to reproduce the problem effectively.)

[2018-10-18 17:46] dirkrombauts commented on #553
I released a fix in version [2.20.1](https://github.com/picklesdoc/pickles/releases/tag/v2.20.1).

[2018-10-18 17:47] dirkrombauts commented on #552
I released version [2.20.1](https://github.com/picklesdoc/pickles/releases/tag/v2.20.1), could you please try that version?

[2018-10-18 17:48] dirkrombauts commented on #551
I released version [2.20.1](https://github.com/picklesdoc/pickles/releases/tag/v2.20.1), could you please try that version?

[2018-10-19 13:51] AndyLPK247 commented on #552
Version 2.20.1 fixes this issue. It's beautiful. Thanks much!

[2018-10-19 14:33] AndyLPK247 commented on #551
Thanks for the update, @dirkrombauts.

I attempted to use version 2.20.1, but the problem is not fully fixed. I made an example SpecFlow project with some passing and some failing tests:
![image](https://user-images.githubusercontent.com/17988946/47224612-f2a9e180-d389-11e8-927a-aa95b24b6616.png)

Here's the HTML report from the SpecRun report:
![image](https://user-images.githubusercontent.com/17

[2018-10-19 14:34] AndyLPK247 commented on #551
Here's the feature file:

    Feature: Pickle

	Scenario: A
		Given A

	Scenario Outline: B
		Given some "<thing>"

		Examples: Things
			| thing |
			| 1     |
			| 2     |
			| 3     |

[2018-10-19 14:37] AndyLPK247 commented on #551
Here's the SpecRun report:
[PicklesTest_PicklesTest_2018-10-19T102505.zip](https://github.com/picklesdoc/pickles/files/2496248/PicklesTest_PicklesTest_2018-10-19T102505.zip)

[2018-10-23 08:03] #552 closed

[2018-10-23 10:43] darrencomeau commented on #237
I'm starting to implement this output format now...

Source code is in my repo on the [markdown_output](https://github.com/VulcanAnalytics/pickles/tree/feature/markdown_output) branch. If there's anything anyone wants contribute then I can look at pull requests to that branch.

There is a [project board](https://github.com/VulcanAnalytics/pickles/projects/1) where you can track progress.

If there

[2018-10-24 06:40] dirkrombauts commented on #237
Cool - my implementation time is limited, but if you have any technical questions, I'll do my best to answer them!

[2018-10-24 19:45] darrencomeau commented on #237
Hi @dirkrombauts, how would you like the pull requests? A single request once all changes are complete or incremental so that you can keep tabs on the implementation and release when you feel there's enough functionality?

I've got the title

complete, not ground breaking but marks an understanding of the plumbing etc.

[2018-10-25 13:37] dirkrombauts commented on #237
If you ask me: create a pull request now, and put something like "Work in Progress" in the title. Whenever you add commits to your branch, the pull request gets updated. That way I can have a look at it from time to time.

[2018-10-25 17:44] darrencomeau commented on #237
Great, I'll go ahead and do that.

[2018-10-28 14:40] dirkrombauts commented on #237
That looks very thorough so far!

[2018-10-29 11:39] gimmi opened #558 "Microsoft.Build.Utilities v3.5 required for Pickles.MSBuild"
Hi,

when compiling a project that uses `Pickles.MSBuild` NuGet package, i get the following error:

[code]

This seems to be related to the fact that i don't have __legacy__ versions of .NET runtime installed on the machine.

[2018-10-29 12:44] dirkrombauts commented on #558
What exactly do you mean by "legacy" version of .NET runtime?

Also: from the error message it seems you are using quite an old version of Pickles (2.16.2) - could you please try to use the latest version and see if it works better?

[2018-10-29 14:28] gimmi commented on #558
I suppose that what's needed is the ".NET Framework 3.5 (includes .NET 2.0 and 3.0)" Windows feature:

![image](https://user-images.githubusercontent.com/6589/47656244-0118aa00-db8f-11e8-93d8-c9b26c864b62.png)

Ok, will try

[2018-10-29 18:40] darrencomeau commented on #237
Thanks.

There's a build issue which I'm ignoring atm, do you know anything which might fix it? Looks to be all related to the cucumber code;

[2018-10-29 18:55] dirkrombauts commented on #237
Do all projects use the same version of the SpecFlow package? Does the Cucumber.UnitTests project have an explicit reference to the SpecFlow package?

[2018-10-29 19:25] swatisharma03 opened #559 "NullReferenceException"
Hello,

I am getting the following error. Not sure why? Is it because I have background in my features?

PM> Pickle-Features -FeatureDirectory .\Automation.Framework\Features -OutputDirectory C:\Pickles -SystemUnderTestName "Automation Framework" -SystemUnderTestVersion "6.2" -DocumentationFormat dhtml
Pickles v.2.20.1.0

Generating documentation based on the following parameters
-----------------

[2018-10-30 06:40] dirkrombauts commented on #559
Pickles does look for features recursively. If you can provide me with a sample project that shows the error, I can investigate.

[2018-10-30 09:15] swatisharma03 commented on #559
Thanks for replying.  Please  find below the folder structure of my feature files:
![image](https://user-images.githubusercontent.com/19341405/47707481-d88ebf80-dc23-11e8-8fd2-a97f22ac9994.png)

So if I use,
PM> Pickle-Features -FeatureDirectory .\Automation.Framework\Features -OutputDirectory C:\PICKLES -DocumentationFormat dhtml

I get this error:
Pickle-Features : Object reference not set to an

[2018-10-30 10:50] dirkrombauts commented on #559
This leads me to believe there may be a problem with the format of one of the feature files in your solution. Could you try to narrow it down by restricting to Planning, and then to DataCapture - like you did with SystemSettings?

[2018-10-30 12:54] matthew-p opened #560 "Invalid comparison"
Is line 46 here actually the intended implementation?

"if: (!WasExecuted && WasExecuted)"

https://github.com/picklesdoc/pickles/commit/f078a8ac2f7b76ab04b3d301d9184d7e5d105864#diff-63def25e4324a85e098e45f45fbbc241

[2018-10-30 13:04] dirkrombauts commented on #560
No ... that should probably be `(!WasExecuted && WasProvided)` ...

[2018-10-30 13:05] dirkrombauts commented on #560
Could you make a pull request with a fix? Many thanks!

[2018-10-30 15:33] swatisharma03 commented on #559
You were right. It was because there was an empty feature file.
Deleted it and it worked fine.
Thanks a lot.

[2018-11-06 09:01] zadigus opened #561 "Cannot generate documentation under Windows if pickles is installed in a different drive than the features location"
Hi,

I wanted to give pickles a try and I already found a problem.

Given

* my features are located under d:\webdev\spec\features
* my pickles installation is under c:\ProgramData\chocolatey\bin\pickles.exe

When I run

    c:\ProgramData\chocolatey\bin\pickles.exe --feature-directory="d:\webdev\spec\features" --output-directory="d:\webdev\spec\documentation" --system-under-test-name=my-project -

[2018-11-06 09:30] dirkrombauts commented on #561
Thanks ... that looks unexpected. What does it look like with the second version?

BTW: under windows, "clear" is called "cls"

[2018-11-06 09:50] zadigus commented on #561
In fact, I got it working now when I run pickles from drive c:\ on a spec located on drive d:\. Here's the console output:

![image](https://user-images.githubusercontent.com/8761254/48055980-2621a400-e1b1-11e8-9618-e8eac64e4328.png)

Still no summary though and also the recursive scanning doesn't work, that's why my commands in the above messages were not working. My folder structure is like this

[2018-11-06 09:52] dirkrombauts commented on #561
It should be compatible ... are there perhaps any syntax errors in your feature files?

[2018-11-06 10:06] zadigus commented on #561
How is pickles dealing with empty feature files or files with comments only? Because I noticed that I have such files in that huge spec.

[2018-11-06 10:10] dirkrombauts commented on #561
Pickles doesn't like them at all. It throws an exception. The exception message could be improved to mention the file that causes the error. And In a next step, Pickles could collect all the errors, continue processing the correct files and dumping a combined error message at the end.

[2018-11-06 10:17] zadigus commented on #561
Interesting. I get no exception at all. Is that logged somewhere?

[2018-11-06 10:29] zadigus commented on #561
I'll give it a shot a bit later today then and keep you informed.

[2018-11-06 12:33] zadigus commented on #561
So, as far as I can tell, adding a tag to all empty files or files containing only comments fixed the problem of not generating the documentation (but not that of not producing the summary output you told me about). I don't need to add the tag to the list of excluded tags. The minimum requirement seems to be that the feature files contain at least a tag or a Feature.

[2018-11-07 06:18] #561 closed

[2018-11-07 06:23] zadigus opened #562 "Some types of tables do not render appropriately in HTML"
Hi,
According to "The Cucumber Book", tables of the following kind are perfectly valid:

![image](https://user-images.githubusercontent.com/8761254/48114017-a1409400-e25d-11e8-8a70-23036af94ca1.png)

In the first case, the headers are vertical and in the second case, they are absent.

When I, however, generate the corresponding pickles documentation, I always get the first row highlighted in bold.

[2018-11-07 07:09] dirkrombauts commented on #562
Hi,
No, there’s no way to indicate this in the feature file. I usually use column headers like “property” and “value” in this case. With the added benefit that the SpecFlow automation layer recognizes this to populate objects from a table.

[2018-11-07 09:57] zadigus commented on #562
Ok thanks.

[2018-11-07 09:57] #562 closed

[2018-11-07 09:57] zadigus commented on #562
By the way, your library is very great, I like it very much.

[2018-11-07 12:50] dirkrombauts commented on #562
Thank you!

[2018-11-14 18:22] AndyLPK247 commented on #551
Any update?

[2018-11-15 11:51] dirkrombauts commented on #551
Sorry, not yet.

[2018-12-11 18:10] timvandenhof commented on #233
@caioproiete I'm interested in this feature, custom themes, as well did you make any progress the last three years?

MVP could be some parameter defining an additional CSS-stylesheet to inject/reference on the index.html.

[2018-12-12 12:14] dirkrombauts commented on #233
@timvandenhof I am not aware of any progress on this issue. I would welcome your contribution.

[2018-12-17 18:45] darrencomeau commented on #237
Hi @dirkrombauts, the pull request now has most features to make a usable document and is at a stage which I would consider ready for beta testing.

While there are still some things which can be added to the feature and likely some bugs to discover; what is the next step and how should it proceed?

Is there anything which you would want to see included still or altered?

Thanks

[2019-01-10 08:36] #560 closed

[2019-01-14 22:30] Xeli opened #568 "Index.html is not generated"
Hello!

I've got a question / issue regarding having a main index.html.

I've got a set of cucumbers each in separate directories:
[code]

So `features` is a subdir of `my-project`, and `feature-set-1/2/etc` are subdirs of `feature`.

When I run pickles using
`mono Pickles.exe -f my-project/features -o /target`

it generates html files, and puts them into subdirectories of /target but there is no

[2019-01-15 14:14] dirkrombauts commented on #568
I see that you're using mono. It's been a while since I heard from anyone using mono to run Pickles. I'm afraid Pickles does not officially support mono.

[2019-01-16 14:01] Xeli commented on #568
Hi @dirkrombauts

Ah I didn't realize this.

But the command I used, should this have generated the index.html when run without mono? (I don't have a windows machine available to try this out myself unfortunatly)

[2019-01-16 14:03] dirkrombauts commented on #568
Yes, the command itself is fine and should produce an index.html.

[2019-01-18 13:20] vikaci opened #569 "Path issues on MacOS"
Hi,

I have macOS 10.14 and run Pickles.exe under Mono.

When I run pickles and specify exactly the folder with features (e.g. Acceptance/Smoke/features) - everything is ok.

But when I want to run pickles for the whole Acceptance directory I get this error:

`Pickles did not complete successfully Object reference not set to an instance of an object`

[2019-01-18 15:09] vikaci commented on #569
Thanks for the fats reply @dirkrombauts !
Is there another way that I can get my .html file to be generated with a folder/subfolder structure? Otherwise I have a separate .html for each of my features folders :(

[2019-01-18 15:20] dirkrombauts commented on #569
What is your directory structure exactly?

[2019-01-22 09:47] vikaci commented on #569
Would look like this:
/project_folder
/feature_1/files.feature
/feature_2/files.feature
/feature_3/files.feature

basically a project folder with subfolders for each feature, in which the feature files are nested.

Thx!

[2019-01-22 10:01] dirkrombauts commented on #569
I'm assuming that the structure is

[code]

If you point Pickles to /project_folder, it should generate an index.html at the level of project_folder. It's important that project_folder and its subfolders is dedicated to `.feature` files (Markdown files and images are OK as well). Don't mix it with code files and other artifacts.

But as I said, Pickles does not officially supported on MacOS. So I

[2019-01-22 11:41] vikaci commented on #569
Thx. Found the issue now. I had a folder where the feature file was empty (blank)
Got my folder structure. Can confirm that it works nicely on macOS :)

[2019-01-22 12:06] dirkrombauts commented on #569
I'm glad that you got it working for you :-)

[2019-01-22 12:06] #569 closed

[2019-01-31 14:42] zadigus opened #570 "Is there a way to incorporate additional md files?"
Hi,
I have a folder full of feature files and a SUMMARY.md containing some more high-level information on the product corresponding to those feature files. Is there a way pickles can take that additional `md` file into account in the final output?
Cheers

[2019-01-31 15:56] zadigus opened #571 ""Background" is not translated to "Contexte" in French"
Hi,
I generated the pickles documentation based on French Gherkin feature files. Everything seems fine except the keyword "Background" does not get translated to "Contexte":

![image](https://user-images.githubusercontent.com/8761254/52066513-ff3cf900-2578-11e9-87f7-d7cca0e95b5d.png)

I ran following command:

[code]

Cheers

[2019-02-19 06:28] Pepsipu opened #572 "cannot serialize '_io.BufferedReader' object"
I'm trying to pickle a large class as a string to store into a database, but i get this error.
Could anyone shed some light on what this error is stating?

[2019-02-19 08:18] dirkrombauts commented on #572
Hi,

Can you give us a bit more information: where do you see this error? When exactly does it happen? Which version of Pickles are you using, on which platform?

[2019-03-05 09:26] dirkrombauts commented on #570
Hi,
I apologize for not answering sooner. Real life does not give me many opportunities to work on Pickles right now.

The Html version of Pickles will pick up an `.md` file if you name it `index.md`.

Does that address you scenario?

[2019-03-05 09:56] dirkrombauts commented on #571
This looks like a bug. Thanks for reporting it.

[2019-03-05 09:57] dirkrombauts commented on #572
I'm closing this issue because the original poster did not reply after two weeks. Additionally, from the title it sounds like something python-related, and was probably posted on the wrong board.

[2019-03-05 09:57] #572 closed

[2019-03-30 08:58] rutujar opened #573 "import pickle"
How to install pickle  in Python3 for ubuntu 16. 04?

[2019-03-30 19:02] dirkrombauts commented on #573
Pickles is not supported on Ubuntu or Linux in general. It usually works pretty well when using Mono on Linux. Python is not relevant for Pickles.

[2019-03-31 04:33] rutujar commented on #573
@dirkrombauts i need ur help for my work

* part of the code
import pickle
charModel = cPickle.loads(open(args["char_classifier"]).read())
digitModel = cPickle.loads(open(args["digit_classifier"]).read())

* error
charModel = cPickle.loads(open(args["char_classifier"]).read())
NameError: name 'cPickle' is not defined

how to resolve this issue help needed.

[2019-03-31 05:43] dirkrombauts commented on #573
Sorry mate, you’re at the wrong place. Pickles is a stand-alone Windows program, not a Python library.

Since I have no experience with Python at all, I cannot help you.

[2019-03-31 06:28] rutujar commented on #573
Ok

[2019-03-31 06:28] #573 closed

[2019-04-05 12:46] janissimsons opened #574 "Including stack trace and error msgs in report"
Hi,
Is it possible to include error messages and stacktrace for the failed tests? They exist in nunit TestResult.xml file, but generator is not using them.

Similarly as it's done in the SpecRun HTML report.

[2019-04-05 13:31] dirkrombauts commented on #574
Hi,
Thanks for your interest. This is a request that comes often. I understand the desire to have information that's useful for developers to diagnose and fix errors. It is unlikely to happen, though, for two reasons:

1. Time. I have very little time to personally spend on Pickles these days. About all I can do is guide pull requests along. The feature you request would take significant developme

[2019-04-06 09:40] janissimsons commented on #574
I could implement it myself, can you recommend how to do it? I am not familiar with your source, but I know C#/.Net quite well.

[2019-04-09 18:08] enkessler commented on #559
I just ran into this problem as well. Pickles was failing silently and not generating anything and I narrowed it down to being caused by the addition of an empty '.feature' file.

But an empty feature file is syntactically valid (if not particularly meaningful) Gherkin.

[2019-04-12 08:57] janissimsons opened #575 "Latest version fails silently and doesn't generate anything"
Hi,
I just updated to the latest version (2.20.1.0) and when I generate report from command line, just as I did before, it fails silently (no errors, no output at all) and nothing is created in the output folder.

Command I use:
`pickles --feature-directory="C:\Code\repos\projectName\Tests.Dir\Features" --output-directory="C:\Code\repos\projectName\docs" --enableComments=false --language=en --docu

[2019-04-12 09:08] janissimsons commented on #575
I tried running the tool from VS Package Manager Console, then it output a single line of error:
`Pickles did not complete successfully Object reference not set to an instance of an object.`

There I used this command:
`.\packages\Pickles.CommandLine.2.20.1\tools\pickles.exe --feature-directory=.\Tests.Dir\Features --output-directory=.\docs`

[2019-04-12 09:24] janissimsons commented on #575
I think I found the issue, I had a feature file which was completely commented out (every single line). I tried deleting that feature and running Pickles again, and then the report was generated.
@dirkrombauts could you add a fix for these kinds of situations? Ignoring features that aren't formatted correctly and warning user about it.

Thanks!

[2019-04-12 11:05] dirkrombauts commented on #575
@janissimsons I agree that it would be much better if Pickles would not fail silently in these cases.

My Pickles time is currently extremely limited, so your best bet to have this fast is to implement it yourself (including unit tests), and send me a pull request. Thanks!

[2019-04-12 11:07] dirkrombauts commented on #575
I'm closing this issue since the behavior is not specific to the latest version - it's actually a known issue.

[2019-04-12 11:07] #575 closed

[2019-04-12 11:11] dirkrombauts commented on #574
Thank you for your offer to implement this feature yourself. You would need to implement this feature in such a way that all test result providers are covered, and all output formats as well.

But my second point still stands. I've been thinking about it this week, and my conclusion is that this feature does not fit my vision of Pickles.

So if you feel this feature would be of value to your situa

[2019-04-12 11:11] #574 closed

[2019-05-01 08:33] ajeckmans opened #576 "Multiple scenarios in different feature files share the same result"
We have two sets of feature files, for blackbox and whitebox, which sometimes share the feature name and even scenario name. Currently we're only including the results of the whitebox tests, but these results now also show up in the blackbox features.
Is this misconfiguration on our part or missing functionality?

[2019-05-02 12:03] dirkrombauts commented on #576
This is due to the way Pickles tries to match results to scenario's, I'm afraid. Pickles looks at the name of the feature and of the scenario to try and determine which test result belongs to which scenario. If some features and even scenarios share the same name, that will likely make Pickles use the test result of one of those scenarios for the other scenario with the same name as well.

The onl

[2019-05-08 15:44] yamac-kurtulus commented on #576
I haven't much used Pickles, and i didn't try a case like yours myself, but did you try using tags?

[2019-05-09 18:26] kwlin commented on #453
Question about this issue & merged pulled request #529

We have feature files without any scenario's. This kind of feature files are more a description about a feature.

The older version of pickles (like 2.18) will generate living docs with this feature file, but since 2.19 the feature is not in the living docs/output anymore. Can we bypass this option/feature of pickles?

[2019-05-10 15:03] dirkrombauts commented on #453
Hi,

No, you cannot bypass this feature of Pickles.

There is an alternative way to include your descriptions in pickles. Are you familiar with MarkDown? You can include MarkDown files, and Pickles will render them. The easy, works-90%-of-the-times way is to rename your `feature-file-without-scenario.feature` to `feature-file-without-scenario.md`.

Does that help you?

[2019-05-15 19:19] kwlin commented on #453
Thnx for the alternative way! I'll try it out asap

[2019-05-17 09:16] barnabii commented on #521
Hello together
I have tried with the latest Pikles version 2.20.1 with nunit3 test result file.
Now no more inconclusive test results are shown within the dhtml report.
But every scenario outline example containing a " sign  shows now an empty test result state.
![grafik](https://user-images.githubusercontent.com/7600847/57917496-163bf880-7895-11e9-8183-1b1507824d65.png)

It would be nice if that

[2019-05-17 09:22] dirkrombauts commented on #521
Thanks for mentioning this. Matching examples to test results is notoriously brittle. I have very little time to spend on Pickles these days, so unless somebody takes up this issue, it's unlikely to be fixed any time soon.

[2019-06-26 17:23] patriml commented on #237
I'm interested in this feature, can I help somehow?

[2019-06-26 18:03] dirkrombauts commented on #237
Yes, you can! There‘s a pull request for a markdown output format. It would help if you could put that version to the test. Use it on your features and see if the output matches your expectations.

[2019-07-10 21:24] reebr commented on #233
I would like to be able to use a different theme of what is generated by Pickles.

[2019-07-23 18:57] shahzad285 commented on #558
HI @gimmi did the above solution resolve the issue

[2019-07-24 18:15] dirkrombauts opened #577 "Time to pass on the torch"
For the past year or more, I’ve had very little time to devote to Pickles. My professional interests have taken a different direction, so development of Pickles basically stalled.

Do you want to bring new enthusiasm to Pickles? Do you want to take over active development and maintenance at Pickles? Comment on this issue, or contact me directly at dirk dot rombauts at picklesdoc dot com.

[2019-07-28 18:49] gimmi commented on #558
Hi @shahzad285

sorry, but I've moved away from the project that uses that old pickles version, and I have not a quick way to test it.

Will close the issue for now, thanks for support.

[2019-07-28 18:49] #558 closed

[2019-08-28 09:08] andez2000 opened #578 "Powershell and xunit2 - An error occurred during the activation of a particular registration"
I have created a dotnetcore application with xunit (2.4.1) as the unit test framework.  I followed this [example](https://www.marcusoft.net/2013/01/pickles-generate-specflow-documentation.html) to get a powershell command line running to generate the docs.

My powershell

 file to do this looks like the following:

[code]

This generates the following output and error in the console:
[code]
The te

[2019-09-04 09:38] dirkrombauts commented on #578
Hi,

Pickles does not support the test result files that are produced by .NET Core. So you can generate a living documentation of your application, but you will not be able to include test results in this case.

Cheers,
Dirk

[2019-09-04 09:38] #578 closed

[2019-09-04 20:28] andez2000 commented on #578
Hmm, but the test output is XML? I'm not sat at a computer to verify. Could we not make it support dotnetcore?

[2019-09-05 08:03] dirkrombauts commented on #578
The test output is indeed XML - but it has a different structure from the xml that is produced when using xunit in a non-dotnetcore environment.

With regard to making it support dotnetcore: that is of course technically possible. However, I currently don't have time to do development work on Pickles. I don't even have time to review pull requests and make releases at the moment ...

[2019-12-30 23:53] camerontbelt opened #579 "Output markdown"
Would it be possible to have this also output markdown files? I would love to include this in my azure dev ops build pipeline to keep the wiki up to date. Azure dev ops allows you to populate your wiki with markdown from your git repository, so this would work nicely with that if given the ability to output in markdown.

[2020-01-05 18:39] dirkrombauts commented on #579
Hi,

Thank you for your interest!  There's good news and bad news. The bad news: things are going very slowly with Pickles these days. The good news: there is a pull request that will add markdown output. I'm looking for feedback on it.

Could you take a look at the markdown feature in https://github.com/picklesdoc/pickles/pull/557 and give me some feedback on it? Do you need help to get started w

[2020-02-11 14:19] johnboygit opened #580 "Dhtml Overview page showing all scenarios as inconclusive using vstest test results"
I'm using SpecFlow 3.1.78 configured for the xunit test runner in a number of .Net Core test projects.

I'm running my tests using "dotnet vstest" and using the trx logger to generate test result output.

On using Pickles to generate a Dhtml report with integrated test results I'm seeing that the main results page displays results correctly but the Overview page shows all tests as Inconclusive.

T

[2020-02-11 14:21] dirkrombauts commented on #580
Thank you for your kind words about the tool being great.

Unfortunately, Pickles does not support test results generated by dotnet vstest. So your scenario will not work.

[2020-02-11 16:10] johnboygit commented on #580
Thanks for your swift response. I thought that "dotnet vstest" was much the same as running tests with vstest.console.exe (which I believe is supported).

To compare, I just ran my tests using vstest.console.exe and generated a new trx results file and I got the same result in Pickles. The Overview shows all tests as inconclusive.

[2020-02-19 09:19] dirkrombauts commented on #580
Hi,
I really have no experience with dotnet vstest, and I have never supported .NET Core on Pickles. So I'm afraid that I can't help you here.

[2020-04-03 07:42] lobeu opened #581 "Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'PicklesDoc.Pickles.TestFrameworks, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified."
Hi there,

I've been using pickles for more than a year on my project and it's great!

However for some reason it stopped working today. We changed nothing and suddenly when running the command in commandline the following error is thrown:

![image](https://user-images.githubusercontent.com/34190689/78336128-246b3400-758f-11ea-9196-3b76f2e584f6.png)

Unhandled Exception: System.IO.FileNotFoundExce

[2020-04-10 14:24] dirkrombauts commented on #581
Hi,

This is just a wild guess, but did you perhaps upgrade SpecRun?

[2020-04-14 06:01] taizoon commented on #581
I ran into the same issue as well. Turns out that the `PicklesDoc.Pickles.TestFrameworks.dll` was picked up as a Trojan. I removed that package from our code repo for now

[2020-04-14 07:27] dirkrombauts commented on #581
That's interesting. Did you see any indication why it might have been considered a Trojan?

[2020-04-14 07:36] taizoon commented on #581
not really.. another member on team as well saw the same issue. I suspect that's preventing the dll from being loaded.

[2020-04-14 16:56] taizoon commented on #581
This is the reason from reported by the Anti-Virus agent - **Trojan HEUR:Trojan.MSIL.Crypt.gen**

[2020-05-10 11:43] cicinsain opened #582 "Support for Gherkin 6"
Gherkin 6 introduces the concept of _Rule_. It represents a group of scenarios in a feature. With this enhancement and with using _Example_ as a synonym for _Scenario_, Gherkin is getting even closer to the BDD techniques like Example Mapping.

Although it means some work both in the parser and in the DHTML code, introducing support for Gherkin 6 would maintain Pickles far from obsolescence and ex

[2020-05-13 11:30] matthewjhayhurst opened #583 "Can I get each row in Specflow Scenario Outline Test to count as different scenarios in the Pickles report?"
Say for example I am using Scenario with 4 rows in the Examples table when using Specflow.

When I run the test, the Specflow+ report shows 4 scenarios as it counts each row as a separate scenario.

However, the Pickles report only shows 1 scenario.

Is it possible to configure Pickles so that it shows each row in a Scenario Outline Specflow test as a separate Scenario?

[2020-05-19 15:31] flubbid opened #584 "DHTml - Searching by @Tags | Scenario does not display cross features file"
I have been creating feature files with different scenarios, and adding tags to them to tie them to the stories the tests are related to.

I wanted to test the search functionality by adding 2 tags in two separate feature files to different scenarios. When I search for the tag in the DHTML, it only returns 1 of the results as opposed to all of the tags in relation.

![image](https://user-images.gi

[2020-05-20 05:44] TesterEric opened #585 "Tests show inconclusive when passed on the report"
Tests show inconclusive when most of them pass on the report

Example feature file:
![image](https://user-images.githubusercontent.com/65644149/82409193-8283a600-9a6d-11ea-9a56-6f61d2f7b49b.png)

Results in the report:
![image](https://user-images.githubusercontent.com/65644149/82408950-f83b4200-9a6c-11ea-8afc-74a89b9ef1a6.png)

Overview:
![image](https://user-images.githubusercontent.com/65644149

[2020-05-26 08:52] csurfleet commented on #235
Hey all, I'm finally free to do some work on this - @dirkrombauts whats the current state of play? Is there any part-done code anywhere, or am I best branching from master and seeing what I can see?

[2020-05-26 08:54] dirkrombauts commented on #235
Hi @csurfleet thanks for your enthousiasm. There is are some pending change request about general features. If you are specifically asking about .NET core support: there is nothing in progress that I am aware of.

[2020-05-26 08:58] csurfleet commented on #235
OK great. I need to integrate it into some containerised deployments so I'm motivated to get this sorted. It will probably be the weekend now before I get chance to sit down properly with it. I'll concentrate on the command line first as thats the MVP for what I need. Thanks!

[2020-05-26 09:00] dirkrombauts commented on #235
Sounds good. I would advise you to start with one of the HTML (either static or dynamic) output formats. What test result providers are you interested in?

[2020-06-02 11:53] hpcergar commented on #581
Hi, I am experiencing the very same problem. Is there any workaround? @taizoon did you find a solution or was just avoiding pickles for now? I have tried excluding this file from the antivirus but, no luck, I have not enough rights in company's laptop.

Any ideas?

[2020-06-02 16:02] taizoon commented on #581
@hpcergar we disabled pickle generation for now. Our IT admin is also looking to see if there's any more info on it, but no luck so far.

[2020-06-19 06:58] sudheerdivi opened #587 "How to install Pickles in ubuntu"
Is there any documentation or any steps for installing pickle in ubuntu.

[2020-07-03 11:11] #539 closed

[2020-07-03 11:11] #543 closed

[2020-07-14 13:05] dirkrombauts commented on #237
Released in version [v2.21.0](https://github.com/picklesdoc/pickles/releases/tag/v2.21.0).

[2020-07-14 13:06] dirkrombauts commented on #587
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:06] #587 closed

[2020-07-14 13:06] dirkrombauts commented on #585
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:06] #585 closed

[2020-07-14 13:10] dirkrombauts commented on #512
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:10] #512 closed

[2020-07-14 13:10] dirkrombauts commented on #508
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:10] #508 closed

[2020-07-14 13:10] dirkrombauts commented on #500
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:10] #500 closed

[2020-07-14 13:10] dirkrombauts commented on #489
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:10] #489 closed

[2020-07-14 13:10] dirkrombauts commented on #522
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:10] #522 closed

[2020-07-14 13:10] dirkrombauts commented on #527
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:10] #527 closed

[2020-07-14 13:11] dirkrombauts commented on #536
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #536 closed

[2020-07-14 13:11] dirkrombauts commented on #551
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #551 closed

[2020-07-14 13:11] dirkrombauts commented on #554
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #554 closed

[2020-07-14 13:11] dirkrombauts commented on #568
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #568 closed

[2020-07-14 13:11] dirkrombauts commented on #570
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #570 closed

[2020-07-14 13:11] dirkrombauts commented on #571
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #571 closed

[2020-07-14 13:11] dirkrombauts commented on #576
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #576 closed

[2020-07-14 13:11] dirkrombauts commented on #577
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #577 closed

[2020-07-14 13:11] dirkrombauts commented on #579
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #579 closed

[2020-07-14 13:11] dirkrombauts commented on #581
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #581 closed

[2020-07-14 13:11] dirkrombauts commented on #583
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #583 closed

[2020-07-14 13:11] dirkrombauts commented on #584
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:11] #584 closed

[2020-07-14 13:12] dirkrombauts commented on #453
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:12] #453 closed

[2020-07-14 13:12] dirkrombauts commented on #317
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:12] #317 closed

[2020-07-14 13:12] dirkrombauts commented on #321
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:12] #321 closed

[2020-07-14 13:12] dirkrombauts commented on #330
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:12] #330 closed

[2020-07-14 13:12] dirkrombauts commented on #390
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:12] #390 closed

[2020-07-14 13:13] dirkrombauts commented on #402
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #402 closed

[2020-07-14 13:13] dirkrombauts commented on #408
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #408 closed

[2020-07-14 13:13] dirkrombauts commented on #428
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #428 closed

[2020-07-14 13:13] dirkrombauts commented on #434
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #434 closed

[2020-07-14 13:13] dirkrombauts commented on #466
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #466 closed

[2020-07-14 13:13] dirkrombauts commented on #467
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #467 closed

[2020-07-14 13:13] dirkrombauts commented on #468
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #468 closed

[2020-07-14 13:13] dirkrombauts commented on #473
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #473 closed

[2020-07-14 13:13] dirkrombauts commented on #475
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #475 closed

[2020-07-14 13:13] dirkrombauts commented on #476
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:13] #476 closed

[2020-07-14 13:14] dirkrombauts commented on #481
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #481 closed

[2020-07-14 13:14] dirkrombauts commented on #493
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #493 closed

[2020-07-14 13:14] dirkrombauts commented on #510
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #510 closed

[2020-07-14 13:14] dirkrombauts commented on #521
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #521 closed

[2020-07-14 13:14] dirkrombauts commented on #530
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #530 closed

[2020-07-14 13:14] dirkrombauts commented on #538
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #538 closed

[2020-07-14 13:14] dirkrombauts commented on #580
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #580 closed

[2020-07-14 13:14] dirkrombauts commented on #582
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:14] #582 closed

[2020-07-14 13:15] dirkrombauts commented on #18
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] dirkrombauts commented on #33
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] #33 closed

[2020-07-14 13:15] dirkrombauts commented on #189
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] #189 closed

[2020-07-14 13:15] dirkrombauts commented on #206
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] #206 closed

[2020-07-14 13:15] dirkrombauts commented on #217
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] #217 closed

[2020-07-14 13:15] dirkrombauts commented on #233
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] #233 closed

[2020-07-14 13:15] dirkrombauts commented on #235
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:15] #235 closed

[2020-07-14 13:16] dirkrombauts commented on #237
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #237 closed

[2020-07-14 13:16] dirkrombauts commented on #241
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #241 closed

[2020-07-14 13:16] dirkrombauts commented on #270
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #270 closed

[2020-07-14 13:16] dirkrombauts commented on #278
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #278 closed

[2020-07-14 13:16] dirkrombauts commented on #279
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #279 closed

[2020-07-14 13:16] dirkrombauts commented on #281
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #281 closed

[2020-07-14 13:16] dirkrombauts commented on #306
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:16] #306 closed

[2020-07-14 13:17] dirkrombauts commented on #403
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:17] #403 closed

[2020-07-14 13:17] dirkrombauts commented on #409
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:17] #409 closed

[2020-07-14 13:17] dirkrombauts commented on #269
It's been an amazing time for me to work on Pickles. Now it's finally time for me to lay down the mantle and move on. I am leaving Pickles completely.

I am closing this issue, so that the next maintainer of this repository can start from a clean slate.

Do you want to take over active development and maintenance at Pickles? Contact me directly at dirk dot rombauts at picklesdoc dot com. I will ha

[2020-07-14 13:17] #269 closed

[2020-08-16 19:19] srinivas2901 commented on #558
Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4062	The "Pickles" task could not be loaded from the assembly C:\Users\Srinu\.nuget\packages\pickles.msbuild\2.21.0\build\..\tools\PicklesDoc.Pickles.MSBuild.Tasks.dll. Could not load file or assembly 'Microsoft.Build.Utilities.v3.5, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.

[2020-08-16 19:20] srinivas2901 commented on #558
Any one please help me in resolving this issues. What is reason of the error.?

[2020-08-16 19:25] srinivas2901 commented on #558
Any one please help me in resolving this issues. What is reason of the error.?

[2020-08-16 19:28] srinivas2901 commented on #558
Severity Code Description Project File Line Suppression State
 Error MSB4062 The "Pickles" task could not be loaded from the assembly C:\Users\Srinu\ .nuget\packages\pickles.msbuild\2.21.0\build..\tools\PicklesDoc.Pickles.MSBuild.Tasks.dll. Could not load file or assembly 'Microsoft.Build.Utilities.v3.5, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.

[2020-09-29 03:28] cliveontoast opened #591 "P"
Hi,

When I run my pickles in powershell v5 (PSEdition Desktop) the command works well.
Running in powershell v7 (PSEdition Core) doesn't work.

I understand this is probably because pickles is not build to work from powershell core edition. So it's not really much of an issue. I thought it was useful to describe the problem at least because google didn't help me initially.

If I do have capacity

[2020-10-06 19:42] WenningQiu opened #592 "nunit3 result is turned into inconclusive in HTML report"
I am using Pickles 2.21.0.0 and am puzzled that the tests in the HTML report show up as inconclusive even though their status in the XML file (nunit3) are all Passed. The XML file was generated by "dotnet test" command (3.1.402) with "--logger:nunit" option.

Pickles appears to have no issue generating reports on nunit3 XML produced by nunit3-console.exe on my .NET Framework tests.

I found a rela

[2020-10-08 14:02] WenningQiu commented on #592
The root cause is that package NunitXml.TestLogger failed to convert DescriptionAttribute on the test fixture and test case into <property> tags on <test-suite> and <test-case> elements.

I'll close this issue.

[2020-10-08 14:02] #592 closed

[2020-12-16 16:07] rajbos opened #593 "Support Pickles for use in .NET Core / .NET 5.0 scenario's"
# Premise
I want to include Pickles.CommandLine to run in our CI/CD pipeline so we can generate markdown files and upload them to our wiki.

# Issue:
Currently Pickles is targetting .NET 4.5, so using it on a Docker image with only .NET 5.0(or any .NET Core version) installed is not working.

# I'd like to help with getting this working :-)
I'd like to help out with this as well, but starting the

[2020-12-23 17:55] ericcallsynx commented on #593
Hi @rajbos ! Thanks for your interest. I'm in the process of taking over admin duties of the picklesdoc project and this is also something that is of interest to me so I would love to get your help. Dirk has pointed out a few libraries and such that will need to be replaced in order to make the jump to .NET Core/5.0 so we'll need to evaluate that first. If you have time to look at any of those and

[2020-12-24 16:18] rajbos commented on #593
Already started at a fork to move to .NET Core 3.1 [here](https://github.com/rajbos/pickles/commits/net-core), not there yet.
I'd suggest at least to do 3.1 first and publish it, then move to 5.0

Would you want to publish a 4.6.2 first or just skip that part? Would be nice for people still using the full framework, on the other hand, I don't really see the need for that.

[2021-01-14 15:38] bjowes commented on #593
It would be great if this gets done!

Something I've noticed when trying to run pickles (MsBuild variant) on my .Net Core 3.1 projects is that it seems to require `Microsoft.Build.Utilities` version 3.5 - although this is not listed as a dependency. Please replace this with `Microsoft.Build.Utilities.Core` and add it to the dependencies - that way it should be possible to run Pickles without requi

[2021-01-19 15:09] tcfialho commented on #593
I agree with first release 3.1 first and publish it, then move to 5.0. No reason to jump to 5.0 if we have compiling version in 3.1.

[2021-01-19 19:32] Octopus134 opened #596 "hiding and excluding tags does not work for me"
I have tags like @draft in my gherkins. I tried the pickles GUI and put in "draft" or "@draft" as well in the line "exclude tags" and the line "hide tags". nothing works, the tagged draft features/scenarios are still in the HTML output.

[2021-01-23 14:48] boc-tothefuture opened #597 "pickles returns non-zero exit code on success or without error messages"
Trying to use pickles as part of a build and observed that github actions would say the command failed but I would have no output indicating why it failed.

I was able to replicate the problem on my system as well
[code]

This makes it difficult to use within a CI/CD pipeline.

[2021-01-23 14:58] boc-tothefuture opened #598 "Pickles generates extra columns for scenario tables in HTML mode"
For example, see this rendered HTML: https://boc-tothefuture.github.io/openhab-jruby/pickles/changed.html

Generated from this Gherkin file: https://github.com/boc-tothefuture/openhab-jruby/blob/main/features/changed.feature

[2021-01-23 15:00] boc-tothefuture opened #599 "Support markdown as output"
Please consider adding support for markdown as an output format.  This would allow people to use pickles to embed the pickles generated documentation within the same look and feel of their other documentation.

[2021-01-23 15:02] boc-tothefuture opened #600 "Pickles loses indentation in Docstrings"
Generated output is here:  https://boc-tothefuture.github.io/openhab-jruby/pickles/changed.html
Gherkin source is here:  https://github.com/boc-tothefuture/openhab-jruby/blob/main/features/changed.feature

The indentation that exists in the docstring is removed, which makes the example harder to read.

[2021-01-25 20:47] ericcallsynx commented on #600
Thanks for the feedback. I've noticed that too. I'm just now taking over the project and hope to address this soon.

[2021-01-25 20:50] ericcallsynx commented on #599
There has been significant work done on the markdown format but it hasn't been pushed in a release yet. Will work on this. See this thread for further information on the current status of md support. https://github.com/picklesdoc/pickles/pull/557#issuecomment-519045815

[2021-02-12 19:09] boc-tothefuture commented on #598
@ericcallsynx - Is there anything I can do to prevent this?

[2021-02-17 15:46] ericcallsynx commented on #598
It doesn't show up in the dhtml version but that probably doesn't help you. Looking at the code I don't see anything obvious that is creating the issue but I will try to address it soon.

[2021-02-24 09:12] zadigus commented on #18
What's the status on this feature? I'd need it.

[2021-02-25 17:57] ericcallsynx commented on #18
It is not currently being worked on. I just took over the project and I'm trying to get up to speed and prioritize issues. Dirk closed issues as he was wrapping things up but this can be opened again once we start working on things.

[2021-03-08 20:01] ericcallsynx commented on #598
released in version 2.21.1

[2021-03-08 20:01] #598 closed

[2021-03-08 20:03] ericcallsynx commented on #598
@boc-tothefuture I've pushed a new version that should fix this issue. This is my first go at the build and release process for pickles so let me know if you find anything amiss!

[2021-03-09 12:31] boc-tothefuture commented on #598
Thanks, I will see if it gets pulled in by my build process which is just using choco.

[2021-03-09 17:23] ericcallsynx commented on #599
@boc-tothefuture I didn't realize that Dirk had pushed the work that had been done on the markdown format so it is available in the 2.21 release. Use Pickles.exe --documentation-format=markdown or Pickles.exe -df=markdown. I know it was only the initial attempt at implementing it so try it out when you have a chance and let us know if you have any suggested improvements.

[2021-03-09 17:28] ericcallsynx commented on #593
@rajbos I'm at the point where I can start working on this now. I tried to look at your fork but it looks like you took it down. If you have any work you want to pass along let me know.

[2021-03-09 18:16] rajbos commented on #593
Good one! Saw the repo was moved and cleaned up my fork without realizing this!
Will see what I can do and if this is still helpful.

[2021-03-10 10:41] rajbos commented on #593
Luckily I still had it available on disk. I pushed things here: https://github.com/rajbos/pickles/tree/net-core

I started with moving everything in the `Runners` folder to .NET Standard as a first step. Current state is that the solution cannot be build yet, due to an issue with the TargetFramework, I suspect in the solution folder, but I couldn't figure that out in between work :-).

If this hel

[2021-04-19 22:49] rdasan opened #609 "Generated Cucumber JSON missing the uri property"
Hi I'm using Pickles to generate `Cucumber Json` format from my Test Results file. However I see that the generated `cucumberResults.json` is missing the `uri` property. I am planning to use the generated cucumber json to publish the cucumber results back into a BDD JIRA plugin and that plugin requires the correct Cucumber JSON format that includes a `uri` property in the generated Cucumber Json.

[2021-04-21 19:05] isitgeorge commented on #609
+1

Also missing `id` properties from both the top level feature and child objects of the `elements` array.

[2021-04-26 21:07] ericcallsynx commented on #609
Yes, I would like to address this issue. Most of the issues that Dirk closed before he handed off the project will be reopened and worked eventually. Most of my time so far has been spent trying to get the dotnet standard/core version working. I have most of it functional but still have some unit tests failing. Once I get past that roadblock I'll start addressing more of the functionality issues.

[2021-06-03 14:31] cicinsain opened #613 "Support for Gherkin 6"
Gherkin 6 provides a new set of reserved words like Rule, Example... aligned with BDD Example Mapping technique. Ti would be useful to add Gherkin 6 support in Pickles.

[2021-06-09 01:24] ericcallsynx commented on #613
I am currently working on the dotnet core (Standard 2.0) release of Pickles which also required upgrading the Gherkin library to version 6. I have not started to implement the new features yet but once this new version is released I can start pursuing that.

[2021-06-11 13:43] SergioETrillo opened #614 "Pickles parsing error on root Pickles_FeatureDirectory"
0

I use Pickles.MSBuild, latest version v.2.21.1 I configure it as below:

    <Pickles_Generate>True</Pickles_Generate>
    <Pickles_DocumentationFormat>dhtml</Pickles_DocumentationFormat>
    <Pickles_OutputDirectory>.\PickleJar</Pickles_OutputDirectory>
    <Pickles_FeatureDirectory>..\..\..\src</Pickles_FeatureDirectory>
    <Pickles_ResultsFile>.\TestResult.xml</Pickles_ResultsFile>
    <Pic

[2021-07-07 13:36] PWithaarImproveQS opened #615 "Pickles did not complete successfully Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index')"
The implementation of this function
[code]

in `VsTestElementExtensions.cs` causes this error when we have scenario titles like this:
[code]

This is because the mapping to the test results is done on StartsWith. Causing the second one to map on the first one. The second scenario outline has 5 examples, but is mapped on the first one with 3 examples. Causing an index out of range exception.
`
Pick

[2021-09-18 00:15] andrey-covergo commented on #609
I have the same issue as @rdasan as now the [only way](https://github.com/hindsightsoftware/hotel-booking-specflow-dotnet-example) to [convert SpecFlow results](https://help.hindsightsoftware.com/en/articles/4771876-test-reports-with-specflow-and-net) into Cucumber json is via official [SpecFlow runner SpecRun](https://specflow.org/tools/runner/), requiring online account binding and relying on Mo

[2022-02-15 00:29] ricardohenriq opened #626 "Error in update Pickles from 2.2.1 to 3.0.1"
I'm trying to update version 2.2.1 to 3.0.1 via Nuget and I'm having these project not found errors:

NU1101: Não é possível encontrar o pacote PicklesDoc.Pickles.ObjectModel. Não existe nenhum pacote com esta ID nas origens: Microsoft Visual Studio Offline Packages, nuget.org

NU1101: Não é possível encontrar o pacote PicklesDoc.Pickles.Library. Não existe nenhum pacote com esta ID nas origens: M

[2022-02-17 22:11] ccbristo opened #629 "Cannot upgrade .Net 4.8 project to 3.0.1"
When I try to update from pickles 2.21.1 to 3.0.1 in my .Net 4.8 project, I get this error:

Package 'Pickles.CommandLine 3.0.1' has a package type 'DotnetTool' that is not supported by project

It is my understanding that pickles 3.x still supports .Net framework 4.8 (i.e. I don't need to be on .Net Core/.Net 5) to use it.

Is this an error in the Nuget package, am I doing something wrong, or is

[2022-02-18 15:47] ericcmmi commented on #629
Pickles 3.0.1 is written to the dotnet standard so it can be compiled to core or framework but the Nuget package is compiled as dotnet core. I need to do some research how to support Nuget packages for both framework and dotnet core. I will try to get this done quickly.

[2022-05-12 16:49] #629 closed

[2022-05-16 21:25] ericcmmi commented on #593
@rajbos not sure if you've looked at a current build but the latest builds support .NET 6/.NET Standard 2.0. I'm closing this issue but let me know if you have any problems with the newest release.

[2022-05-16 21:25] #593 closed

[2022-05-20 06:11] arkiaconsulting opened #632 "Cannot install Pickles.CommandLine v4"
When installing/upgrading `Pickles.CommandLine` to v4 with

[code]

the command fails with:
[code]

Workaround: force the installation of the version 3.0.1

Tested under Windows/Linux
Installed dotnet Sdk version: 6.0.200

[2022-06-21 07:26] zadigus opened #633 "Pickles did not complete successfully Could not find a part of the path '/dev/fd/102'."
I have the following docker image:

[code]

When I run

[code]

and then run

[code]

then I get no error. If I, however, run

[code]

then I get the following error

[code]

Is that a bug or am I misusing your software? With the last version of Pickles I used in the past (v2.21.1), with mono, I was able to run

[code]

without any problems.

[2022-06-21 07:52] zadigus commented on #632
I get the very same error when building the following docker image:

[code]

Running

[code]

results in

[code]

[2022-06-21 07:57] zadigus commented on #633
The same occurs when I build the following docker image (for pickles version 3.0.1; version 4.0.1 can't be installed through nuget):

[code]

Then in the docker container, when I run

[code]

then I get

[code]

[2022-06-21 08:03] zadigus commented on #633
Also note that the Pickles version is not right in the above Pickles output.

[2022-06-21 08:23] zadigus opened #634 "When running Pickles 3.0.1 the output version is always v.0.0.0.0"
When I run the `pickles` command, I see the following output:

[code]

The first line of the above output should show the Pickles version number, not `v0.0.0.0`.

[2022-06-22 06:34] zadigus commented on #633
Note that the error

[code]

does not pop up if a `features` folder was found and the report generation is successful.

[2022-06-22 13:05] ericcmmi commented on #633
Sorry for the problems here. I'm working on the issue with the Nuget package. Hope to push an update soon.

[2022-06-27 01:54] gjveron opened #635 ""dotnet tool install --global Pickles.CommandLine --version 4.0.1" throws error "Settings file 'DotnetToolSettings.xml' was not found in the package""
### Description:
Cannot install Pickles.CommandLine as a global tool on Windows 10 Pro 21H2
The installation documentation used was: https://www.nuget.org/packages/Pickles.CommandLine

### Steps:
- Open a Powershell windows with admin privileges
- Run the command "dotnet tool install --global Pickles.CommandLine --version 4.0.1"

### Expected results:
- The command run successfully, and pickles do

[2022-06-27 02:00] gjveron commented on #634
Confirmed on version 4.0.1 downloaded from https://github.com/picklesdoc/pickles/releases/download/v4.0.1/Pickles-exe-win10-x86-4.0.1.zip

If you execute "pickles -v"
the output you get is "Pickles version 0.0.0.0"

[2022-06-27 02:01] gjveron commented on #635
Duplicated from #632

[2022-06-27 02:01] #635 closed

[2022-08-02 16:33] ColinWaddell opened #637 "Error when specifying xunit results file"
Hi,

I'm attempting to use Pickles to generate documentation based on my feature files and the xml results outputted by Ceedling, which is in xUnit format.

I see the following when running pickles:

[code]

Here's the contents of the feature file:

[code]

And here's the contents of the report.xml:

[code]

--------------

A separate question I'm happy to make another issue for, but might as well

[2022-10-20 11:37] remogloor opened #640 "Pickles generates upercase status entries in cucumber.json instead of all lower case"
Pickles generates upercase status entries e.g. "status": "Passed"
According to the  cucumber.json schema it should be lower case "status": "passed"
See [https://github.com/cucumber/cucumber-json-converter](https://github.com/cucumber/cucumber-json-converter)

Fixed by #639

[2022-10-20 11:39] remogloor opened #641 "Generated Cucumber Json is missing description entries"
The cucumber schema foresees that it has description entries.
See [https://github.com/cucumber/cucumber-json-converter](https://github.com/cucumber/cucumber-json-converter)

#638 Adds this missing property

[2022-10-27 17:42] s1m0nj commented on #613
Yes I would love support for Rule, Example as well.

[2022-10-28 18:38] ericcmmi opened #642 "Looking for a new maintainer"
I'm sorry I have not been able to dedicate time to this project. I have gotten away from .NET for the most part. If you are interested in becoming the maintainer for this project please contact me. Thank you!

[2022-11-28 16:41] ericcmmi commented on #640
released with 4.0.3

[2022-11-28 16:41] #640 closed