[2012-09-07 12:21] SimonDexter opened #1 "Improve handling of multiple example blocks within a Scenario Outline"
Implement better handling of multiple example tables within a single Scenario Outline by retaining comments where possible and filtering out repeat parameter rows in example tables (see below example):-

Scenario Outline: Password validation
Given ...
When ...
Then ...

Examples: Too short
 Passwords are invalid if less than 4 characters

| Password | Valid or invalid |
| abc           | invalid

[2012-09-10 12:56] dirkrombauts opened #2 "Tags should be included in the generated documentation"
Tags should be included in the generated documentation too, especially in the html documentation.

[2012-09-27 15:13] Matthew-Davey opened #3 "Pickles falls over when feature file has a background section"
Pickles fails to generate documentation when it encounters a Background section in a feature file.

This sample gherkin script works fine with pickles:

[code]

However if I change it to this:

[code]

Pickles will give me the following error:

[code]

Running Pickles with the following command line:

[code]

[2012-09-28 21:37] x97mdr opened #4 "HTML and OpenXML Formatting"
Moved from x97mdr/pickles#102

---
## Here is the source, for example(look at format):

Feature: LimitFileGeneration schedule
    In order to manufacture with current (approved) limset values
    As a manufacturing
    I want to have a limit files deployed in a controlled manner

TODO: notifikace, koho? predpokladam mailem

technical notes:
this runs as a scheduled task, e.g. periodically without

[2012-09-28 21:39] x97mdr opened #5 "Show @tags in output"
Moved from x97mdr/pickles#108

As per Cucumber book recommendations, I've been adding tags to my scenarios to label them as being applicable to a user story.

It would be very useful if these were output by Pickles to help the business analysts see which tests cover which user stories.

[2012-09-28 21:42] x97mdr opened #6 "Support for images"
About what to do next: here’s something that came up in conversation with a colleague: sometimes a picture says more than a thousand words in the description of a feature. Markdown allows us to add links to images (and Pickles correctly outputs the html for them) BUT the paths are screwed up (of course).. It would be nice if the corresponding files would be copied too.

An example: suppose I have

[2012-10-20 20:31] #1 closed, assigned to x97mdr

[2012-10-20 22:56] #3 closed, assigned to x97mdr

[2012-10-29 19:19] gmotta opened #7 "Linking MSBuild task with test results"
Hi all,

On:
https://github.com/x97mdr/pickles/wiki/ArgumentsTestResultsFile

We only have examples for powershell or console. What is the syntax for MSBuild?

PS: What happened with the wiki on the picklesdoc repository?

Thanks in advance,

Motta

[2012-10-29 23:17] #7 closed, assigned to x97mdr

[2012-10-30 02:43] slav opened #8 "DocumentFormat.OpenXml is not included with NuGet package"
So, when I tried to generate doc file, it fails. Had to add it manually.

[2012-11-07 00:34] #8 closed, assigned to nobody

[2012-11-09 03:01] leewsimpson opened #9 "hierarchy"
How do people handle large amounts of scenarios?  It would be great if Pickles could respect the hierarchy of the folder structure.

[2012-11-09 18:16] x97mdr opened #10 "Markdown issue with list"
Looks like list are not properly generated (only tested it in HTML).

How to reproduce:

Create a Feature File that contains a list in markdown syntax, exemple:
Feature: SuperDuper
In order to do a super duper thing As a super user I want the system to super duperize something
- List Item 1
- List Item 2
- List Item 3
  .
  .
  .
  '

When pickling this, Pickles doesn't generate a list in HTML any

[2012-11-09 20:01] #10 closed, assigned to nobody

[2012-11-10 08:41] #2 closed, assigned to nobody

[2012-11-15 06:15] dirkrombauts opened #11 "Add a "continuous generation" mode to pickles ui"
When the continuous generation mode is active, Pickles UI should automatically detect changes to feature files, and re-run the generation process.

[2012-11-15 06:21] dirkrombauts opened #12 "Support for images"
About what to do next: here’s something that came up in conversation with a colleague: sometimes a picture says more than a thousand words in the description of a feature.  Markdown allows us to add links to images (and Pickles correctly outputs the html for them) BUT the paths are screwed up (of course)..  It would be nice if the corresponding files would be copied too.

An example: suppose I hav

[2012-11-15 06:25] dirkrombauts opened #13 "Add support for MBUnit test results"

[2012-11-15 06:29] dirkrombauts opened #14 "Add dynamic HTML output"
This would allow people to dynamically search and filter scenarios (for example by @tags).

[2012-11-15 06:39] dirkrombauts opened #15 "Testresults: Include an pass/fail icon in the table of content as well"
As a product owner,
I want to see pass/fail icons in the table of contents
So that I can see the state of the tests at a glance

[2012-11-15 06:40] dirkrombauts opened #16 "Testresults: Introduce an icon/a state for not run tests (those that have @ignore or are missing bindings)"
As a developer
I want to see a separate test result icon for tests that were not run
So that I can see at a glance which tests were disabled or missing bindings

[2012-11-23 13:43] dirkrombauts opened #18 "Idea: Exclude Scenarios or Features by tags"
Background: our repository of feature files contains several files about future user stories. It's misleading if those appear in the living documentation, at least if the living documentation is meant to showcase the current behaviour of the system.  It gets even more "misleading" if the test results are shown as well, because there would be lots of inconclusive scenarios simply because the automa

[2012-11-25 19:19] kkrac opened #19 "Tests results not shown"
Hi

Not sure if I'm doing something wrong or what. It's the first time I use Pickles and am trying it with the latest version of Specflow (1.9.1)

I run pickles like this:

[code]

The Html Pickles document is generated successfully. But even though I specify the link-results-file parameter (it's valid, the Xml exists) Pickles does not add the outcome of the test to the Html it generates.
Maybe I'

[2012-11-27 01:39] #19 closed, assigned to nobody

[2012-11-27 08:41] #9 closed, assigned to dirkrombauts

[2012-11-27 08:43] #16 closed, assigned to dirkrombauts

[2012-11-27 09:05] #6 closed, assigned to x97mdr

[2012-11-27 10:56] dirkrombauts opened #20 "Tags should be collected on Feature and Scenario Outline level too (not just on Scenario level)"
Hi,

There's a bug in the Tag collection of the pickles parser: the parser collects all tags (on feature, scenario outline and outline level) but emits them all on the feature level.

Here's a sample feature file that will show the problem in the generated HTML.

@featureLevel
Feature: Tags

@outlineLevel
Scenario Outline: Scenario Outline Level
  Given I do something with <Value>

  Examples:
  |

[2012-11-28 06:16] dirkrombauts opened #21 "Add support for SpecRun test results"
I'm trying to find out whether [SpecRun](http://www.specrun.net/) can output some easily parsable results.

[2012-11-29 08:15] dirkrombauts opened #22 "Breaking Change: Moving Namespaces and assemblies to PicklesDoc.*"
I'm moving all namespaces and assembly names to PicklesDoc.*.  I imagine that this is a breaking change if you have scripted Pickles somewhere in your toolchain.

[2012-11-30 00:40] #4 closed, assigned to x97mdr

[2012-11-30 11:07] #15 closed, assigned to dirkrombauts

[2012-12-10 09:30] dirkrombauts opened #23 "Pickles skips feature files that contain markdown tables with empty cells"

[2012-12-10 10:01] #23 closed, assigned to dirkrombauts

[2012-12-10 10:17] #22 closed, assigned to dirkrombauts

[2012-12-10 13:40] #20 closed, assigned to dirkrombauts

[2012-12-17 10:06] #5 closed, assigned to dirkrombauts

[2013-01-10 19:25] x97mdr opened #24 "Investigate upgrading Powershell provider to .NET 4"
It is only the Powershell provider that is currently preventing us from upgrading to .NET 4 and taking advantage of some newer functionality in the rest of the project.  We should upgrade it if we can.

[2013-02-09 18:00] x97mdr opened #27 "Add a Chocolatey package"
In order to easily install Pickles and use it from the command-line and/or powershell
As a person at a workstation
I want to create a chocolatey install package that will drop the pickles gui, command-line and powershell cmdlet on someone's system.

[2013-02-19 15:16] Lambik opened #29 "Cannot build"
Hi,

I seem to be having an issue where I cannot build the project. I just downloaded the master-zip and ran build.cmd by double-clicking it from explorer.

The build.log can be seen here: http://pastebin.ca/2315623
Most of the errors are in dutch, because that's what my computer is at.

Also "nuget" crashed a few times during the build, probably related.

Anything I can do?

Cheers!

[2013-02-19 16:12] #29 closed, assigned to nobody

[2013-03-07 00:57] x97mdr opened #31 "Pickles.Powershell.dll was not loaded because no valid module file was found......."
When installing Pickles via the NuGet console, I'm getting the following;

Import-Module : The specified module C:.....blah blah....\Pickles.0.8.0.0\tools\Pickles.Powershell.dll was not loaded because no valid module file was found in any module directory.
At: C:...blah....\packages\Pickles.0.8.0.0\tools\init.ps1:3 char:14
+Import-Module <<<< (Join-Path $toolsPath Pickles.Powershell.dll)
+Category

[2013-03-07 00:59] #31 closed, assigned to x97mdr

[2013-03-10 15:38] x97mdr opened #33 "Support writing to Confluence"
In order to put the features alongside the other documentation in my Confluence wiki
As a feature writer
I want to have pickles sync my features to Confluence

[2013-04-03 07:36] dirkrombauts opened #34 "Table of contents and index pages should least feature titles in alphabetical order"

[2013-04-04 08:13] dirkrombauts opened #35 "Add multiple workspaces to the UI"
As a Pickles UI User
I want to have multiple workspaces/tabs in the UI
so that I don't have to reenter the settings when switching between projects

[2013-04-04 08:24] #34 closed, assigned to dirkrombauts

[2013-04-04 11:37] dirkrombauts opened #36 "Better error reporting"
Right now, it is not clear (at least not int the UI client) when generation of the documentation files works or does not work.

Additionally, generation should continue with other feature files if one feature file fails (because of parsing errors or whatever).

[2013-04-04 15:04] #14 closed, assigned to nobody

[2013-05-02 04:34] renelou opened #38 "DHTML not working in IE due to trim()"
I'm having trouble viewing the generated DHTML site in IE and noticed that it was due to the trim() function implemented in stringFormatting.js

I worked around it as specified in this stackoverflow entry -> http://stackoverflow.com/questions/2308134/trim-in-javascript-not-working-in-ie

[2013-07-01 15:23] hotgazpacho opened #40 "Latest NuGet release of pickles (0.8.1.0) does not include Pickles.exe"
It would be nice if the pickles NuGet package contained the pickles executable (described on the [wiki](https://github.com/picklesdoc/pickles/wiki/ConsoleApplication)) so that I can generate the documentation from the command line.

[2013-07-02 09:03] #40 closed, assigned to nobody

[2013-07-25 14:31] grzesiek-galezowski opened #47 "Please implement marking ignored test cases with yellow sign rather than red for all Test Result providers (not just MSTest)"
Hi,

Currently, pickles cannot distinguish between ignored nunit tests and failed ones on HTML report, marking both with red mark.

It can be useful to distinguish, because ignored scenarios are usually the ones that we put in the tool, but didn't yet automate and we don't want to confuse them with already automated scenarios that fail (e.g. regressions).

I can see that, e.g. in case of backgroun

[2013-07-29 12:03] #47 closed, assigned to dirkrombauts

[2013-07-30 18:04] marcusoftnet opened #50 "Remove the Example projects from the solution"
And just add a directory with feature files and testresults-files.

The example project was just something that I dumped into the project to get something to show the pickles-power through.

I have a PR ready for this. But it's pretty dramatic:
- Removed all the Example-projects (from directory and solution)
- Added new Example folder with Features (only .features)
- Added results files for xUnit

[2013-07-30 19:18] jni- opened #51 "Remove .DS_Store from zip'd templates"
Generating a DHTML document includes a .DS_Store. Most likely, other document types may have the same issue.

[2013-08-03 16:29] grzesiek-galezowski opened #54 "HTML Report: Table of Content indent is wrong with two levels of directory nesting"
Suppose I have the following directory structure:

---

Deeply
--Nested
----Features
------Nested.feature

And I generate a report by setting "Deeply" as the root folder for features, then the generated HTML report has the following indentation in Table Of Content:

Nested
Features
------Nested.feature

While I expected it to be:
Nested
--Features
----Nested.feature

Funny thing is that when I add

[2013-08-07 11:40] #50 closed, assigned to nobody

[2013-08-07 12:03] #51 closed, assigned to dirkrombauts

[2013-08-11 10:05] #54 closed, assigned to nobody

[2013-08-19 07:28] dirkrombauts opened #60 "DHTML output format should render Markdown correctly"

[2013-08-22 08:55] #38 closed, assigned to nobody

[2013-08-29 11:44] #21 closed, assigned to dirkrombauts

[2013-09-16 23:05] ztittle opened #61 "Rendering issues with Internet Explorer"
When viewing the HTML Static Content site in internet explorer the Test Results are not showing the checkboxes. Instead, a box appears.

In addition, there are also some issues (in Chrome) where the checkboxes do not appear correctly due to the feature being too long for the navigation bar.

IE 9.0:
![image](https://f.cloud.github.com/assets/5473784/1153512/2d67681c-1f24-11e3-9005-599538d9a06a.png

[2013-09-20 09:14] dirkrombauts opened #62 "Pickles crashes when generating excel with really long descriptions"
Excel can put only 32767 characters in a string. If a description is long than that, pickles will crash

[2013-09-20 09:49] dirkrombauts opened #63 "Calling pickles.exe without any arguments in a directory without features causes a crash"

[2013-09-25 13:10] #36 closed, assigned to nobody

[2013-09-25 13:10] #62 closed, assigned to dirkrombauts

[2013-09-25 13:10] #63 closed, assigned to dirkrombauts

[2013-10-05 11:54] Narmical opened #65 "MSTest test result state of "error" crashes document generation"
When creating documentation with an associated MSTest file, if that file contains a test in the "Error" state (as opposed to the Passed, Failed, or Inconclusive states) it crashes the program.

this is due to the <UnitTestResult> missing the @outcome attribute and the @duration attribute

[2013-10-16 05:26] dirkrombauts opened #66 "When selecting multiple output formats in the UI, pickles generates the first output format multiple times"
Clearly, Pickles should generate each output format one time

[2013-10-16 05:44] #66 closed, assigned to dirkrombauts

[2013-10-17 14:31] macejiko opened #68 "Path issues in Ubuntu"
Hi.
I have Ubuntu 12.04 LTS and run Pickles.exe via Mono JIT compiler version 2.10.8.1 (Debian 2.10.8.1-1ubuntu2.2)

My directory tree with feature files:

[code]

When I run pickles and specify exactly (without subfolders) folder with features (e.g. Acceptance/Smoke/features) - everything is ok:

[code]

But when I want to run pickles for whole Acceptance directory I get this:

[code]

That seems

[2013-10-18 07:06] #60 closed, assigned to nobody

[2013-10-18 07:14] dirkrombauts opened #70 "Unit Tests in Pickles.BaseDhtmlFiles are failing"
They should pass, or if they are no longer relevant they should be deleted.

[2013-10-28 09:21] #70 closed, assigned to nobody

[2013-10-30 12:23] mcclade opened #74 "DHTML uses the Feature's description for the Background"
When the following Gherkin is output as DHTML the Background uses the feature's description.

[code]

Will produce HTML similar to:

[code]

It should produce something similar to this:

[code]

[2013-11-10 04:06] leblancmeneses opened #79 ".feature parser"
I'm using t4 to generate some stub code for my tests based on a feature file.

Here is what i came up with if you want to use the same parser.

One thing we are adding is issues, spaced tags, different type of comments.

Input

[code]

NPEG

[code]

You can use the tool here to see the ast given the input and rules:
http://www.robusthaven.com/blog/parsing-expression-grammar/npeg-language-workbench

[2013-11-11 18:51] DavidBeaumier opened #80 "Background is not included in Word"
Hi,

I just installed the latest Pickles version and noticed that feature's background is not included anymore in Word documents. However they are present in html outputs.

I haven't investigated thoroughly but changes from that commit seem to be still part of the source code: https://github.com/picklesdoc/pickles/commit/d27c4be44f13f2ecd06a41a88add1450f5eda6d4

DB

[2013-11-21 17:59] #79 closed, assigned to nobody

[2013-11-25 13:46] dirkrombauts opened #83 "Allow multiple result files"
We partition our test runs according to tags. That means we have no single result file with all results. It would therefore be cool to use multiple test result files in a single pickles run.

[2013-11-29 11:52] dirkrombauts opened #84 "Nuget manifest should mention PicklesDoc instead of only Jeffrey Cameron"

[2013-12-13 09:53] freeman opened #85 "Crash when a feature is not present in the test result (with NUnit)"
Some of our feature are ignored from our test run.

Pickles crashes with this error :

[code]

in this case.

It seems to be caused because the `GetFeatureResult` method does not checks for a null return from `GetFeatureElement`.

I can submit a pull request if you like.

[2013-12-20 10:41] #85 closed, assigned to nobody

[2013-12-20 10:42] #74 closed, assigned to nobody

[2013-12-20 10:53] #84 closed, assigned to nobody

[2014-01-13 16:37] roundand opened #90 "Could the GUI generate the equivalent PowerShell or Windows Console command line?"
All my SpecFlow tests are run nightly by TeamCity. It would be really helpful for the GUI to have an automation-friendly mode which would generate a PS1 command line which could then be pasted into a TeamCity Step.

The workflow would be something like
- [ ] use GUI to tune and check Pickles settings
- [ ] use GUI to generate PowerShell (or Windows Console) command line
- [ ] paste command line in

[2014-01-21 10:44] snowch opened #91 "Support stories in JBehave syntax"
It would be great if pickles could support stories in JBehave format (http://jbehave.org/reference/stable/story-syntax.html).

I appreciate that this may be way out of scope though.

[2014-04-04 16:23] #80 closed, assigned to nobody

[2014-04-08 14:47] #83 closed, assigned to dirkrombauts

[2014-04-15 16:38] #11 closed, assigned to nobody

[2014-04-15 16:38] #12 closed, assigned to dirkrombauts

[2014-04-15 16:39] #13 closed, assigned to nobody

[2014-04-15 16:40] #27 closed, assigned to nobody

[2014-04-15 16:41] #35 closed, assigned to nobody

[2014-04-15 16:44] #91 closed, assigned to nobody

[2014-04-16 10:15] andydavidsmith opened #104 "DHTML output does not show Feature page summary result"
In DHTML output version you do not get a overall summary result in the feature page summary area on the left hand side of the screen although you do in HTML output (using specrun test output).  You do get the results for each scenario but no overall result for the feature page as a whole.

Thanks

Andy

[2014-05-16 08:39] barnabii opened #108 "Crash because of nunit result"
With the latest pickles version v0.16.0 the tool crashes because of regex parsing error of the nunit test result content.
Using the older version v0.15.0, the crash doesn't occur.

![pickles_crash](https://cloud.githubusercontent.com/assets/7600847/2994940/8926cc5a-dcd5-11e3-9858-c5821cd1307a.jpg)

Too reproduce the error ask for the files.

[2014-05-16 09:09] barnabii opened #109 "Test status in the DHTML browsing section"
I would like to have the test status for each feature also in the DHTML browsing section on the left side like in the HTML output.

Problem: To check if all tests have been passed, you must walk trough all features because the test status is only shown in the feature details page.

[2014-05-20 13:45] #109 closed, assigned to nobody

[2014-05-21 07:49] #108 closed, assigned to nobody

[2014-06-02 18:40] Discofunk opened #115 "DHTML/HTML/Excel Carriage Return in Feature Description"
Pickles.0.17.3

I can't figure out how to get carriage returns to work correctly in the feature description section.  New paragraphs appear to work but a single carriage return is ignored.  Hoping someone can take a look and let me know if there is something I can change in the feature file.  Export to MS Word results in correct formatting.
Example Feature file:

[code]

Results in (note that "Whe

[2014-06-02 19:53] #115 closed, assigned to nobody

[2014-06-03 06:00] dirkrombauts opened #117 "Feature description is rendered as background description in DHtml version"
As mentioned in #115

[2014-06-03 06:00] #104 closed, assigned to nobody

[2014-06-03 07:23] dirkrombauts opened #118 "Description blocks are rendered as <code> elements in DHtml version"
[code]

results in

![dhtmldescription](https://cloud.githubusercontent.com/assets/975415/3157194/f411cab0-eaef-11e3-8f96-cc1cafe12d95.png)

[2014-06-12 13:57] #118 closed, assigned to nobody

[2014-07-01 08:03] dirkrombauts opened #126 "Pickles.exe crashes when a test result file is specified but the file does not exist"

[2014-07-01 11:43] #126 closed, assigned to nobody

[2014-07-11 13:20] SSakkaravel opened #130 "MsTestResults Exception"
Hi All,

I have tried create a MSBuild project and invoked through Visual Studio Command Prompt. But, I am geeting the following error.
I got this error after including, ResultsFile="$(ResultsFile) argument inmy .proj file.

Build succeeded.

"D:\S........\Main\Code\PicklesMsBuild.proj" (default
 target) (1) ->
(document target) ->
  D:........\Main\Code\PicklesMsBuild.proj : warnin
g : An excepti

[2014-08-19 13:50] dirkrombauts opened #134 "[DHTML] Multi-line arguments are not rendered"
Given I have a step with a multi-line argument
"""
like this
line 1
line 2
"""
When I generate the dhtml documentation
Then the multiline argument should be shown

But it is not in the current version.

@aaronjrich could you perhaps have a look? Thanks!

[2014-08-26 09:02] Ward1984 opened #135 "layout in feature files"
I am currently using pickles to generate .html and .doc-files from my code.

I would like it if the lay-out (enters, tabs) would be preserved when autogenerating or some way to hard-code an enter so the .html-file of the summary of my code would be easier to read.

[2014-08-27 09:42] #135 closed, assigned to nobody

[2014-09-01 09:03] #134 closed, assigned to nobody

[2014-09-09 08:40] weralabaj opened #137 "Dhtml version enhancements propositions"
I'd like to add a few enhancements to the Dhtml report for the project I'm currently working on:

1) When the number of features is high, browsing them using left side menu is not convienent. Suggested fix: add collapse functionality on directory level. By default all directories should be collapsed (maybe apart from the 1st one). Also add "expand all" and "collapse all" buttons.

2) Documentation

[2014-09-09 08:54] weralabaj opened #138 "Detailed step-by-step guide"
Took me a while to figure out how to get from Specflow scenarios to having a special tab with Pickles Dhtml report on TeamCity.
I think it would be useful to have a more detailes "how-to" with screenshots, that describes how to integrate Pickles with the build process, so it's generated automatically.

[2014-09-09 10:58] weralabaj opened #139 "Html version doesn't render pass/fail icons"
Not sure how results should be displayed in static html version, but something seems wrong with rendering pass/fail icons. Dhtml one seems ok. Both Dhtml and Html versions are genrated using console app.
For Chrome (37.0.2062.103) - empty squares:
![bugchrome](https://cloud.githubusercontent.com/assets/7335079/4200329/da1529aa-380f-11e4-99fb-90e827a3103c.PNG)
For IE (10.0.19) - nothing:
![bugie](h

[2014-09-09 11:00] weralabaj opened #140 "Html version generates menu items for obj\Debug"
When my Scenarios are in the main project directory and I specify it using --feature-directory option, the obj/Debug directory is visible in left menu. I used console app to generate reports. Works ok for the same project for Dhtml version.
![bug](https://cloud.githubusercontent.com/assets/7335079/4200358/499da73e-3810-11e4-9209-3439f98fbdeb.PNG)

[2014-09-10 09:05] #139 closed, assigned to nobody

[2014-09-11 08:44] guillaume86 opened #142 "Remove dependencies from the Nuget packages"
Installing Pickles.CommandLine installs the following packages in my project (and add references):
Autofac (≥ 2.6.3.862)
NDesk.Options (≥ 0.2.1)
NLog.Config (≥ 3.1.0.0)
System.IO.Abstractions (≥ 1.4.0.86)

It's not required and non desired behavior from a "tool" package.
These should be "dev dependencies" but the final package should remain standalone.
NUnit.Runners is a good example: https://www.

[2014-09-12 06:18] #140 closed, assigned to nobody

[2014-09-12 09:48] dirkrombauts opened #144 "The nuget packages Pickles.CommandLine and Pickles.MSBuild contain the files twice"
And as a result they are twice as big as they need to be.

[2014-09-12 10:19] #144 closed, assigned to nobody

[2014-09-12 10:31] #142 closed, assigned to nobody

[2014-09-25 05:43] #138 closed, assigned to nobody

[2014-10-17 06:06] barnabii opened #151 "Doc String (multiline text) is not shown in DHTML output"
When a step definition has a doc string (see also http://cukes.info/step-definitions.html) then the string is not shown in the DHTML output.

Example:
Scenario: ASC File containing a simple DUT
    Given The left ASC file 'dutleft.asc' with following content
    """
    TYPE
        DUT2_T:
        (_DUT with comment_)
        (_GroupPath='DUTs'_)
            STRUCT
                value1_BOOL: BO

[2014-10-22 07:44] #151 closed, assigned to nobody

[2014-10-22 15:26] mkeCharlie opened #154 "Word output cannot be opened by Microsoft Word"
When using df=Word, the resulting .docx file cannot be opened by Microsoft Word. The error message The file [Filename.docx] cannot be opened because there are problems with the contents. Line:1, Column:1.
I'm using the command-line version of Pickles-0.18.2.

[2014-10-27 08:17] #117 closed, assigned to nobody

[2014-11-25 13:13] #130 closed, assigned to nobody

[2014-11-27 12:43] #61 closed, assigned to nobody

[2014-11-27 12:48] dirkrombauts opened #164 "Pickles should return a return value indicating success or failure"

[2014-11-28 10:55] #137 closed, assigned to nobody

[2014-12-11 09:39] #164 closed, assigned to nobody

[2014-12-11 09:40] #68 closed, assigned to dirkrombauts

[2014-12-11 09:43] dirkrombauts opened #177 "The GUI client should not allow the user to click the validation checkmarks"

[2014-12-11 14:56] #177 closed, assigned to dirkrombauts

[2014-12-11 15:00] dirkrombauts opened #179 "Remove support for nAnt"

[2014-12-11 15:01] #154 closed, assigned to nobody

[2014-12-11 15:23] #65 closed, assigned to nobody

[2014-12-11 15:46] #179 closed, assigned to nobody

[2015-01-21 14:09] dirkrombauts opened #184 "Images are not shown correctly in the Dynamic HTML version"
See http://www.picklesdoc.com/Output/DHtml/Index.html#Features\14MarkdownExample\MarkdownExamples.feature

The path to the image should be adapted from "./image.png" to something like "./features/14markdownexample/image.png".

[2015-01-21 14:09] dirkrombauts commented on #184
@aaronjrich could you perhaps take a look at that?

[2015-01-28 12:51] dirkrombauts opened #186 "Use the Gherkin3 parser"
There are several tasks to be done in order to use the upcoming Gherkin3 parser.

- [ ] Upgrade all projects to .NET 4.5
- [ ] Upgrade all nuget packages
- [ ] Remove the gherkin and IKVM packages
- [ ] Create a translation from the Gherkin3 object model to these Pickles object model classes
    - [ ] Example
    - [ ] Feature
    - [ ] Keyword
    - [ ] Scenario
    - [ ] ScenarioOutline
    - [

[2015-01-28 16:32] dirkrombauts commented on #186
I started on the translation item in branch Gherkin3, with some properties of the Feature class.

[2015-01-28 19:24] sergeyshushlyapin opened #187 "IR: How do I create a level 3 header?"
In order to create a level 3 header in Markdown symbols `###` should be used at the start of a line:

```### That is my level 3 header```

But Specflow comments lines started from `#` so there is no header displayed in result. Is there any other way to render the level 3 header in PicklesDoc?

http://stackoverflow.com/questions/28115639/picklesdoc-how-do-i-create-a-level-3-header

[2015-01-28 19:57] dirkrombauts commented on #187
Hi,

Unfortunately, the "#" signs are swallowed by the SpecFlow/gherkin parser, so they are never passed to the Markdown parser. So there is - as far as I know - no way to create a level 3 header.

I am in the process of evaluating the upcoming Gherkin3 parser, maybe that parser will behave "better" in this regard.

[2015-01-28 20:14] sergeyshushlyapin commented on #187
Ok, clear. Thanks for the quick reply.

[2015-01-28 20:14] #187 closed

[2015-02-10 17:41] sshushliapin opened #189 "Create internal links between features"
I want to create internal links between my features, so that I can easily navigate between them.

It can be pretty useful if I want to build a glossary and access it's items from other specs. This feature is implemented in [GitHub Wiki](https://help.github.com/articles/adding-links-to-wikis/#using-a-wiki-markup-syntax-to-make-links) pages, would be nice to see it in pickles:

[2015-02-11 10:27] dirkrombauts commented on #189
This is an interesting idea ... I suppose the WikiLink part would refer to the name of a Feature, right? Or do you what do you want to link to?

[2015-02-11 12:38] sergeyshushlyapin commented on #189
So, there are two options here. As far as I see, at the moment the same feature name is used as a menu title as well as a page URL. In this case I would use the simplified internal link definition:

    [[My Feature Name]]

The second option might be considered as an independent wish. I would like the `Feature Name Look Like a Page Title in My Menu` and `feature-url-to-be-represented-in-lower-case

[2015-02-11 17:54] dirkrombauts commented on #189
I like it! Do you have any .NET development experience yourself? I would be happy to accept push requests for this one ;-)

[2015-02-12 14:46] sergeyshushlyapin commented on #189
Ok, I'll try to look on it in a meantime :)
I've done some [raw prototyping](https://github.com/sergeyshushlyapin/pickles/commit/ff0e9f781ba76bdea9a4152c5700f073615fd7eb) but it *works* only in tests so far. I suppose I miss smth in DI configuration.

[2015-02-12 14:52] dirkrombauts commented on #189
You're probably right that it's a problem with the DI config - but I don't see it immediately myself :-(

[2015-03-02 01:39] bzquan opened #191 "Tables in background for Word & Excel"
It seems that tables in feature background could not be generated for Word & Excel documents.
Could you double check it?

[2015-03-02 05:33] dirkrombauts commented on #191
Hi,

Thanks for bringing this to our attention! Unfortunately my "spare" time is extremely limited now (for the next two or three weeks). So I am currently able to investigate this issue.

Please be patient for a while - and should you find any other things, feel free to open additional issues!

br,
Dirk

[2015-03-02 05:58] bzquan commented on #191
Think you for your quick feedbak.
2015/03/02 14:33 "Dirk Rombauts" <notifications@github.com>:

[2015-03-04 12:15] sergeyshushlyapin opened #192 "Abbreviations displayed incorrectly with spaces between letters"
When I create a feature folder that contains an abbreviation in the name, it looks ok in the solution explorer:
![image](https://cloud.githubusercontent.com/assets/4719165/6483265/acb04146-c277-11e4-9795-7c6d97fa537f.png)

but it looks pretty strange in the menu:
![image](https://cloud.githubusercontent.com/assets/4719165/6483323/46647bcc-c278-11e4-86e1-f9615526d8a7.png)

There are some real space

[2015-03-04 16:37] dirkrombauts commented on #192
Hi,

Thanks for bringing this to our attention! Unfortunately my "spare" time is extremely limited now (for the next two or three weeks). So I am currently unable to investigate this issue.

Please be patient for a while - and should you find any other things, feel free to open additional issues!

If you want to fix it yourself: we currently do the string manipulation that is responsible for "A P

[2015-03-05 16:24] sergeyshushlyapin commented on #189
It's possible to build links between features using relative paths:

`[Introduction](/index.html#Introduction.feature)`

Clicking the link sets the correct `Introduction.feature` URL in the address bar, but unfortunately the page isn't opened.. I suppose the problem is in missing bindings that are applied to the menu items..

Is there any quick solution for this? Thanks!

[2015-03-05 20:45] dirkrombauts commented on #189
I suppose you are talking about the DHTML version, right?

I don't feel confident saying anything about the DHTML version since I haven't contributed anything to it :-(

Feel free to have a go at it yourself, though ...

[2015-03-10 03:35] mkeCharlie commented on #191
Excel is a little tricker, because it doesn't seem to be rendering the Background at all, whereas Word was rendering it, except for the tables.

[2015-03-10 11:21] mkeCharlie commented on #191
Okay, got the Excel version working too. Was actually easier, because of existing test coverage.

[2015-03-10 17:24] dirkrombauts commented on #191
Great. I will try to review the push request as soon as possible!

[2015-03-31 11:52] dirkrombauts opened #194 "In the DHtml version, feature wide tags with capitals can not be filtered on"
In the DHtml version, feature wide tags with capitals cannot be filtered on because they where compared with the lower cased search criteria.

[2015-03-31 11:52] dirkrombauts commented on #194
fixed by #190

[2015-03-31 11:52] #194 closed

[2015-03-31 11:53] #191 closed

[2015-04-29 21:39] sergeyshushlyapin opened #195 "[Wish] Align scenario keywords to the right side so that step texts start from the same position"
Since the keywords `Given`, `When`, `Then` and `And`, `But` have different length, scenarios with numerous steps might be hard to read:
![image](https://cloud.githubusercontent.com/assets/4719165/7401826/c1ec034a-eecf-11e4-8e5b-39dc0a26ddcf.png)

Aligning them by the right side can make it more readable (IMHO):
![image](https://cloud.githubusercontent.com/assets/4719165/7401959/af461842-eed0-11e4-

[2015-04-30 05:02] dirkrombauts commented on #195
I fully agree with you and would be very glad to receive a pull request. Do you think you might be able to do this for the static HTML version as well?

[2015-04-30 14:07] sergeyshushlyapin commented on #195
Hm.. That's yet another world... Would be nice to share the styles between these two, but that is definitely another request... I'll just update it independently for now.

[2015-04-30 14:14] sergeyshushlyapin commented on #195
Before:
![image](https://cloud.githubusercontent.com/assets/4719165/7414567/4bafe380-ef5c-11e4-984f-1e53c5474854.png)

After:
![image](https://cloud.githubusercontent.com/assets/4719165/7414580/60369e0c-ef5c-11e4-83de-5888063dc6e2.png)

[2015-05-03 21:44] sergeyshushlyapin commented on #195
Merged into master (https://github.com/picklesdoc/pickles/pull/196).

Thank you.

[2015-05-03 21:44] #195 closed

[2015-05-05 15:10] cjaarts opened #199 "Silent fail in case full filename is too long"
When the full file name of a feature file is too long, the parsing fails. An attempt is made to generate a warning. This triggers another exception as the FullName is too long.

File: DirectoryTreeCrawler.cs
Method: CollectFiles

See the statement in **bold** below

catch (Exception) {
            if (log.IsWarnEnabled) {
              log.Warn("The file {0} will be ignored because it could not be

[2015-05-05 16:19] dirkrombauts commented on #199
Thank you for reporting this issue.

The bad news is that I have practically no time to do development on Pickles myself right now, but the good news is that I can review and merge pull requests :-)

[2015-05-12 13:56] dirkrombauts commented on #192
Closed by #197

[2015-05-12 13:56] #192 closed

[2015-05-12 14:16] dirkrombauts commented on #195
Released as part of version 1.1.0: https://github.com/picklesdoc/pickles/releases/tag/v1.1.0

[2015-05-12 14:16] dirkrombauts commented on #192
Released as part of version 1.1.0: https://github.com/picklesdoc/pickles/releases/tag/v1.1.0

[2015-06-15 05:56] cybertk opened #200 "How to run pickles on Mac"
How can I install and run pickles on a Mac system?

[2015-06-15 14:09] dirkrombauts commented on #200
Hi,

Unfortunately there currently is no officially supported way of running Pickles on a Mac.

Some people have had success running Pickles on Linux using Mono (http://www.mono-project.com). Since Mono is available for the Mac as well, you could try that.

Microsoft announced that they will make ".NET Core 5" available on the Mac (http://www.hanselman.com/blog/AnnouncingNET2015NETAsOpenSourceNETO

[2015-07-16 17:29] #200 closed

[2015-07-16 17:31] #184 closed

[2015-07-19 05:37] RhysC opened #202 "Silently fails and does not generate docs"
[code]

create a documentation dir and nothing else, no failure logs, nothing. ```$lastexitcode```is 1

[2015-07-19 14:11] dirkrombauts commented on #202
Hi,

A couple of questions:

1. Does the problem always occur in your environment, or only with specific feature files?
2. Could you try to run pickles without including test results?
3. It would be most helpful if you could send me your feature files and test results file, but I appreciate that might be difficult because of IP reasons.

Dirk

[2015-07-19 14:31] RhysC commented on #202
It was when test results were added, else docs were generated
On 19 Jul 2015 10:11 pm, "Dirk Rombauts" <notifications@github.com> wrote:

[2015-07-19 14:33] dirkrombauts commented on #202
OK, that's a clear indicator where to look. I'll try to look into it during the upcoming week, I have some "pickles time" set aside anyway because of the upcoming release of Visual Studio 2015.

[2015-07-22 08:46] dirkrombauts commented on #202
Which version of xunit did you use to produce the test results? Version 2 perhaps?

[2015-07-22 08:52] dirkrombauts opened #204 "Add links to hide navigation and collapse/expand all in DHTML version"
Implemented by #201.

[2015-07-22 08:52] #204 closed

[2015-07-23 09:31] dirkrombauts commented on #202
I added a statement that should the command line version of Pickles fail, it will log the exception. I will make a proper 1.2 release later this week or early next week.

However, this is not going to do you much good in the default configuration, because it will only tell you that something went wrong. In order to tease a bit more information out of Pickles, you will need to adapt the NLog.config

[2015-07-23 09:37] dirkrombauts commented on #202
The silent failure is fixed in #205

[2015-07-23 09:38] dirkrombauts commented on #202
I know that the root problem (the failure itself) isn't solved, but for that I would need files to reproduce the error. Could you provide those please?

[2015-07-27 14:51] GadgetGeekUK opened #206 "Test Timings"
The NUnit XML output contains overall test execution time and individual test execution time, but these do not appear in the generated 'picklesFeatures.js' file used as the HTML data source.

Can these get included?

It would also be nice to have on the landing page a table showing the number of tests run, not-run, inconclusive, ignored, passed, and failed (with the overall execution time shown he

[2015-07-28 10:46] dirkrombauts commented on #206
Hi,

Thanks for the suggestion! I think it's a good idea, and I would be happy to receive pull requests for this - either from @GadgetGeekUK or anybody else!

[2015-07-28 12:32] #202 closed

[2015-07-28 12:32] #199 closed

[2015-07-28 12:33] dirkrombauts commented on #24
This will be done as part of the move to the Gherkin 3 parser.

[2015-07-28 12:33] #24 closed

[2015-07-31 14:00] JoostVoskuil opened #209 "Alignment of the word 'Given' in non-english"
We are using Specflow in the Dutch language where Given is translated into 'Gegeven'.
See screenshot: Alignment of the word Gegeven is not properly aligned.

![naamloos](https://cloud.githubusercontent.com/assets/4078158/9008839/4ccd3310-379d-11e5-880a-d85f86dc9570.png)

[2015-07-31 14:02] JoostVoskuil opened #210 "Max out tables"
Is it possible to maxout the table with variable width?
See screenshot where 'Maximum salaris arbeidsverhouding' is printed into two rows.

![naamloos](https://cloud.githubusercontent.com/assets/4078158/9008844/5aed682a-379d-11e5-860c-394b7648a3dc.png)

[2015-07-31 14:36] dirkrombauts commented on #210
Hallo Joost,

Thanks for your input. Getting the tables right is a really hard problem - I've had other people complain that they were too wide.

How good are your web design skills? I would welcome a pull request that makes the tables look good both in case they have a lot of data and have little data.

[2015-07-31 14:38] dirkrombauts commented on #209
Hi,

Dutch is my native language but I've never written a Feature file in Dutch :-)  I suspect other verbose languages suffer from this problem as well.

Again, how good are your web design skills? If you send me pull request, I'll publish an update early next week. If you are not well-versed in web design then I'll try to do it later next week.

[2015-08-06 17:15] JoostVoskuil commented on #209
Hi Dirk,

Sorry for my late reply. Wil look into this this weekend!

Regards,

Joost

[2015-08-09 07:48] JoostVoskuil commented on #209
Having problems with creating pull requests
Can be solved by:
\src\Pickles\Pickles\Resources\Html\css\structure.css

remove: width: 44px; from 'keyword css entry'

[2015-08-09 08:05] JoostVoskuil commented on #210
Cannot reproduce anymore with latest version

[2015-08-09 08:05] #210 closed

[2015-08-10 09:12] #209 closed

[2015-08-10 09:13] dirkrombauts commented on #209
There were some other lines to be deleted as well :-)

[2015-08-11 08:46] eugene-sea opened #212 "If test results from MSTest also contains ordinary unit tests results (including to SpecFlow) then pickles fails with NRE"
In my project I have SpecFlow tests and ordinary unit tests. Thus MSTest test results contains results of both. Unfortunately pickles currently does not handle this scenario.

Ordinary unit tests may not have "Description" element, so MsTestSingleResults.NameOf() fails with NRE for non-SpecFlow unit-tests.

Stack trace of the issue:
<img width="734" alt="screen shot 2015-08-11 at 11 44 45 am" src=

[2015-08-11 13:50] dirkrombauts commented on #212
Thanks for the heads up! Could you perhaps send me a pull request?

[2015-08-12 06:56] eugene-sea commented on #212
Yes, I will do in few days

[2015-08-13 05:58] GadgetGeekUK commented on #206
I've had a quick go with the code, but haven't had much luck just yet. Although the principal seems easy, even to just take the overall test time from the outer XML element caused me grief when working with your code. Seems some of the code is a bit more entangled than I expected...so if anyone beats me to the punch, I'd be grateful!

[2015-08-13 18:13] dirkrombauts commented on #206
"Some of the code is a bit more entangled than I expected" - that's a very poetic description :-) I know, though, there are some parts that I'm not proud of. I would welcome pull requests to clean up some of the hairier code too.

[2015-08-14 12:57] #212 closed

[2015-09-22 17:57] mikeblakeuk opened #215 "Add support for keywords such as "Background""
Background: using Visual Studio and SpecFlow

Given: I have a .feature file
When: I have the term "background" in the feature
Then: pickles should gerenate html for that feature

[2015-09-22 18:01] mikeblakeuk opened #216 "The PowerShell cmd should trace relative paths from the current directory"
Paths with dots in quotes should move up directories
For example if `c:\git\web-wrongFolder\` exists
[code]

[2015-09-22 21:03] dirkrombauts commented on #215
I'm afraid I don't understand what you mean. Pickles does support the "Background" keyword. Are you saying that you found a bug in Pickles?

How exactly are you using Pickles?

[2015-09-22 21:07] dirkrombauts commented on #216
If I understand your example, you expect `Feature Directory` to be `C:\git\src\Company.Product\Company.Product.Tests.Web\Features` and `Output Directory` to be `C:\git\src\Company.Product\Company.Product.Tests.Web\Html`.

Is that what you have in mind?

[2015-09-23 10:36] mikeblakeuk commented on #215
Using SpecFlow in VS
[code]
Using the Command Line exe (via NuGet)

2015-09-23 11:33:25.1801|WARN|DirectoryTreeCrawler|The file Schema.feature in directory C:\git\xxx.Tests.Web\Features\Schemas will be ignored because it could not be read in properly

If i comment out background it works

[2015-09-23 11:35] dirkrombauts commented on #215
Just for my understanding: are you running Pickles in a command line window, or in the visual studio Package Manager console?

[2015-09-23 11:54] mikeblakeuk commented on #215
`"..\packages\Pickles.CommandLine.1.2.1\tools\pickles.exe" --feature-directory=Features --output-directory=App_Data\Scenarios --test-results-format=nunit --link-results-file=App_Data\TestResult.xml --documentation-format=Dhtml`

Command line for now (i want to run it on TeamCity in the long term).

(Also, i assume this is ready for Nunit 3.0 yet)

[2015-09-23 15:43] dirkrombauts commented on #215
We don't actively support NUnit 3 yet. We're not actively blocking it either so your mileage may vary. You could try - for the sake of experiment, not as a solution to your problem - to leave out the test results and see if the html is then rendered.

[2015-09-23 16:40] mikeblakeuk opened #217 "Do you think it would be possible to customise the output or better still add the embed feature"
I'm looking to export the Dhtml but want to show a screen next to each Scenario if possible.

I've got the screens as files or bytes and wondered if there was a nice way to link the 3 together.

https://cucumber.io/docs/reference#screenshots

Thanks

[2015-09-24 05:30] dirkrombauts commented on #217
It is possible to include images in the description of a Scenario:

[code]

will result in http://www.picklesdoc.com/Output/Html/Features/14MarkdownExample/MarkdownExamples.html (please ignore the bug in the rendering of the table ;-) )

So if the filenames of the screenshots are deterministic you could include them like that.

Does that answer your question?

[2015-09-24 12:08] dirkrombauts commented on #215
Hi,
After studying NUnit 3, I noticed that NUnit 3 has a new test result format. I therefore highly doubt that NUnit3 will work with Pickles. Could you please try to reproduce the problem without including a test result file?

Is there any special reason why you are using NUnit 3?

[2015-09-24 12:18] dirkrombauts commented on #215
I was able to diagnose the problem with the `Background` keyboard, though. The problem derives from the way you use the `Background` in your scenario.

It looks to me as if you are using the `Background` keyword to provide additional, "background" information about the feature. It's a common mistake, but that is not what the `Background` keyword is for.

The background keyword is used to specify s

[2015-09-24 12:30] dirkrombauts commented on #216
It seems there is indeed a problem with the PowerShell commandlet: it appears to be unable to deal with relative paths, or rather it traces relative paths from the `USERPROFILE` rather than from the current directory.

[2015-09-24 12:30] dirkrombauts commented on #216
I'm adapting the title to reflect the new insight.

[2015-09-24 13:12] mikeblakeuk commented on #216
Thank you for you support and fast responses.

[2015-09-24 13:18] dirkrombauts commented on #216
You're welcome. I will release a bug fix for this issue later today.

[2015-09-24 13:49] #216 closed

[2015-09-26 17:06] dirkrombauts commented on #215
Is your question answered? Can I close the issue?

[2015-09-26 17:07] dirkrombauts commented on #217
Do you need more information? Can I close this issue?

[2015-10-05 15:16] mikeblakeuk commented on #217
Thanks for the feedback, I'll use this workaround for now.
I'm looking for a way to capture a screenshot on error so I don't want to put lots of
[code]
As the step might pass:

(PS I assume the Word docx feature is coming)

https://groups.google.com/forum/#!topic/specrun/8-G0TgOBUbY

[2015-10-05 15:16] mikeblakeuk commented on #215
I think so. Thanks for the help.

[2015-10-05 15:16] #215 closed

[2015-10-06 07:40] dirkrombauts commented on #217
Hi,

Pickles is originally meant as a living documentation system - it documents the behavior of a system in a (sort of) nicely formatted way. I know that many people would like to use it as a test reporting and diagnosing system, and your request for "screenshots on error" falls in that category.

I understand the problem you are trying to solve, but I have to be honest with you: I don't have the

[2015-10-15 10:59] faisalhussain opened #221 "Pickles DHTML performance benchmarking"
![image](https://cloud.githubusercontent.com/assets/5527438/10511778/94f4af84-7333-11e5-8dc1-58d4a17db3b9.png)

Hi, Looking at the structure of generated DHTML report. Everything is contained in pickles.js and therefore if we have massive number of feature files. Performance is issue, because browser takes time to load this pickles.js.

We did some benchmarking. Results attached.

Why will we have

[2015-10-15 15:47] dirkrombauts commented on #221
Wow ... 5000 feature files. I'm speechless. There's little you can do with Pickles itself to improve the performance :-(

- What browser do you use? Try using a browser with fast JavaScript speed, like Google Chrome
- The static HTML version does not support search, but will load much faster
- If you are OK with having your documentation in the cloud (and potentially pay for having them private),

[2015-11-18 15:07] markwinspear opened #223 "Crash when linking nUnit test results"
Hi

i can successfully run pickles without linking to the results file, but when I try to link to the results, I get a fatal error.

* I am running the following pickles commands in a .bat file:
[code]

* This is the output:
[code]

* The TestResult.xml file is generated via the NUnit console and its contents look like this:
[code]

[2015-11-18 16:19] dirkrombauts commented on #223
Thanks for providing me with this much detail. Would it also be possible to provide me with the `.feature` file(s)? If the steps in your files are proprietary, you can replace them with dummy steps - the important parts are the name of the features, scenarios and scenario outlines.

[2015-11-19 10:45] markwinspear commented on #223
Sure - I've attached now (I've changed the extension so github will accept the upload). They are not proprietary, I'm getting a proof of concept up and running before I delve into project-specific work

[example.txt](https://github.com/picklesdoc/pickles/files/38827/example.txt)
[ExampleWebFeature.txt](https://github.com/picklesdoc/pickles/files/38828/ExampleWebFeature.txt)

[2015-11-19 18:08] dirkrombauts commented on #223
Thanks. Am I guessing correctly that these feature files are in the root of their project, in namespace `Specflow_Selenium_PO_Example2.Features`?

I'll do my best to have a look at them tomorrow, and hopefully release a bug fix.

[2015-11-19 18:12] dirkrombauts opened #224 "Support for nUnit 3"
nUnit 3 is out in the wild, and I've had a few requests for support of nUnit 3 test results.

- [x] Create a project in https://github.com/picklesdoc/pickles-testresults for nUnit 3.
- [x] try to get nUnit 3 to execute tests marked up with nUnit 2 attributes (SpecFlow doesn't support nUnit 3 yet)
- [x] Alternative: manually change the generated code (yuk).
- [x] Add a new test result parser

[2015-11-19 18:13] dirkrombauts commented on #186
This was resolved by #222 .

[2015-11-19 18:13] #186 closed

[2015-11-20 11:39] dirkrombauts commented on #223
I just checked in  a fix - this issue opened a nice can of worms :-)

I'll release a new version in the afternoon.

[2015-11-20 12:05] markwinspear commented on #223
Thanks @dirkrombauts :-)

[2015-11-20 12:21] dirkrombauts commented on #223
And the new version is released :-)

[2015-11-20 12:21] #223 closed

[2015-11-20 12:42] markwinspear commented on #223
Thanks @dirkrombauts - that's super quick service and  I now have an html file showing the results as well!

One question though... NUnit console reported no failures (as does running through Visual Studio), but pickles is reporting the final row in my scenario outline table as 'inconclusive'. I've checked the TestResult.xml file and all tests are showing as result="Success" and success="True"...

[2015-11-20 14:42] markwinspear opened #227 "Unexpected "Inconclusive" result displayed"
Pickles 2.0.1

Having just run some tests via NUnit console, NUnit reported no failures (as does running through Visual Studio), but pickles is reporting the final row in my Scenario Outline table as 'inconclusive' (see attached). I've checked the TestResult.xml file and all tests are showing as result="Success" and success="True" (reproduced below)...
[code]

![pickles report](https://cloud.githu

[2015-11-20 19:36] dirkrombauts commented on #227
Those are the same scenarios as in #223 aren't they?

[2015-11-21 15:33] dirkrombauts commented on #227
It appears that the `$$$` is the culprit ... test result detection for examples in a scenario outline is done using regular expressions, and `$` has special meaning for regular expressions.

I'll try to come up with a fix for some kind of escaping.

In the meantime - since you are working on a proof of concept - you could consider changing the special character. Using '%' works in your examples.

[2015-11-21 16:21] dirkrombauts commented on #227
Resolved by #228

[2015-11-21 16:21] dirkrombauts commented on #227
And released in version 2.0.2

[2015-11-21 16:21] #227 closed

[2015-11-21 16:22] dirkrombauts commented on #221
I'm closing this issue because the original poster has not provided new information for a long time.

[2015-11-21 16:22] #221 closed

[2015-11-21 16:22] dirkrombauts commented on #217
I'm closing this issue because the original poster has not provided new information for a long time.

[2015-11-23 08:00] markwinspear commented on #227
Excellent. Thanks again @dirkrombauts !

[2015-11-23 11:30] markwinspear opened #229 "dhtml format: add scenario collapsing"
Hi

The project I am looking to introduce pickles to has Features with up to 25 scenarios with plenty of 'And' clauses.

As a snapshot view, it would be useful to be able to be able to expand/ collapse all scenarios at once, and expand/collapse scenarios individually as well. This would make walking product owners through results  much easier

I figured that the html format would not contain this

[2015-11-23 12:55] #229 closed

[2015-11-23 12:55] markwinspear commented on #229
my error, sorry

[2015-11-23 13:45] markwinspear commented on #217
The screenshot embedding on failure would be very useful indeed when showing results to product owners.  I'd love to be able to help out, but it's no something I have sufficient expertise in

[2015-11-23 15:53] dirkrombauts commented on #217
@markwinspear this is a feature that'll depend greatly on contributions. What kind of experience do you have?

@mikeblakeuk are you still following this issue? Could you perhaps tell us a bit more about the file names of your screenshots? I'm thinking whether there might be a good way of automatically linking filename and scenario.

[2015-11-25 10:26] dirkrombauts opened #230 "Support for xUnit 2"
xUnit 2 is out in the wild, and while SpecFlow does not yet officially support xUnit 2 (it can be made to work) I want to be prepared.

- [x] Create a project in https://github.com/picklesdoc/pickles-testresults for xUnit 2.
- [x] manually change the generated code (yuk).
- [x] Add a new test result parser
- [x] We'll probably need some DTOs to model the XML structure

[2015-12-10 20:22] augustoproiete opened #233 "Add support for custom themes"
I would like to be able to apply custom themes to the Pickles output so that the look-and-feel is consistent with other documentation that I generate for my projects using other tools (e.g. Sphinx / ReadTheDocs).

If someone decides to take a stab on implement this feature, please make a comment on this issue. Otherwise I'll try to put together a PR in a few weeks as time permits.

[2015-12-15 15:31] Shumakriss opened #235 "Cross-platform Support"
This is a fantastic tool.

I think most people are using Gherkin via Cucumber either in Ruby or with Cucumber-jvm (Java) or Behave (Python). All of those languages have excellent cross-platform support while I cannot say the same for C# even with Mono. I can understand why C# is preferable over Java but I would strongly urge you to consider a Ruby or Python implementation.

I think it would be mut

[2015-12-15 15:57] dirkrombauts commented on #235
Thank you for your kind words of support.

There is in fact a ruby-based living documentation generator: [RelishApp](https://relishapp.com/).

I agree with you that it's a bit sad that Pickles is Windows-only. I'm not sure about mono compatibility. Based on my skill-set a Ruby or Python version would take a long time. Something more realistic is - I think - creating a [.NET Core](http://dotnet.git

[2015-12-15 16:03] Duranom opened #236 "MSBuild configuration should map Language too"
Unlike powershell and commandline it is not possible to set the Language for the MSBuild runner.
Setting Pickels_Language is not mapped.

[2015-12-15 16:09] dirkrombauts commented on #236
Thanks for the catch!

Would it be at all possible for you to contribute a fix?

[2015-12-17 08:13] dirkrombauts opened #237 "New output format: Markdown"
Use Markdown as an additional output format, to complement the set of Html, Dhtml, Word, Excel and CucumberJson.

[2015-12-17 12:00] dirkrombauts commented on #236
I'm starting on this now.

[2015-12-17 12:07] dirkrombauts commented on #236
@Duranom could you please double-check? The property is called `Language`. Did you read `Pickles_Language` in our documentation? If so, could you point me to the page so I can correct it? Thanks!

[2015-12-22 00:15] smr75 opened #238 "The presence of a background causes a crash when integrating test results"
I have a Feature file with 3 scenarios and 2 Background steps. The presence of the Background steps causes Pickles.CommandLine to throw a NullReference Exception in the NUnitSingleResults class because the feature.Background.Feature property is not set for Backgrounds. Here is the full stack trace:

ERROR|Runner|Something went wrong during generation: System.NullReferenceException: Object referenc

[2015-12-22 09:00] dirkrombauts commented on #238
Hi,

I'm sorry you ran into troubles. Thank you for taking the time to report this.

Would it be possible for you to attach the feature file and nUnit test results file in question? Thanks!

[2015-12-22 11:25] dirkrombauts commented on #238
I'm starting on this now.

[2015-12-22 11:52] dirkrombauts commented on #238
I am sorry, I am unable to reproduce the issue on my machine. It would really help if you could attach the feature files and the test result file. Thank you.

[2015-12-22 16:02] smr75 commented on #238
The problem seems to occur with results produced using NUnit console version 2.6.4 (I can't use NUnit v3 as SpecFlow doesn't seem to support it). I've recreated the problem using the simple feature file which I've attached.
[TestResult.txt](https://github.com/picklesdoc/pickles/files/69874/TestResult.txt
[TestResult.xml.txt](https://github.com/picklesdoc/pickles/files/69886/TestResult.xml.txt)

[C

[2015-12-22 23:20] dstj opened #239 "The PowerShell runner does not load"
Hi,

The powershell module for Pickles crashes my Powershell process on Windows 10.

Just running the following command in a PS1 script and get the "Windows PowerShell has stopped working" popup. Regardless of the actual files in the `doc-temp` folder. Even empty or non-existent folder crashes.
[code]

When clicking `Debug`, this is the exception visible in Visual Studio:
[code]

My PowerShell ver

[2015-12-23 09:18] dirkrombauts commented on #238
Thanks for the files, I can reproduce the issue now. And thanks for the analysis too!

[2015-12-23 09:52] dirkrombauts commented on #238
I released the fix in version 2.0.3

[2015-12-23 09:52] #238 closed

[2015-12-23 09:54] dirkrombauts commented on #239
Hi,

I'm sorry you ran into troubles; thank you for taking the time to report them.

I just released a new version of Pickles with a bug fix - could you please try again with the new version? If the problem still exists I will do my best to fix it in the next couple of days.

[2015-12-23 10:25] smr75 commented on #238
Yep, v2.0.3 has fixed the problem. Thanks for the quick turnaround.

[2015-12-23 11:00] dirkrombauts commented on #238
You're welcome- glad I could help!

[2015-12-23 11:10] smr75 opened #241 "Visually identify the step that caused a scenario to fail and display the failure message in the DHTML"
The Pickles generated DHTML shows a failure icon against each scenario that fails in a feature. I'd really like to visually mark the actual step that failed and display any associated failure message. The test execution results text file (NUnit v2.6.4) includes all of the required detail.

Not sure if this is already a feature?

[2015-12-23 11:26] nickball-granta commented on #241
I agree! I think that pickles is awesome, but this would be a great addition. DHTML is the output format we choose to use.

[2015-12-23 12:48] dirkrombauts commented on #241
Hi,

Thank you for your suggestion!

Pickles is primarily meant as a Living Documentation tool, but there's also a sizable faction who want to use it as a full blown test report: visually identifying the failing steps (as you propose), screen shots, debug information, ... I am personally not in favour of this, but I am starting to recognize that there is a definite demand from the community for th

[2015-12-23 13:54] dstj commented on #239
Hi,

Thanks for the quick follow-up! Unfortunately, the problem is still there with version 2.0.3. The "Debug" message is a bit different (the dll name), but that may be unrelated, I do not know:

[code]

[2015-12-23 14:27] dstj commented on #239
Before the Powershell window crashes, I get the following output: `Process is terminated due to StackOverflowException.`

[2015-12-23 14:35] nickball-granta commented on #241
I'm not so in favour of screen shots/debug information. As a developer, I can go and look at that. Just knowing which scenario fails the feature. I'll see if I can get a simple prototype.

[2015-12-23 14:38] nickball-granta commented on #241
To clarify: I actively *don't* want the pickles output to be splattered with techie speak (as in crash dumps etc). That isn't the purpose of specflow; you are correct to say that it is primarily living documentation. I've always taken the approach that it is documentation that can be read by the entire team.

[2015-12-23 14:42] smr75 commented on #241
For me, Pickles has become an invaluable tool with which to engage business stakeholders on projects I work on. I take business requirements and translate them to features and scenarios - the Pickles generated DHTML report is placed on Sharepoint so business stakeholders get a live view of the current level of requirements implementation and the general "wellbeing" of the solution. It's therefore

[2015-12-27 12:28] dirkrombauts commented on #239
I have some news here: I was able to reproduce the problem. It seems to be a loading issue with the assemblies that are compiled into the pickles assembly as resources.

I will try and create a new version that does not compile external assemblies as resources.

[2015-12-27 13:17] dirkrombauts commented on #239
Hi,

I released a new version. Could you try and verify whether this new version solves your problem? Thanks!

[2015-12-28 14:52] dstj commented on #239
Hi Dirk,
It works now. Thanks for fixing it quickly! :+1:

[2015-12-28 14:52] #239 closed

[2015-12-28 18:09] dirkrombauts commented on #239
You're welcome, glad I could help!

[2015-12-29 16:29] dirkrombauts commented on #236
@Duranom I think I understand your request now - I got it backwards.

My current understanding is that you expect to be able to set a property `Pickles_Language` for the MSBuild runner, and that this property sets the language of the feature files.

Could you please confirm that I understood you correctly?

As I wrote earlier, you can set the language using the `Language` property, but I am the fi

[2015-12-29 16:31] dirkrombauts opened #243 "Remove potential load failure from the Command Line, GUI and MSBuild runners"
The assembly weaving done by Fody and Costura has led to at least one person being unable to load the PowerShell version. In order to reduce this potential load failure, I want to remove the assembly weaving.

[2015-12-30 17:12] dirkrombauts commented on #243
Released with [v2.1.0](https://github.com/picklesdoc/pickles/releases/tag/v2.1.0).

[2015-12-30 17:12] #243 closed

[2015-12-30 17:12] dirkrombauts commented on #236
Released with [v2.1.0](https://github.com/picklesdoc/pickles/releases/tag/v2.1.0).

[2015-12-30 17:12] #236 closed

[2016-01-08 16:29] dstj commented on #237
If you take a look at [this commit](https://github.com/mediaclip/pickles/commit/08567d4cc9fc2a3729db118a97c74f0c0fe28ebc) on our fork's master branch, you'll see that we used Markdownify as Markdown parsing engine. We found that the output was better...

I didn't want want to include all of that in the pull request #252 I created, but I think allowing multiple Markdown parsers would be a good impr

[2016-01-08 17:15] dirkrombauts commented on #237
Are we perhaps talking about different things here? The markdown parser does not have any bearing on the output formats.

[2016-01-08 17:23] dirkrombauts commented on #237
Oh, I get it - the markdown parser is also the markdown renderer.

[2016-01-08 18:12] dstj commented on #237
Actually, I made a mistake, I read "Mardown parser" instead of "output format". I saw Markdown and got excited I should have created a new issue post...

[2016-01-12 07:45] dirkrombauts commented on #18
The community came back with this feature request: https://pickles.uservoice.com/forums/232147-general/suggestions/9796998-support-filtering-by-tags

[2016-01-12 07:47] dirkrombauts commented on #18
I think the same type of functionality that we have with running NUNIT from msbuild:
INCLUDES and EXCLUDES

Some examples:

- only tags matching “GUI”
- Only tags matching “DB” and “CI”
- Exclude tags matching “GUI”
- Only tags matching “DB” and “CI” except for “GUI”

However, a great start would simply be: "only scenarios with this tag” and more sophisticated boolean logic predicates could come l

[2016-01-12 08:04] dirkrombauts opened #254 "MarkDown Rendering in the DHMTML example files is off"
The MarkDown parts in http://www.picklesdoc.com/Output/DHtml/Index.html#Features\00BasicGherkin\BasicGherkin.feature and http://www.picklesdoc.com/Output/DHtml/Index.html#Features\14MarkdownExample\MarkdownExamples.feature look wrong.

The possible culprit is that the MarkDown may not be flush with the left side.

[2016-01-13 14:40] #230 closed

[2016-01-14 13:56] MarcWils opened #260 "Language parameter has no effect"
I noticed that after upgrading to version 2.x my Dutch feature files are no longer recognized. This used to work in version 1.2.3.

The DirectoryTreeCrawler throws a warning stating the file could not be read in properly.

Reproduction: http://www.marcwils.be.eu.org/wp-content/uploads/2016/01/dutchpickles.zip

[2016-01-14 14:08] dirkrombauts commented on #260
I'm sorry you are having problems, and thank you for taking the time to report this. I am on the road now, but will investigate this evening.

[2016-01-14 14:21] dirkrombauts commented on #260
I had a quick look at your feature files (on a mac so I can't run Pickles :-( ) - could you try adding a language header to the dutch feature file?

Add

    # language: nl

as the first line of the feature file (as described at https://github.com/cucumber/cucumber/wiki/Spoken-languages).

[2016-01-14 14:42] MarcWils commented on #260
Adding a language instruction on the first line works.

Is this how it should behave? I'm already passing "nl" as the default language: pickles.exe -l=nl

[2016-01-14 14:50] dirkrombauts commented on #260
Passing the language parameter should work, so there is a problem somewhere. But at least now you have a fallback option.

Do you use any other gherkin/cucumber/specflow related tools? How do they deal with Dutch feature files?

[2016-01-14 15:03] MarcWils commented on #260
We use SpecFlow (v1.9.0) which handles the feature files without any issues.

[2016-01-14 17:27] dirkrombauts commented on #260
The problem occurs in the parser we use to read the feature files. That is an external component that was recently changed (in fact, it was the reason the version number went to 2.x). I reached out to the team that maintains the parser and asked them what the new version of the parser expects.

Pickles 1.x and SpecFlow 1.9.0 both use the old version of the parser, so that *may* explain why those t

[2016-01-14 19:14] MarcWils commented on #260
Alright, thanks!

[2016-01-14 20:32] xDazedx opened #261 "Word document is corrupt if a Feature has no description"
I am using the msbuild nuget package and when the features.docx is opened, I am receiving an error. I am using Word 2013.

"We're sorry. We can't open features.docx because we found a problem with it's content."
clicking details displays:
"A document must contain exactly one root element. Location: Part: /word/document.xml, Line 1, Column: 0"

Is this a bug or is it something on my end? The html f

[2016-01-15 08:05] roundand commented on #90
Glad to see this is still live!

[2016-01-15 14:23] dirkrombauts commented on #261
I am sorry, I cannot reproduce this problem with my test data.

Which runner are you using? Are you including test results? Would it be possible to send me the project with the feature files so that I can try for myself?

[2016-01-15 15:10] xDazedx commented on #261
Thanks Dirk. I am using SpecRun with Jenkins and not doing test results as of yet. I added a command line argument in the msbuild section of the Jenkins Project like the below. As mentioned, the HTML is building fine but when I change the output to word, I get the error opening the doc. Unfortunately I can't send you the project.

I am going to add pickles to a few more projects and that should te

[2016-01-15 15:34] dirkrombauts commented on #260
I heard back from the Gherkin people and they pointed me in the right direction. I will release a new version with the fix later today.

[2016-01-15 16:37] dirkrombauts commented on #90
:-)
I'm sorry this is taking so long. I'm basically the only person maintaining Pickles and I was ill for a long time last year. Things are getting better, though.

[2016-01-15 16:40] dirkrombauts commented on #261
Yes, please try it on a few more projects ... maybe you could try a sample project that you are allowed to send me and see if the problem occurs.

While we are on the topic of the Word output format: I'm curious why you use it. I personally have no use for it, so I'm interested to know what needs you address with it.

[2016-01-15 17:04] #224 closed

[2016-01-15 17:19] xDazedx commented on #261
I work for a company that due to what we do, we are extremely locked down. When I run our automation through Jenkins, I attach the specrun report to an email and send it out after the run. My goal was to attach the word document along with the test results. The html version is available but that server is locked down so they have to have permissions to access it. The word attachment was just an ea

[2016-01-15 17:32] dirkrombauts commented on #261
I have experience with locked down environments :-) Another alternative would be to zip the directory of the static html version. The static html version is meant for easy portability, so it can be zipped, ftp'ed, copied to a usb thumb drive, ...

[2016-01-15 17:37] #260 closed

[2016-01-15 17:48] #254 closed

[2016-01-15 18:18] dirkrombauts commented on #260
Released in [version 2.2.0](https://github.com/picklesdoc/pickles/releases/tag/v2.2.0).

[2016-01-15 18:18] dirkrombauts commented on #254
Released in [version 2.2.0](https://github.com/picklesdoc/pickles/releases/tag/v2.2.0).

[2016-01-15 18:18] dirkrombauts commented on #230
Released in [version 2.2.0](https://github.com/picklesdoc/pickles/releases/tag/v2.2.0).

[2016-01-15 18:18] dirkrombauts commented on #224
Released in [version 2.2.0](https://github.com/picklesdoc/pickles/releases/tag/v2.2.0).

[2016-01-16 00:02] roundand commented on #90
Glad you're better, Dirk - that's the important thing :)

[2016-01-16 09:18] dirkrombauts opened #267 "Nuspec files should contain release notes"
A link to the change log file is enough.

[2016-01-16 19:31] MarcWils commented on #260
Top notch! It works like a charm.

[2016-01-16 19:45] dirkrombauts commented on #260
Thank you, I'm glad I could help!

[2016-01-18 14:32] iamkoch opened #268 "xUnit1 and xUnit2: Failure when tests are included that don't have traits."
@line 93 of XUnit2SingleResults.cs

        private assembliesAssemblyCollection GetFeatureElement(Feature feature)
        {
            var query = from collection in this.resultsDocument.assembly.collection
                        from test in collection.test
                        from trait in test.traits
                        where trait.name == "FeatureTitle" && trait.value == feature.Na

[2016-01-18 19:49] dirkrombauts commented on #268
I do not fully understand the problem ... are you saying you have tests without the FeatureTitle trait? Do you perhaps have both specflow-based tests and regular unit tests in the same project?

[2016-01-18 20:20] iamkoch commented on #268
Hi there

Indeed I do. The fix would be simple and then this hybrid assembly would
supported by pickles
On Mon, 18 Jan 2016 at 19:49, Dirk Rombauts <notifications@github.com>
wrote:

--
Antony Koch
e: ant@iamkoch.com
w: http://iamkoch.com
w: http://amko.info

[2016-01-19 11:24] dirkrombauts commented on #268
I see. This is probably something I should verify with the other test result parsers as well.

Unfortunately I will not have time to look into this until thursday afternoon. So I am glad you found a workaround.

[2016-01-19 12:03] dirkrombauts commented on #33
I'm reviving this issue since it has proven quite popular on UserVoice.

It would be a big help if someone could take some example feature files and create the expected Confluence-Wiki-Markup version of them.

[2016-01-21 12:17] dirkrombauts commented on #268
I'm not sure I understood you correct after all. I added a regular unit test to the test harness, resulting in this element in the test result xml:

[code]

The test has no traits at all, not even an empty `<traits>` element. If I understood you correctly, this should cause a crash. The unit tests still pass, though.

Could you try to explain what I'm missing? Thanks!

[2016-01-21 12:24] iamkoch commented on #268
Hi Dirk

That's interesting. Perhaps the missing piece is that these tests were
Xbehave tests. Leave it with me and I will see if I can reproduce and
provide you with more concrete evidence, if any, rather than you spending
any more time on it.
On Thu, 21 Jan 2016 at 12:17, Dirk Rombauts <notifications@github.com>
wrote:

--
Antony Koch
e: ant@iamkoch.com
w: http://iamkoch.com
w: http://amko.info

[2016-01-21 13:06] iamkoch commented on #268
Hiya

If I add one of the rows from my results XML into the top collection of results-example-xunit2.xml all the tests fail:

[code]

[2016-01-21 13:11] iamkoch commented on #268
Even adding your test collection mentioned above in makes all the tests in "WhenParsingxUnit2ResultsFile" fails

[2016-01-21 13:17] iamkoch commented on #268
changing line 96 to

[code]

makes those particular tests pass where they failed before

[2016-01-21 13:21] dirkrombauts commented on #268
Weird that it works on my machine - something must be wrong in my configuration.

[2016-01-21 13:27] iamkoch commented on #268
Very strange. Just to be sure I've run the tests through the resharper test runner and NCrunch and both cause failures. http://iamkoch.com/wp-content/uploads/2016/01/Capture.png

[2016-01-21 13:30] dirkrombauts commented on #268
Aha ... the position of the xml fragment makes a difference. If I put your fragment (with `<test name="A.B.C.D(..." />` then all xunit2 tests are red.

[2016-01-21 13:32] iamkoch commented on #268
Heh, that's bizarre! Glad you've managed to reproduce it though. Was concerned I was doing something insane...

[2016-01-21 13:40] dirkrombauts commented on #268
Really weird that the xml deserializer accept the version where my fragment is in the middle, but not where my fragment is the very first collection.

[2016-01-21 13:54] dirkrombauts commented on #268
I now managed to create a properly reliable unit test that demonstrates the problem, and I fixed the problem as well. I'm going to check the other test result providers too, but you can expect a new version of Pickles in the next couple of days.

[2016-01-22 08:27] dirkrombauts opened #269 "Spike: Try out a different MarkDown provider for the HTML output format"
Try out [Strike.Jint.Merged](https://www.nuget.org/packages/Strike.Jint.Merged/) as the MarkDown provider, so that we can optionally enable GitHub Flavored Markdown later.
- [ ] Add it to the code.
- [ ] Make sure the unit tests are still passing
- [ ] Generate sample outputs for Html, and compare them to the sample output on the pickles website.

[2016-01-22 08:28] dirkrombauts commented on #269
@dstj would you have time to take a stab at this?

[2016-01-22 08:30] dirkrombauts opened #270 "Spike: Try out a different MarkDown provider for the DHTML output format"
Investigate using [Marked.js](https://github.com/chjj/marked/) as the MarkDown provider for the DHTML output format.

[2016-01-22 21:20] dstj commented on #269
Hi Dirk, it won't be possible in the next few days/weeks,but I'll try to see if I can make up some time to try it out in a consistent manner. I'll like to avoid having my own separate custom fork for that...

[2016-01-24 09:12] CharlieMott opened #271 "Output commented lines"
It would be great if the commented (#) lines in a feature file were output. Maybe an optional parameter. I use Specflow + powershell to generate html output.

[2016-01-24 10:41] dirkrombauts commented on #271
Thank you for your suggestion. This has been impossible to do in the past since the parser of the feature files swallowed the commented lines and Pickles never received them. We are now using a new version of the parser so it is time to re-investigate this.

[2016-01-24 18:41] dirkrombauts commented on #268
The heavy lifting is done. I still need to dot some i's and cross some t's in the changelog, but I expect to release a new version of Pickles tomorrow (Monday).

[2016-01-25 12:23] #268 closed

[2016-01-25 12:56] #267 closed

[2016-01-25 13:24] dirkrombauts commented on #267
Released in [v2.2.1](https://github.com/picklesdoc/pickles/releases/tag/v2.2.1)

[2016-01-25 13:24] dirkrombauts commented on #268
Released in [v2.2.1](https://github.com/picklesdoc/pickles/releases/tag/v2.2.1)

[2016-01-25 14:34] iamkoch commented on #268
Great work @dirkrombauts

[2016-01-25 14:50] dirkrombauts commented on #268
Thanks, glad I could help.

[2016-01-27 15:53] dirkrombauts opened #276 "Pickles incorrectly reads Scenario Outline results from MsTest results generated by SpecFlow v2"

[2016-01-27 16:03] #276 closed

[2016-01-27 16:23] dirkrombauts commented on #276
Released in [v2.3.0](https://github.com/picklesdoc/pickles/releases/tag/v2.3.0)

[2016-01-31 10:19] dirkrombauts opened #278 "Support Cucumber JSON Format as Output"
Cucumber specifies [JSON report format](http://cukes.info/reports.html) generated e.g. by Cucumber-JVM. It can be used as input for different visualization tools, e.g. for [Cucumber-JVM Reporting for Jenkins](https://github.com/masterthought/jenkins-cucumber-jvm-reports-plugin-java) which visualizes execution results for Jenkins Jobs.

Since Specflow itself seems not to support JSON as output form

[2016-01-31 10:20] dirkrombauts commented on #278
don’t fully understand the requirement, though. It reads as if you want to use Pickles as a converter between different JSON formats.

What should the resulting “Cucumber JSON” format look like? Could someone provide an example?

Any feedback/clarification would be appreciated!

[2016-01-31 10:23] dirkrombauts commented on #33
Here's a description of Confluence Wiki Markup: https://confluence.atlassian.com/doc/confluence-wiki-markup-251003035.html

[2016-01-31 10:26] dirkrombauts commented on #206
This GitHub issue is the counterpart of this UserVoice suggestion: https://pickles.uservoice.com/admin/forums/232147/suggestions/9041782

[2016-01-31 10:27] dirkrombauts commented on #206
As noted in the UserVoice comment, this issue is similar to #241

[2016-01-31 10:30] dirkrombauts opened #279 "have one index.html and navigate to each separate feature file"
Normally features can be in separate projects. It would be nice to be able to navigate to each one from a central page.

Sent by [Antonis Kleanthous](https://pickles.uservoice.com/admin/users/55063976-antonis-kleanthous) on UserVoice.

[2016-01-31 10:30] dirkrombauts commented on #279
Could you perhaps clarify what you mean? Perhaps you can describe a file/folder structure?

[2016-02-01 06:52] dirkrombauts opened #280 "Support for the test result format of VsTest.Console.exe"
Visual Studio 2012 introduced VsTest.Console.exe, a new test runner to replace MsTest. The output formats of the two are similar yet different enough to cause Pickles troubles. Pickles should support VsTest.Console.exe too.

- [x] Implement logic
- [x] Adapt documentation to include the new test format
- [x] Adapt GUI - the radio buttons are no longer appropriate - done in #297

[2016-02-01 21:51] allustin commented on #237
:+1: for this feature

@dirkrombauts i use a some hack for this right now

[code]

but this is only a hack

[2016-02-03 16:31] favetelinguis opened #281 "Spike: Investigate rendering math using MathJax"
I would like to request a feature to produce pretty printed math formulas in the dynamic html output.

[2016-02-03 16:47] dirkrombauts commented on #281
That's an interesting idea. May I ask if you have any technical experience yourself, and maybe have a solution in mind?

[2016-02-03 17:01] favetelinguis commented on #281
I have tried to do this by embedding the `<math>` tag in html docs we generate, the problem with this is that browser support for `<math>` is almost non existing (only recent versions of firefox support it).
So my thought was embedd some minimal javascript library that can handle the rendering but that is pretty much where my techincal skill end. I know there are JS librarys that do this but it wo

[2016-02-04 07:07] dirkrombauts commented on #281
MathJax seems to be a well-established standard for embedding mathematics in html: http://docs.mathjax.org/en/latest/start.html

[2016-02-08 16:46] albertdabrowski opened #282 "Search by labels on Feature level"
Unable to filter features by label in generated DHTML, e.g.

[code]
In that case filter doesn't return anything (feature A and its scenarios)
Strange, as on html generated part every label on Feature level is propagated to every scenario.
I'm asking this as we label mainly features (not scenarios). Also would be great if I could filter with more than one label at the same time

[2016-02-09 14:45] dirkrombauts commented on #282
Hi,

Are you saying that if you search for `@LabelA` in the DHTML version, you do not get any results? We definitely support this feature, so there must be a problem somewhere.

Could you please go to [the sample DHTML output](http://www.picklesdoc.com/Output/DHtml/Index.html) and search for `@allAboutTags`? Do you get any results? If not, could you please try in a different browser?

[2016-02-09 21:03] albertdabrowski commented on #282
Hi again,
I did further testing as Your output worked and it seems I have had the old version of Pickles. On the 2.3.0 version it works as expected. The only thing it doesn't support is to specify more than one label in the search. Do You think that would be feasible to do this on DHTML version?

[2016-02-10 08:43] dirkrombauts commented on #282
Regarding searching for more than one label: in what situations would that help you? What are you trying to achieve?

[2016-02-10 10:08] albertdabrowski commented on #282
Well, we are doing labeling for marking specific features to the appropriate products we develop. Some of them are common for all products some of them are specific. So then I would like to filter by common AND specific product to have all features. There are other use cases as well. I know that in this case we may overcome with tagging feature with every product instead of common.

[2016-02-11 06:48] dirkrombauts opened #283 "Search for multiple tags in DHTML version"
Currently the DHTML version allows to search for only one tag at a time. In larger specifications, there are often many tags used in specific combinations. It would be beneficial if we could search for multiple tags.

[2016-02-11 06:50] dirkrombauts commented on #283
@albertdabrowski could you please enhance this description? One of the questions I have is:

[code]

[2016-02-11 06:51] dirkrombauts commented on #282
I created a new issue to track the feature of searching for more than 1 label: #283 . Could you please enhance that issue?

[2016-02-11 06:51] #282 closed

[2016-02-11 12:52] albertdabrowski commented on #283
In our case we would like to have "OR", but I think "AND" would be also valuable. So I think in this case it's a matter of search capability. Do we want to keep it simple or more like for example search in JIRA?

[2016-02-11 14:16] dirkrombauts commented on #283
OR would mean that

[code]

Right? I'm happy you said OR, because the OR behaviour is consistent with many other search-by-property search definitions that treat different properties as AND criteria, and different values of the same property as OR criteria.

I have to admit I have no experience with JIRA.

[2016-02-11 14:19] dirkrombauts commented on #283
@aaronjrich would you have a moment to get in touch with me? I'd like to ask you a few questions about the DHTML version, with the goal that I am able to extend it myself. I feel bad about having to bother you every time something with the DHTML version comes up.

[2016-02-16 16:48] dirkrombauts opened #285 "Add support for test results of individual examples in a scenario outline in the MsTest test result provider"

[2016-02-16 16:49] dirkrombauts opened #286 "Add support for test results of individual examples in a scenario outline in the SpecRun test result provider"

[2016-02-16 16:49] dirkrombauts opened #287 "Add support for test results of individual examples in a scenario outline in the Cucumber JSON test result provider"

[2016-02-16 17:08] #285 closed

[2016-02-17 10:28] tboksebeld commented on #261
Hi,
Did you find the cause of this issue ?

I tried pickles for the first time today. Html was fine but I met the same error with Word. Unfortunately you do not have any error message with commande line but I tried the same operation with picklesui to generate Word documentation and I got a NullReferenceException in the output window.

There is maybe a dependency or something we forgot.
Did you fi

[2016-02-17 12:20] aaronjrich commented on #283
@dirkrombauts, sorry about now getting back sooner.  Let me know what time works for you.

[2016-02-17 14:51] xDazedx commented on #261
I ended up just using a zipped version of the html since I could not resolve this. It happened on multiple projects.

[2016-02-18 06:31] dirkrombauts commented on #261
I was unable to reproduce this problem on my system so far :-(

@tboksebeld are you able to share the project data that lead to this problem? I'll happily sign an NDA if needed.

[2016-02-18 06:33] dirkrombauts commented on #283
@aaronjrich tomorrow (19 February) in the forenoon would work for me (for example). I'm in GMT+2, I don't know which timezone you are in ...

BTW, if you are on gitter, you can send me a message there, that's perhaps easier than filling up this feature request.

[2016-02-18 13:08] tboksebeld commented on #261
I solved my problem.
I don't know which step of the environment setup i failed or forgot.
I uninstalled all and re-install depencies and pickles step by step and it now works fine.
It was maybe and issue due to my features file cause I reworked it too.

Anyway, find a NullReferenceException while executing picklesui product was surprizing ;-)

[2016-02-19 09:22] dirkrombauts commented on #261
@tboksebeld do you know what you changed in the feature files?

@xDazedx did you try the UI version of Pickles? Did you get an error message there?

[2016-02-19 11:42] dirkrombauts commented on #261
Good news. Thanks to the screenshot provided by @tboksebeld I was able to reproduce the problem. It will soon be fixed, and I will create a new release next week.

[2016-02-19 11:46] #261 closed

[2016-02-20 13:26] #286 closed

[2016-02-20 13:41] dirkrombauts commented on #286
See the documentation on how to integrate SpecRun results at http://docs.picklesdoc.com/en/latest/IntegratingTestResultsFromSpecRun/ for an important caveat when working with Scenario Outlines

[2016-02-20 15:37] #287 closed

[2016-02-22 14:22] dirkrombauts opened #293 "The Cucumber JSON test result provider should deal with background steps correctly"
See #251 for a description of the problem.

[2016-02-22 18:35] aaronjrich commented on #283
Apparently gitter is blocked here where I work.  Is there another way to proceed with this?

[2016-02-22 20:46] kbrowns opened #294 "Customize/Extend Output?"
We make heavy use of specflow and pickles today for testing our commercial API's that my company builds and sells.  We share our pickle reports with our customers and it works great.  One request we get repeatedly is to have various trace information linked to from the feature text in the pickles report.  In other words people want to see the underlying API call's input and output (serialized json

[2016-02-23 12:48] dirkrombauts commented on #294
Thanks for the props, I'm glad you're getting such good use out of Pickles :-)

As I wrote in #241, Pickles is primarily meant as a Living Documentation tool. But every so often I get requests from people who want more detailed information. Currently, there is nothing in Pickles to match your need (despite our using Autofac ;-) ), but I am opening up to the idea.

I think the feature with the most

[2016-02-23 12:49] dirkrombauts commented on #283
You can email me at dirk dot rombauts at picklesdoc dot com . Does Skype work at your workplace?

[2016-02-23 15:47] dirkrombauts commented on #280
I'm starting on this.

[2016-02-25 13:57] dirkrombauts opened #297 "Use a combobox in the GUI version to select the test result format"
The radiobutton list is growing too large.

[2016-02-25 14:01] #280 closed

[2016-02-25 14:09] #297 closed

[2016-02-26 13:24] dirkrombauts commented on #280
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-02-26 13:24] dirkrombauts commented on #285
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-02-26 13:24] dirkrombauts commented on #286
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-02-26 13:24] dirkrombauts commented on #287
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-02-26 13:24] dirkrombauts commented on #297
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-02-26 13:24] dirkrombauts commented on #261
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-02-26 13:24] dirkrombauts commented on #293
Released in version [2.4.0](https://github.com/picklesdoc/pickles/releases/tag/v2.4.0).

[2016-03-03 13:12] xDazedx commented on #261
Thank you for fixing this issue!

[2016-03-03 14:33] dirkrombauts commented on #261
My pleasure :-)

[2016-03-06 21:53] cstrong opened #300 "word wrap settings for description text for scenario lead to undesirable effects"
As of today, the scenario description text gets wrapped in a &lt;pre&gt;&lt;code&gt;&lt;/code&gt;&lt;/pre&gt; block with word wrap settings that are lead to the following undesirable output:

I want to be able to perform arithmetic o
n the calculator

See how the word "on" is broken in half on two lines.  Not good.

We have worked around the problem by hacking bootstrap.min.css to change the word-

[2016-03-07 06:47] dirkrombauts commented on #300
Hi,

With regard to the **current behaviour** (scroll down for future behaviour):

A quick question: is your scenario description aligned flush against the left side, or is it indented?

So for example - do you have a

Description like this

or a

    Description like that?

Since version 2, the parsing is more strict and indented descriptions will be interpreted as a code block.

With regard to t

[2016-03-07 13:54] cstrong commented on #300
Our description looks like the second one (courier font) just like in your example here:
http://www.picklesdoc.com/Output/DHtml/Index.html#Features\Arithmetic.feature

[2016-03-07 16:28] xDazedx opened #301 "Multiple Format Output?"
Is there a way to have the build output 2 formats ie. html and word?

[2016-03-07 16:47] dirkrombauts commented on #300
Thanks, I fixed the alignment of the Arithmetic feature and now it looks like the first one. That doesn't solve your problem but it proves my theory. I will create a work item to describe the changes I mentioned to the markdown parser.

[2016-03-07 16:49] dirkrombauts commented on #301
Do you mean the MSBuild runner by "the build"?

Not now. It would be a cool feature if you (or someone else) could make a pull request :-)

[2016-03-08 13:47] dirkrombauts opened #302 "Improve Markdown Parsing to Reduce Unintended Block Quotes"
## The situation

It is possible in Gherkin to provide free-text descriptions for the `Feature` and `Scenario` parts in a `.feature` file. Pickles parses them as MarkDown and generates formatted HTML code.

In MarkDown, indented text is rendered as a code block. However, SpecFlow provides an indented description block ("As a math idiot ...") by default, and many people like to arrange all their de

[2016-03-08 14:04] #293 closed

[2016-03-08 14:07] dirkrombauts commented on #300
I created issue #302 to address this problem.

[2016-03-08 14:07] #300 closed

[2016-03-15 16:00] dirkrombauts commented on #269
@dstj I'm playing around with this but I'm running into problems. Did you ever use Strike/markdownify in the static HTML version or only in the dynamic html version?

It works for me in the dynamic html version but in the static html version my own code is unhappy about `<img>` elements not being selfclosed.

[2016-03-16 09:08] nickball-granta commented on #281
This would be a nice feature :)

[2016-03-16 19:50] dirkrombauts commented on #281
@nickball-granta stay tuned, it's coming :-)

[2016-03-18 17:42] dstj commented on #269
@dirkrombauts, I am unsure I understand your question, I don't recall seeing a dynamic or static option. My usage was very simplistic. I used it to transform Markdown file to HTML and the only code I need was:

[code]

[2016-03-18 17:44] dirkrombauts commented on #269
@dstj no problem, I found the solution for my problem. In fact there was no problem in Markdownify but rather in its documentation.

[2016-03-21 12:38] dirkrombauts commented on #269
Released as an experimental feature in version [2.5.0](https://github.com/picklesdoc/pickles/releases/tag/v2.5.0).

[2016-03-21 12:38] dirkrombauts commented on #281
Released as an experimental feature in version [2.5.0](https://github.com/picklesdoc/pickles/releases/tag/v2.5.0).

[2016-03-21 12:41] dirkrombauts opened #306 "An Overview Dashboard for the DHTML Pickles Site with Summary Charts by Namespace and Tags"
Created to track further development and comments to #295

[2016-03-21 12:47] dirkrombauts opened #307 "Use new logo in nuget and chocolatey packages"

[2016-03-22 12:05] renegadexx opened #308 "Pickles cannot deal with cultures in the language setting"
My feature files starts with the #language: de - parameter. The command line (Version 2.5) is unable to create the documentation with this valid parameter and prompt *.feature will be ignored because it could not be read in properly.

[2016-03-22 12:59] dirkrombauts commented on #308
Thank you for taking the time to report this problem.

As a possible workaround until I can deploy a proper fix: try setting the [language parameter](http://docs.picklesdoc.com/en/latest/ArgumentsLanguage/) to "de".

[2016-03-23 09:21] renegadexx commented on #308
Hi Dirk

Here are additional details for reproducing the problem:

Command Line setttings:
pickles -l de -o "e:\...\" -f "C:\projects\...\Features"

First lines of Feature files:
#language: de-CH
Funktionalität: Fortbildungsprotokolle validieren [80]

I need the de-CH switch, because Switzerland has a different number format and demiliter as de.

[2016-03-23 09:46] dirkrombauts commented on #308
Good news and bad news for you ...

The bad news: I'm afraid "de-CH" isn't supported, only "de". Pickles supports exactly the same languages as Gherkin, the parser used by Cucumber, SpecFlow and also by Pickles. Here's the list of supported languages: https://github.com/cucumber/gherkin/blob/master/gherkin-languages.json

The good news: all is not lost for you. The #language parameter defines only

[2016-03-24 02:09] azam-a opened #309 "Render standalone text or markdown file in DHTML output"
I am switching from HTML format on an ancient version of Pickles (0.18.2), to the latest one (2.5.0), outputting to DHTML format.

I noticed that my standalone text file is no longer being generated. I have also tried converting the text file to markdown but it is also not working.

Is this the expected behaviour for DHTML output?

Thanks in advance

[2016-03-24 08:18] dirkrombauts commented on #309
Hi, unfortunately the different output versions of Pickles don't always support the same features. This is one of them.

The static HTML version does still support additional files - I just verified this with version 2.5.0.

[2016-03-24 09:38] azam-a commented on #309
Thanks for the clarifications Dirk.

You may close this issue :)

[2016-03-24 09:44] dirkrombauts commented on #309
I'm closing it :-)

[2016-03-24 09:44] #309 closed

[2016-04-04 20:01] dirkrombauts opened #313 "Fix flickering unit test failure"
It is probably caused by the experimentals flag not being reset properly before each test.

[2016-04-07 17:45] ajhuntsman opened #317 "Add HTML Anchor to Each Scenario Title, to Support Scenario-Level Hyperlinking"
It would be **really** helpful if each scenario had a hyperlink, so that specific scenarios could be referenced from other development tools, wiki pages, and issue-tracking systems (Jira, Redmine, etc.).

[2016-04-08 05:50] dirkrombauts commented on #317
That sounds like an interesting idea! Do you have any wishes regarding the format of the hyperlink?

Semantically, it would make sense to derive the link from the scenario title, but that might be brittle: scenario titles change.

Simply giving the scenarios a numerical ID (1 for the first scenario, 2 for the second, ...) is not dependent on the (changeable) title but will be confusing if a scenar

[2016-04-08 12:59] ajhuntsman commented on #317
I'm a Java guy on a Mac, but I might be able to track down a Windows developer, or set up Windows in VMWare Fusion and figure it out from there.

I think the core requirement is an **immutable link**, so that content changes to a Scenario don't break existing links from external sources.

So the link would have to be generated from some kind of meta data **attached** to the Scenario... like maybe

[2016-04-08 18:01] aaronjrich commented on #317
I like the idea. For simplicity sake though, I think just using the scenario name makes the most sense to me.

[2016-04-08 19:18] aaronjrich commented on #306
Hey @dirkrombauts, forgive my ignorance, can you help me understand where this experimental code is going?  Is it in the develop branch?  If you want to contribute, do you pull down a particular branch and commit to that?  Thanks!

[2016-04-08 19:42] ajhuntsman commented on #317
@aaronjrich, I agree that from a *developer's* perspective, that would be easiest. But as @dirkrombauts mentioned, it's way too brittle since a title change (including fixing a typo) would break existing links from external sources (Jira, Redmine, wiki pages, etc.).

Using a tag protects existing links from content changes to a Scenario, and guarantees that broken links can only happen as the resu

[2016-04-09 10:52] dirkrombauts commented on #306
@aaronjrich no problem. The code is in the develop branch like "real" code, but is only active if you provide the [argument for including experimental features](http://docs.picklesdoc.com/en/latest/ArgumentsIncludeExperimentalFeatures/).

[2016-04-09 10:53] dirkrombauts commented on #306
@aaronjrich so if you want to contribute, just work like you did in the past with regard to branches

[2016-04-09 11:06] dirkrombauts commented on #317
I see a classic opportunity to split a user story: a story that is relatively easy to implement and already delivers a lot of value, and another story that is more effort but makes the functionality more clever.

The first story  would be as @aaronjrich suggests. I think this delivers a lot of value already and in my experience scenarios do not change their title that often. It happens, and it hap

[2016-04-09 22:29] ajhuntsman commented on #317
Yep, a two-pronged approach seems best. Provide solid default behavior with the option to override as desired.

[2016-04-10 07:03] dirkrombauts commented on #317
@ajhuntsman could you please create two issues for these two variants?

And btw: I'm unsure whether gherkin allows the `:` character in a tag. Could you try that out? If it's not allowed, I would replace it with a `-`.

Thanks!

[2016-04-10 07:15] dirkrombauts opened #318 "Update Automapper to version 4.2.x"
Automapper 4.2.x introduces a breaking change over 4.1.x: the ConfigurationStore class is gone.

Stack Overflow provides [some ideas](http://stackoverflow.com/questions/35187475/autofac-and-automapper-new-api-configurationstore-is-gone) but even if you get the code to compile there are several unit tests failing and things seem to go from bad to worse.

This will probably take a couple of hours of

[2016-04-10 17:20] #271 closed

[2016-04-11 13:50] aaronjrich commented on #317
I'm not a huge fan of adding stuff to our features that is pickles/non-spec specific.  For this reason I am trying to think along those lines, i.e. using something that is already in the spec to provide this functionality.

[2016-04-11 19:02] ajhuntsman opened #320 "Hyperlink Feature #1: Automatic Hyperlink Generation for Scenario Titles"
Per @dirkrombauts (https://github.com/picklesdoc/pickles/issues/317#issuecomment-207935589), each Scenario's title should be rendered as a hyperlink to that Scenario.

By default, the hyperlink will be generated using the Scenario's title.

[2016-04-11 19:03] ajhuntsman opened #321 "Hyperlink Feature #2: Tag-Based Hyperlink Generation for Scenario Titles"
Per @dirkrombauts (https://github.com/picklesdoc/pickles/issues/317#issuecomment-207935589), each Scenario's title should be rendered as a hyperlink to that Scenario.

When a Scenario has a `@pickles-link` declared (like `@pickles-link:blue-scenario`) then the hyperlink will be generated from the value-side of the tag (`http://mypickles.com/Color_Feature.feature/blue-scenario`).

When a Scenario d

[2016-04-11 19:04] ajhuntsman commented on #317
@dirkrombauts: done and done.

[2016-04-12 07:09] dirkrombauts commented on #321
Thanks for creating the issue. It would actually be sufficient to include the `id` attribute to the heading of the scenario title.

Assuming we have a scenario like

[code]

Then for the static html version, we should generate

[code]

The dynamic html version can be done in a similar way.

[2016-04-12 07:10] dirkrombauts commented on #320
Thanks for creating the issue. It would actually be sufficient to include the `id` attribute to the heading of the scenario title.

Assuming we have a scenario like

[code]

Then for the static html version, we should generate

[code]

The dynamic html version can be done in a similar way.

[2016-04-12 07:10] dirkrombauts commented on #317
@ajhuntsman thanks for testing the colon in a tag!

[2016-04-12 07:20] dirkrombauts commented on #317
@aaronjrich I share your hesitation about adding non-specification things to a feature file.

Gáspár Nagy is using tags to [connect SpecFlow scenarios to work items in Microsoft Test Manager](http://gasparnagy.com/2016/02/integrating-specflow-with-microsoft-test-manager-mtm/). At my previous company, we often used tags to reference TFS work items, though not in a systematic way.

By providing a de

[2016-04-12 10:22] #283 closed

[2016-04-12 11:10] dirkrombauts commented on #283
Released in version [2.6.0](https://github.com/picklesdoc/pickles/releases/tag/v2.6.0)

[2016-04-12 11:11] dirkrombauts commented on #271
Released in version [2.6.0](https://github.com/picklesdoc/pickles/releases/tag/v2.6.0)

[2016-04-12 11:43] albertdabrowski commented on #283
Great, thanks for the efforts.

Appreciate,
Albert

[2016-04-12 12:50] dirkrombauts opened #326 "Investigate whether #315 applies to other unit test frameworks as well"

[2016-04-12 12:51] dirkrombauts commented on #326
https://github.com/picklesdoc/pickles/pull/315

[2016-04-12 12:53] dirkrombauts commented on #326
@danielpullwitt do you think you would have time to take a look at this one? Thanks!

[2016-04-14 16:32] jamiesmy commented on #271
Is there a way to turn off Comment Output in 2.6?

[2016-04-14 19:03] dirkrombauts commented on #271
hi, no, there's not. I'm assuming you want to turn it off, and i'm curious about why. What do you use the comments in `.feature` files for?

[2016-04-14 20:37] jamiesmy commented on #271
We have one team that has been trained to use comments to convey some particular technical implementation detail to the developers that they do not want published to the stakeholders or the support team

[2016-04-15 07:32] dirkrombauts commented on #271
I see ... The progress of Pickles depends greatly on contributions from the community, so if you send me a pull request that adds parameters to all the runners then I'll be happy to include that.

[2016-04-18 12:07] danielpullwitt commented on #326
How urgent is this? I can have a look at this but not immediately during the next few days as i'm very busy and this requires at least to run tests with all the affected frameworks.

[2016-04-18 12:13] dirkrombauts commented on #326
Since I'd prefer to have parity on all unit test frameworks I'd prefer this sooner than later. There is actually an infrastructure in place to help with this, it's described in the [CONTRIBUTING.md](https://github.com/picklesdoc/pickles/blob/develop/CONTRIBUTING.md) file. Please let me know if the information there is enough to get you started. If you need more information, I'll happily provide it

[2016-04-18 12:59] danielpullwitt commented on #326
I probably have time to look at this tomorrow evening to find out how much effort is involved.

[2016-04-19 22:59] danielpullwitt commented on #326
So far I´ve got the test results extended and tests set up and running. In three cases the test is failing (as expected); as soon as I find time I will fix the test providers.

[2016-04-20 08:08] dirkrombauts commented on #326
Excellent, thanks!

[2016-04-21 07:21] jboffel opened #330 "Support for junit test result format"
I generated the xunit report using behat junit compatible export format and it is properly loaded in jenkins by the xunit plugin but it seems to crash pickles...

Is there anyone else who succeed to use that format previously?

[2016-04-21 07:27] jboffel commented on #330
Seems I mistaken about the xunit format in question here. It's not based on testsuite->testcase-> format so I guess this is the reason of the failure.

Is it possible to add support for junit like format?

[2016-04-21 08:09] CharlieMott commented on #271
Works great.  Many many thanks.
(one very minor niggle, I would have chosen green to match comment styles in Visual Studio).

[2016-04-21 08:49] dirkrombauts commented on #330
Thank you for your suggestion. Pickles is an open source project and greatly depends on contributions from the community. I will be happy to review any pull requests you send my way. The [CONTRIBUTING.md](https://github.com/picklesdoc/pickles/blob/develop/CONTRIBUTING.md) file contains information about how to contribute to the test result providers.

[2016-04-21 22:56] danielpullwitt commented on #326
While I could fix the test providers (nunit / xunit / vstest) for scenarios and scenario outlines, I now have problems with cucumber / cucumberjs:
createtestresults.cmd in the test result repository references programs not provided (I did not notice on my first try). Additionally I can not identify which versions are used and where to get them.

Could you provide the missing information?

[2016-04-22 17:19] dirkrombauts commented on #326
Thanks for the heads-up, I'll do my best to provide the information by Monday evening (European time).

[2016-04-23 14:42] dirkrombauts commented on #326
I added the information to the [README.md](https://github.com/picklesdoc/pickles-testresults/blob/master/README.md) for the pickles-testresults repository. Please let me know if you think I left something out.

[2016-04-24 17:29] danielpullwitt commented on #326
In principle the setup works, but I got a problem with the javascript tests (there are "TypeError: callback.pending is not a function" messages). As I'm not deep into javascript development, I opted for manually editing the resulting json file and got everything else working. This is a little bit unsatisfactory but I have no clear idea about the nature of the actual problem.

[2016-04-25 07:33] dirkrombauts commented on #326
I'm not a javascript expert myself, but if you push your code to GitHub I will take a look at it and try to help you.

[2016-04-25 08:35] danielpullwitt commented on #326
They occur in the existing code, I also get a slightly different json output (more 'match' information), I don't know if its due to a different cucumber version or any other version / system dependent behavior

[2016-04-25 08:46] danielpullwitt commented on #326
I just found on the cucumber-js page that for not implemented tests you now use
**callback(null, 'pending');**
instead of
**callback.pending();**
Shall I fix this in the test result repository?

[2016-04-25 09:14] dirkrombauts commented on #326
Yes, please fix that - that's very kind of you!

[2016-04-25 23:16] danielpullwitt commented on #326
Done, pull requests for test data and main pickles repository are available

[2016-04-26 08:17] dirkrombauts commented on #326
Thank you again!

[2016-04-26 08:17] #326 closed

[2016-05-03 07:56] eleite77 commented on #320
Hi @dirkrombauts
I am trying to implement that even i don't know well the project itself.

Do you think for this enhancement it is possible to detect a scenario parameter in the url (like scenario=title) and to filter the data in the JsonPWrapper javascript function?
The data.features array will only contain one entry : the filtered feature.

Then a javascript function can open the left tree navig

[2016-05-03 11:54] dirkrombauts commented on #320
@eleite77 thank you for the suggestion. To be perfectly honest, I don't know my way around the DHTML version all that much, so I cannot answer your question whether it would be easy to implement this.

[2016-05-03 12:29] aaronjrich commented on #320
@dirkrombauts and @eleite77: I took a look at this at bit ago to assess the effort in the "DHTML" version doing something like a query string to link directly to a scenario.  In the current implementation, "#folder/featurefile.feature" was used on the URL to deep link to particular features. The nice part of using that was that it was easy to get at that last part of the url, you just call window.

[2016-05-09 08:04] dirkrombauts opened #338 "Fix build process"
The build process doesn't run the tests :-(

[2016-05-09 08:05] dirkrombauts commented on #318
Obsolete because Automapper was removed.

[2016-05-09 08:05] #318 closed

[2016-05-09 08:06] dirkrombauts commented on #307
Released in [v2.6.0](https://github.com/picklesdoc/pickles/releases/tag/v2.6.0)

[2016-05-09 08:06] #307 closed

[2016-05-10 15:10] dirkrombauts commented on #326
Released in version [2.6.1](https://github.com/picklesdoc/pickles/releases/tag/v2.6.1).

[2016-05-27 12:26] dirkrombauts commented on #308
I have an update for you - I have learned of a way to deal with this problem. I will be able to make Pickles support "de-CH" in the future. Now I only need to find time to do it. If you want to have a go at it yourself, I can give you the information you will need.

[2016-05-27 18:04] dirkrombauts opened #349 "Create a culture-aware GherkinDialectProvider"
# The problem

Consider this date: 1/5/2016. Is that the first of May or the fifth of January 2016? That depends on who you ask. A British citizen will tell you it's the first of May, but an American citizen will tell you that it's January the fifth.

Cucumber cannot deal with these differences: you can specify the language of the feature file, but nothing more. You can write `# language: en` to i

[2016-05-27 18:05] dirkrombauts commented on #349
This issue would resolve #308

[2016-05-30 19:30] ocsurfnut commented on #320
@dirkrombauts , @aaronjrich , @eleite77 , @ajhuntsman ... this is a feature I am interested in as well, and I actually find myself with a little free time this week.  Is anyone already working on this?  If not, would it be okay if I take this ball and run with it (based on suggestions above)?

[2016-05-30 23:10] aaronjrich commented on #320
@ocsurfnut, go for it, I haven't been able to get after this.

[2016-05-31 07:53] dirkrombauts commented on #320
@ocsurfnut I'm not working on it either, so go for it!

[2016-06-17 19:22] ajhuntsman commented on #321
@ocsurfnut, so if you're bored...

[2016-06-29 18:51] dirkrombauts commented on #320
Released in version [2.8.0](https://github.com/picklesdoc/pickles/releases/tag/v2.8.0).

[2016-06-29 18:51] #320 closed

[2016-07-01 12:14] robhuson commented on #18
+1 for this

[2016-07-07 13:16] surekhadhal opened #356 "Null reference error when running with MsTest trx results file."
Fixed by adding a null check for input parameter "scenario" in method ExecutionIdElement(this XElement scenario) in MsTestElementExtensions.cs file.

[2016-07-08 10:20] dirkrombauts commented on #356
Thank you for spotting and reporting this one. I will add some more information about how to fix this issue, and then put it "up for grabs".

[2016-07-08 12:31] dirkrombauts commented on #356
In order to do this in a test-driven way, the implementer(s) should create a test class `MsTestElementExtensionsTests` in $/Pickles.TestFrameworks.UnitTests/MsTest, and a test method that calls the method `MsTestElementExtensionsTests.ExecutionIdElement` with a null argument. That test will fail.

Then the actual method can be changed to make the test pass.

[2016-07-14 17:09] jgrossrieder commented on #278
Here is an example: https://www.relishapp.com/cucumber/cucumber/docs/formatters/json-output-formatter

[2016-07-14 17:13] dirkrombauts commented on #278
Thanks for the information!

I can't give any estimates on when this will be done. The fastest way to make it happen is to create a pull request.

[2016-07-14 17:17] jgrossrieder commented on #278
I'm sorry, I'm not familiar with the Git/GitHub process, I don't know what a Pull Request is

[2016-07-14 17:19] dirkrombauts commented on #278
No problem ... there's a pretty good introduction to the GitHub process over there: https://guides.github.com/activities/hello-world/

[2016-07-14 17:34] jgrossrieder commented on #278
Ok thank you. So It means that I've to fix it myself, but I don't know this product, I cannot make a fix for it

[2016-07-14 17:53] dirkrombauts commented on #278
I understand that it's not easy to work with someone else's code. If you don't have the time, resources or inclination for it, then don't do it :-)

But the reality of the situation is that feature requests like these - where only one or two people want it - tend to sit around for a long time before someone implements it. Open source projects depend on input from other people.

[2016-07-14 18:31] samholder commented on #278
You say 'I don't know this product, I cannot make a fix for it' which might be true, but in my experience you often don't need to know how everything works to implement a single focused thing. My advice would be to spend a little time having a look and trying to determine what needs to be done to implement what you want. you might find it's easier than you think :)

[2016-07-15 07:56] samholder commented on #278
I think the existing [JSON documentation builder](https://github.com/picklesdoc/pickles/tree/6570b6c2bfc230467a297bc332b69c81d245e0f8/src/Pickles/Pickles/DocumentationBuilders/JSON) would be a good place to start as I imagine you can copy that and tweak it for cucumber JSON.

But I'm no expert and have never used Pickles or seen the code, thats just from a quick search and look.

[2016-07-15 08:30] jgrossrieder commented on #278
Me neither, I'm currently trying to understand it, but I'm not sure it is the right tool, I need only my test results to be "exported", not the other features that are not concerned by my test run.

[2016-07-15 12:23] jgrossrieder commented on #278
I started some implementation, but I'm blocked on severals points to generate a cucumber report:
Cucumber seems to have a result for each step of a scenario, pickles import only one result per scenario. Also, cucumber results mentions the lines, and I don't have them available on each step

[2016-07-15 13:03] dirkrombauts commented on #278
Pickles does indeed support only scenario-level results at the moment, not step-level (unfortunately).

The reason is that most supported test runners supply only scenario-level results. If you are coming from SpecFlow, I am not aware of a test runner that offers step-level results. Please tell me if you know of one.

[2016-07-15 13:13] jgrossrieder commented on #278
I just checked the XML from NUnit(3), it's not very readeable, but there is, within the Output the list of steps with "done" or "error", which would allow to know which step did fail

[2016-07-15 17:11] dirkrombauts commented on #278
You are right, the information is in the output file. So I try to express myself more accurately: the xml structure of the test runner's output file supports only scenario-level results.

It would be possible to parse out the result of the individual steps by looking at the `CDATA` content of the `output` element (in NUnit3) - and I believe there's a feature request for that even though I can't fi

[2016-07-18 14:20] JohnyDeath opened #357 "Sorting features in output file (MS Word)"
I'm trying to sort my features in output word file by the name of feature-files.

I have 2 files:

[01 - First step part one.feature.txt](https://github.com/picklesdoc/pickles/files/369213/01.-.First.step.part.one.feature.txt)
[02 - First step part two.feature.txt](https://github.com/picklesdoc/pickles/files/369214/02.-.First.step.part.two.feature.txt)

And when I convert it into "docx", i see:
![

[2016-07-19 05:53] dirkrombauts commented on #357
Thanks for reporting this issue!

[2016-07-20 06:14] jgrossrieder commented on #278
I'm almost done with the implementation.
It is working fine, I just have one information missing. There is the notion of "evidence" of failure or success with Cucumber, which is basically a message indicating the result.

Would it be possible at least to get the content of "Output" as a single string field? That would greatly help when checking the result. I can maybe do it for NUnit3, but for oth

[2016-07-20 07:02] dirkrombauts commented on #278
Thank you for your time and effort! I'm on the road today and most of tomorrow, so I won't be able to give a full answer until Friday.

The short answer: exposing the Output as a string on the scenario makes sense, I think. You can populate it with the content of the output element of NUnit3. Other test framework should be similar.

[2016-07-22 09:38] dirkrombauts commented on #278
@jgrossrieder do you need more information about the Output string aspect?

[2016-08-06 17:42] ngm commented on #18
Is this feature in development, or still up for grabs?  Was there any spiking done?

I would like this feature very much.   (Coming from a slightly different use case: I work on "software product lines", where multiple different versions of a product can be configured from a collection of possible components.  I use tags to tag the features and scenarios that apply to each product.  So when I prod

[2016-08-07 07:59] dirkrombauts commented on #18
Your scenario makes perfect sense to me :-)

Nobody is working on this at the moment, so please go ahead and take a stab at it.

[2016-08-18 06:53] donnib commented on #217
I think this feature would be extremely useful and not in the test way but documentation wise. I use specflow and we generate a screenshot after each step and those images would be very nice to embed in the report which would help a lot when PO reads the report since he can also see it with screenshots, another idea i had was to make a video of each feature i mean of the screen while the test is d

[2016-08-18 06:56] donnib commented on #217
@dirkrombauts where do i add the ```![](./image.png)``` ?´Is that in the HTML file or ?

[2016-08-18 09:30] dirkrombauts commented on #217
@donnib have a look at https://github.com/picklesdoc/pickles/blob/develop/src/Pickles/Examples/Features/00BasicGherkin/BasicGherkin.feature

[2016-08-26 07:39] dirkrombauts commented on #357
@allustin not yet ... real life is interfering with my ability to do much coding. I will be happy to review any pull requests you may send my way though, and I usually do find the time to release new versions with contributions from other people.

[2016-08-30 22:05] joelransom opened #365 "Not seeing "test passed" information in report"
Hi. I am having an issue where the "pass" checkmark is not appearing in the report. I don't know how to troubleshoot because I don't know how you get that in the first place. Could you please help me understand how you identify test pass/fail status in the test result xml file? I've attached an actual TestResult.xml file that doesn't seem to be working.

I hope this is the appropriate place to ask

[2016-08-31 12:34] dirkrombauts commented on #365
Hi,

Yes, this is a good place to ask your question.

Could you please give some more information about how you use Pickles? Are you using the command line version, the GUI version, the powershell version or the MSBuild version? Which arguments are you supplying?

[2016-08-31 16:19] joelransom commented on #365
Dirk, thanks for the reply. I'm using the command line version. (I should check out the other versions.) Example follows, with actual paths replaced by <path> to shorten it.

<path>\pickles.exe --documentation-format=dhtml --feature-directory=<path>\Tests --output-directory=.\documentation --link-results-file=<path>TestResult.xml --test-results-format=nunit3

[2016-09-01 08:42] dirkrombauts commented on #365
Hi,
I had another look at your TestResult.xml file ... I understand now that Pickles will not show the "pass" checkmark in the report.

The TestResult.xml seems incomplete. It mentions there are 119 tests, but it's only a handful of lines. So you might want to investigate how this TestResult.xml file was created.

Pickles uses the attributes on the individual test cases to determine whether a scen

[2016-09-01 18:53] joelransom commented on #365
Dirk - Here's the command I used to generate that file:
`<path>NUnit.ConsoleRunner.3.4.1\tools\nunit3-console.exe <path>\Tests.dll -v --where cat=Manager --result TestResult.xml;format=nunit3`
There were (I assume) 119 tests total, but only one satisfied the criteria "where cat=Manager" so only one was run, which passed:
`<test-case id="1-1020" name="AsManagerICanAssignClaimsToAuditor("Complex Man

[2016-09-01 19:23] dirkrombauts commented on #365
OK, would it be possible to attach the .feature file too? You can remove the steps from the scenarios if they are confidential: I only need the feature title and the scenario title.

[2016-09-01 20:42] joelransom commented on #365
It looks like this, if it helps:
`Feature: AssignClaimsToAuditor
	Description...

@Manager @Complex
Scenario Outline: As Manager I can assign claims to auditor
	Given I have logged in as <U>

Examples:
| Scenario 	| U  	| AT | CO   | CT| AU|
| X 		| X 	| X  | X 	| X | X |`

[2016-09-02 11:52] dirkrombauts commented on #365
Thanks, I'll try to debug this asap.

[2016-09-02 12:55] dirkrombauts commented on #365
Right, I traced this to an entry in the TestResults.xml file: it says `<property name="_DESCRIPTION" value="AssignClaimsToAuditor" />` instead of `<property name="Description" value="AssignClaimsToAuditor" />`.

I asked a question about it on the NUnit project: https://github.com/nunit/nunit/issues/1781

I will keep you posted if I know more.

[2016-09-02 14:10] dirkrombauts commented on #365
One more question: which version of SpecFlow do you use?

[2016-09-02 15:10] joelransom commented on #365
2.1

[2016-09-02 18:57] rprouse commented on #365
@joelransom are you using any other libraries other than SpecFlow in your tests?

[2016-09-02 19:01] rprouse commented on #365
@joelransom, sorry if that is a stupid question in relation to SpecFlow, I haven't used it before, but we (the NUnit team) were asked about this and determining where the non-standard _DESCRIPTION and _CATEGORIES are coming from would help us with some issues our users have filtering tests. Like Pickles, NUnit does not recognize those properties.

[2016-09-02 19:16] joelransom commented on #365
No question is stupid when someone is trying to be helpful. These are selenium webdriver tests for GUI automation so those libraries are included. But if  _DESCRIPTION and _CATEGORIES are not supposed to be there then that is odd because this was output from nunit console.
Before I started using nunit console I was using specrun with is the test runner for specflow.
Maybe I should step back and tr

[2016-09-02 19:21] elikhodadadi commented on #21
Hi,

I tried to use the specrun results for Pickles, but i couldn't. also i read this articlehttp://docs.picklesdoc.com/en/v1.0/IntegratingTestResultsFromSpecRun/  to generate a reasonable result for pickles. i change the template file but it didn't help me.

Thanks in advance.
some parts of myproject.proj and .srprofile files are in the following:
myproject.proj file:
<PropertyGroup>
    <Feature

[2016-09-03 13:15] dirkrombauts commented on #21
Could you provide me some more data, like the versions of pickles and specrun you are using, the customized report file, the output file of specrun, and one ore two anonymized feature files? Thanks.

[2016-09-03 16:46] dirkrombauts commented on #365
I just updated my test harness so that it uses NUnit 3.4.1 and SpecFlow 2.1 to generate the sample test output data I'm using. The result file has the expected Description and Categories strings.

So I don't know what's going on here :-(

[2016-09-03 16:48] dirkrombauts commented on #365
@joelransom it would be really cool if you could create a small project that demonstrates the problem!

[2016-09-03 16:57] dirkrombauts commented on #365
@joelransom a question that came up on the NUnit project: which operating system are you using?

[2016-09-03 18:20] elikhodadadi commented on #21
<package id="Pickles" version="2.8.2" targetFramework="net45" />
 <package id="Pickles.MSBuild" version="2.8.2" targetFramework="net45" />
<package id="SpecFlow" version="2.0.0" targetFramework="net45" />
  <package id="SpecRun.Runner" version="1.5.2" targetFramework="net45" />
  <package id="SpecRun.SpecFlow" version="1.3.0" targetFramework="net45" />

[2016-09-04 14:03] dirkrombauts commented on #21
@elikhodadadi you can zip the files, or rename them as .txt

[2016-09-04 22:30] ankurMalhotra commented on #356
What are the steps to reproduce the defect? I am using the UI to upload the "results-example-mstest.trx" file but I'm not getting the null pointer exception?

[2016-09-05 07:48] elikhodadadi commented on #21
Hi,

did you see my files? what do you think? what is the problem?

[2016-09-05 10:50] dirkrombauts commented on #21
Unfortunately I did not see your files. All I am seeing is a post with empty lines followed by "the output of specrun is a html file". That is why I advised you to rename or zip your files.

[2016-09-05 10:53] dirkrombauts commented on #356
The UI will catch that error, and should display it in the trace grid at the bottom of the screen.

@ankurMalhotra are you trying to solve this issue?

[2016-09-05 11:00] elikhodadadi commented on #21
[list.txt](https://github.com/picklesdoc/pickles/files/454903/list.txt)
[My_ReportTemplate.txt](https://github.com/picklesdoc/pickles/files/454904/My_ReportTemplate.txt)
sorry, I prefer to not attach the report of my tests. The output of specrun is a html file.
thanks.

[2016-09-05 14:25] dirkrombauts commented on #21
Hi,
I will try out your report template, probably tomorrow.
I respect your decision not to share the report of your tests. As a result, my ability to help you will be severely limited. If I do not have the report file, then I cannot use it to debug Pickles.

Perhaps you can share the following: near the end of the specrun html file (near the `</body>` element) the Pickles-related output should app

[2016-09-06 19:28] SubjectiveReality opened #367 "Hyperlink markdown doesn't work in Feature: section"
Hi- I'm trying to introduce SpecFlow and Pickles to my team, and one piece of feedback that came in was links to relevant Jira issues (or whatever) in places they may be needed in the feature files.  I have tried the markdown after both Feature: and Scenario: keywords, and it works great after the latter but not after the former.  Is this intentional for some reason?  Seems like having the option

[2016-09-06 20:25] dirkrombauts commented on #367
Thanks for taking the time to report this. This behaviour is certainly not intentional. I will do my best to investigate it this week, but it might take me until next week - my real life schedule is quite full at the moment.

[2016-09-07 01:25] SubjectiveReality commented on #367
No worries- it's a fantastic tool and your time and effort is much appreciated!  I understand the busy schedule and am not worried about turn around time or anything like that.  Glad the feedback was helpful and might try to track it down myself, schedule permitting.

Cheers

[2016-09-07 08:58] dirkrombauts commented on #367
Thank you for your kind words.

[2016-09-07 10:19] ankurMalhotra commented on #356
Yes would like to try to solve it if no one else is looking at it. Thanks

[2016-09-07 10:20] dirkrombauts commented on #356
Great! I wrote some instructions earlier in this thread. Do you need additional information?

[2016-09-07 16:29] dirkrombauts commented on #21
I'm sorry, I won't be able to look into this this week. I will do my best to investigate it next week.

[2016-09-08 15:43] joelransom commented on #365
Sorry couldn't get back to this for a few days. OS is Windows 8.1 (lame). I will look into this a little further to see what's up with the "he non-standard _DESCRIPTION and _CATEGORIES" entries.

[2016-09-08 17:12] joelransom commented on #365
So, while googling around for more info I came across https://github.com/nunit/nunit/issues/1781
and https://github.com/techtalk/SpecFlow/issues/705. I saw Charlie Poole's comments about nunit2 tests vs nunit3 tests. Although I was using the latest nunit console runner, my nunit version with 2.6. It hadn't been updated for the simple reason that I wasn't using nunit (I was using specrun) until ver

[2016-09-08 20:08] dirkrombauts commented on #365
@joelransom so you problem is solved? great. Can I close the issue?

[2016-09-08 20:24] joelransom commented on #365
Yes you can, thanks for your help.

[2016-09-08 20:37] dirkrombauts commented on #365
For what it's worth: using NUnit 2.6.3 as runtime and NUnit 3.4.1 as test runner I get _DESCRIPTION as well. So now it's at least reproducible.

[2016-09-08 22:42] joelransom commented on #365
I'm still not getting the 'passed' flag.  Attached is what the TestResult.xml file looks like now, along with the corresponding feature file.

[Login.zip](https://github.com/picklesdoc/pickles/files/462829/Login.zip)
[TestResult.zip](https://github.com/picklesdoc/pickles/files/462808/TestResult.zip)

I will still try to create an sample solution for you if you are interested, but it might take a

[2016-09-09 13:51] ngm commented on #235
It would be great to have a .NET Core version of Pickles.

I guess that might become more of a possibility/priority when SpecFlow itself moves to .NET Core (which seems to have some work in progress - https://github.com/techtalk/SpecFlow/pull/649)

Out of interest, here's a chart for Pickles' dependencies and whether they are core compatible:
https://icanhasdot.net/result?github=picklesdoc~2Fpickl

[2016-09-09 14:19] dirkrombauts commented on #235
@ngm yes those two projects are good starting points for a .NET Core conversion. Do you perhaps have experience with .NET Core? Any help would be appreciated.

The command line version works well on Linux or Mac using Mono by the way.

[2016-09-09 14:51] ngm commented on #235
@dirkrombauts Ah great yes, thanks, I just got pickles.exe running from Mono, to generate the dhtml output from my features.

Currently I have a bit of a Rube Goldberg setup where I am building the an MVC Core app with .NET Core on Ubuntu, executing the Gherkin files with Python and [behave](http://pythonhosted.org/behave/), and generating the docs (without pass/fail status) with Mono/Pickles!

So

[2016-09-09 14:52] dirkrombauts commented on #235
cool, keep me posted!

[2016-09-09 14:57] dirkrombauts commented on #365
Thanks for the attachments.

I will do my best to look into it early next week.

[2016-09-09 15:45] ngm commented on #235
I have started a proof-of-concept here:
https://github.com/ngm/Pickles.NetCore

I haven't done it as a fork to begin with as I'm not certain how you mix and match solutions, so I'm just starting from scratch copying files over and fixing missing references.

The good news - Pickles.ObjectModel ported easily!  The interfaces and classes provided by System.IO.Abstractions have been included by Micro

[2016-09-09 16:25] dirkrombauts commented on #235
Cool!

Yes, the Pickles project will be more of a challenge :-) The biggest pains will probably be:

- the use of the NGenerics library. This is a really old one and I've never been happy with it. I'd rather change Pickles to use normal list structures.
- Autofac. I've been thinking of refactoring the dependency injection stuff, so that
   1. The actual DI container is hidden better
   2. We use i

[2016-09-12 09:07] ngm commented on #235
I've gotten the Pickles and Pickles.TestFrameworks projects to build (against .NET Standard 1.6, so I can confirm they build on Ubuntu also.)  Not, however, tested in any way yet!

Here are all the caveats so far:

* NDesk.Options - I ported this to a .NET Core version.  I removed everything to do with message localization, as it relied on System.Convert which isn't in .NET Standard 1.6.  It didn'

[2016-09-12 10:00] dirkrombauts commented on #365
Hi,
I tried out your test result file and your login.feature file, and I see the passed checkmark next to the login feature in the table of content, and next to the "login" and "login as multiple users" scenarios.

FYI I did this using the GUI version of Pickles.

[2016-09-12 10:15] dirkrombauts commented on #367
I had a look at this ... the feature seems to work as expected, but could you please verify the following: Does the description part (that contains the link) start right next to the left margin?

I.e.

[code]
instead of
[code]

The second version will cause Pickles to interpret the description as code instead of normal text.

[2016-09-12 16:59] SubjectiveReality commented on #367
Wow, that was it, works fine without any indentation.  Sorry about that, I completely missed the difference in how I had it in my working case and non-working case.

[2016-09-12 17:14] dirkrombauts commented on #367
No problem ... it's a known issue, and shouldn't be too difficult to fix if you feel up to it: https://github.com/picklesdoc/pickles/issues/302

[2016-09-12 17:17] dirkrombauts commented on #367
Can this issue be closed?

[2016-09-12 17:17] SubjectiveReality commented on #367
Yes, I think so.  I'll take a look at that issue and see if I can help.

On Mon, Sep 12, 2016 at 11:17 AM, Dirk Rombauts <notifications@github.com>
wrote:

[2016-09-12 17:18] #367 closed

[2016-09-13 08:11] dirkrombauts commented on #235
Wow, that's a lot of work and information. Thank you very much!

[2016-09-13 10:42] ngm commented on #235
Basics of Pickles.CommandLine working now, generating the plain HTML documentation.  I had a lot of gotchas with Paths and Uris, the cross-platform story for this doesn't seem so great yet in .NET Core - had to add a few workarounds and utility classes for Unix.  But it is being actively worked on it looks like, plenty of discussions in the dotnet repo.

But I'd say as a proof-of-concept, it demon

[2016-09-14 11:25] dirkrombauts commented on #235
@ngm your proposal on how to go forwards sounds like a dream come true :-) I hope the momentum you're creating will enable me to do some refactorings in Pickles, like getting rid of NGenerics and moving the output formats to a different project (like the test result formats that have their own project).

Please continue with your investigations, your work is much appreciated!

[2016-09-16 09:38] dirkrombauts commented on #365
Are you still experiencing this problem? If so, could you please give me more data so I can try to reproduce it? Thanks!

[2016-09-16 09:46] dirkrombauts commented on #21
I looked at your list feature file, and I think it is in an invalid format. Could you please try to generate your living documentation using pickles _without testresults_ and see if it is generated correctly?

The line `	Examples: Valid` is not valid gherkin. If you want to add some kind of comment to the examples section, you should use tags or comments like this:

[code]

[code]

[2016-09-16 09:47] dirkrombauts commented on #21
Forget about my last comment (I deleted it). I was mistaken.

[2016-09-16 09:52] dirkrombauts commented on #21
I'm afraid I won't be able to help you without a copy of your test result file. I'm sorry.

[2016-09-16 12:53] dirkrombauts commented on #235
@ngm I got inspired by your hard work and did a refactoring on Pickles: I got rid of the NGenerics library. In the end I was able to replace the entire usage with a single class :-)

[2016-09-16 14:10] joelransom commented on #365
Dirk I have not been able to get back to it this week, sorry, I've working on something else. I do intend to try the gui runner you referenced.

[2016-09-19 08:20] ngm commented on #235
Cool!  I will pull that change in to the .NET Core repo.

[2016-09-23 22:04] joelransom commented on #365
Dirk, I'm starting to think the issue is that it doesn't work when generating dhtml.

[2016-09-24 06:40] dirkrombauts commented on #365
Joel, is it perhaps possible you are talking about seeing a "passed" flag next to each individual example row in the Examples table? That does indeed not work in the current version of the DHTML formatter.

[2016-09-27 09:14] dirkrombauts commented on #357
Resolved by #373

[2016-09-27 09:14] #357 closed

[2016-09-28 09:02] dirkrombauts commented on #357
Released in version [2.8.3](https://github.com/picklesdoc/pickles/releases/tag/v2.8.3).

[2016-09-28 09:35] thopark commented on #356
@ankurMalhotra you still work on this? Maybe it's the same problem as in #375

[2016-09-28 10:44] ankurMalhotra commented on #356
i am working on it. But if you've already got a fix for it, then go for it

[2016-10-12 09:51] dirkrombauts opened #383 "DHTML version sorts features and folders in descending order"

[2016-10-13 14:54] dirkrombauts commented on #383
Hmm ... on the local webserver: in Firefox the order is ascending, but in Chrome the order is descending. On a remote webserver, the order is descending in both Firefox and Chrome.

[2016-10-14 19:21] #308 closed

[2016-10-14 19:21] #349 closed

[2016-10-22 11:06] #338 closed

[2016-10-23 17:19] dirkrombauts commented on #235
@Shumakriss you might want to take a look at GherkinDoc, an npm-based alternative to Pickles: https://www.npmjs.com/package/gherkindoc

[2016-10-23 17:22] dirkrombauts commented on #349
Released in version [2.10.0](https://github.com/picklesdoc/pickles/releases/tag/v2.10.0).

[2016-10-23 17:22] dirkrombauts commented on #308
Released in version [2.10.0](https://github.com/picklesdoc/pickles/releases/tag/v2.10.0).

[2016-10-23 17:22] dirkrombauts commented on #302
Released in version [2.10.0](https://github.com/picklesdoc/pickles/releases/tag/v2.10.0).

[2016-10-23 17:23] #302 closed

[2016-11-03 19:58] huguesf commented on #306
The overview dashboard is a great feature. Is there a way to automatically open the doc on that dashboard? It provide a great overview and we can see at a glance if there is any test failure.
Thanks for the great work!

[2016-11-04 11:26] dirkrombauts commented on #306
Hi,
Thank you for your kind words. There is no officially supported way of opening the page on the overview dashboard. You can of course modify the generated code to open the dashboard in a "document ready" handler, but you'd have to reapply that each time you regenerate the living documentation

[2016-11-09 13:00] dirkrombauts commented on #383
@aaronjrich do you have any idea what may cause this?

[2016-11-10 17:27] sqavenky commented on #278
Has this feature added to Pickle? We are also looking for solution where SpecFlow can generate a json format that can be consumed by Cucumber reports and publish a html in Jenkins. Pickle is good for this scenario but we want a json output in cucumber json format for cucumber sandwich report to consume.
Any progress you guys make, please let us know. We are interested in the solution.

[2016-11-10 18:03] jgrossrieder commented on #278
There is a Pull request I made #359 but due to no unit test, it has noot been added

[2016-11-11 10:13] dirkrombauts commented on #278
It is my policy to have unit tests for all the code in Pickles. There is some older code that does not have unit tests, but for all new code I require unit tests.

@sqavenky the fastest way to have a feature added to an open source project is to do it yourself and send a pull request. Maybe you have times to build upon #359 by @jgrossrieder and add unit tests?

[2016-11-16 00:13] santus444 opened #390 "Test result file is read as null in CucumberJson when elements is missing"
[2016-11-15_21-28-10-499.txt](https://github.com/picklesdoc/pickles/files/593438/2016-11-15_21-28-10-499.txt)

Hi, When I execute the pickles on cucmberjson result files, pickles reads the path as null.

[code]

I even tried passing in multiple file paths separated by semicolon. Attached result file as txt. Please rename it to .json

[2016-11-16 10:19] dirkrombauts commented on #390
Thank you for taking the time to report this problem.

Does the problem happen only when you specify a path to the test results? Does it happen when you do not specify a path to the test results?

[2016-11-16 18:50] santus444 commented on #390
When you specify a file that doesn't exist, it just logs that it skips it as it could not find it. It throws this log on UI and moves on to doc generation.

Found the root cause.
Pickles fails to generate the doc when the result json file does not have "elements":[] array for any one of the feature file results in it.
Example: For the below result json file, if there is no elements key, it fails.

[2016-11-17 08:04] dirkrombauts commented on #390
Thank you for your further analysis. We had a similar issue with the MSTest provider not long ago, so this shouldn't be too difficult to fix. I hope to be able to release a fix sometime next week.

[2016-11-18 23:31] santus444 commented on #390
Thanks @dirkrombauts

[2016-11-19 18:10] pisten opened #391 "All scenarios are 'inconclusive'"
Using pickles console application.

First i run my tests using nunit3 with this command:
 `.\packages\NUnit.ConsoleRunner.3.5.0\tools\nunit3-console.exe .\CATS_Site\bin\Debug\CATS_Site.dll --where "cat == nightly" --result=./TestRapport.xml`

and get TestRapport.xml (re-saved as txt to be able to attach it).
Then I run pickles with the following command:
`.\packages\Pickles.CommandLine.2.10.0\tool

[2016-11-19 19:06] dirkrombauts commented on #391
Thanks for taking the time to report this issue. I should have some time next week to look into it.

[2016-11-19 19:47] pisten commented on #391
errr, this 'bug' is due to 'moron behind keyboard' as we say in my country...

I use nunit3, but then stated `--test-results-format=nunit` and `pickles -h` clearly state there is a difference between nunit and nunit3...

[2016-11-19 19:47] #391 closed

[2016-11-20 10:13] dirkrombauts commented on #391
Ah well, happens to us all :-) I'm glad you're good to go again!

[2016-11-24 10:33] vikramvi opened #392 "how to install on Mac"
Hi,

Kindly clarify how to install this tool on Mac.

After reading getting started  got impression that this only runs on Windows. But most of developer and/or QA engineers use Mac.

Please clarify

Thanks,
Vikram

[2016-11-24 10:40] dirkrombauts commented on #392
Hi,

You will need to install Mono for Mac first: http://www.mono-project.com/download/#download-mac

Then you can run the command line version of Pickles on a Mac.

[2016-11-24 14:34] Sjaaky commented on #383
Before f131a382b01359bcdb0ba720106d66762954946b the pickledFeatures.js contained the features in reverse order. Now the pickledFeatures.js is in alfabetical order. When the dhtml page loaded, the features are still reversed in [index.html jsonPWrapper](https://github.com/picklesdoc/pickles/blob/develop/src/Pickles/Pickles.BaseDhtmlFiles/Index.html#L487).

[2016-11-28 10:29] dirkrombauts commented on #392
Hi,

Do you need more information or can I close this issue?

[2016-11-28 10:30] dirkrombauts commented on #390
Hi, real life interfered last week but I'm starting on this now.

[2016-11-28 14:31] vikramvi commented on #392
Hi @dirkrombauts

I've installed the s/w on Mac 10.11.6, now to generate html files from feature files do I need to follow unique instructions for Mac or they are same as Windows ?

Thanks,
Vikram

[2016-11-28 14:43] vikramvi commented on #392
I tried
choco install pickles but it failed with error
 -bash: choco: command not found

[2016-11-28 15:45] vikramvi commented on #392
also set the path explicitly per http://stackoverflow.com/questions/32542535/mono-installed-on-mac-but-not-recognized-in-terminal, but no success in getting pickles installed yet

[2016-11-28 16:33] dirkrombauts commented on #392
Hi,
There's no Choco for Mac as far as I know, so you'll have to download the binaries from the releases page on GitHub: https://github.com/picklesdoc/pickles/releases

If I remember correctly (it's been a while) you need to prefix all calls to pickles.exe with "mono":

    mono pickles.exe ...

[2016-11-28 17:20] vikramvi commented on #392
Thanks a ton for quick info. I could run and see some output.

Will continue exploring this awesome tool and get back with issues / queries.

http://www.mono-project.com/docs/about-mono/supported-platforms/osx/

[2016-11-28 17:20] #392 closed

[2016-11-29 10:30] vikramvi opened #395 "Issue : "We expect that all your .feature files is found in the features-folder and subfolders." doesn't work"
Hi,

I have put product user stories' directory and subdirectories as below

[code]

Now I have copied "Web folder with all its contents" under "feature folder" as per requirement of pickles tool.

But pickles tool doesn't parse any of the feature files.

Q1)  Please clarify what am I doing wrong here ?

Q2)  What does it mean by "..features-folder and subfolders...." http://docs.picklesdoc.com/en

[2016-11-29 10:49] vikramvi opened #396 "Error - File name: 'Autofac, Version=4.1.1.0, Culture=neutral, PublicKeyToken=17863af14b0044da'"
I tried below command

`mono Pickles.exe --feature-directory=features/ --output-directory=Pickles-Output/`

features directory has got single .feature file.

It's failing with below error

[code]

[2016-11-29 14:05] dirkrombauts commented on #365
I'm closing this issue since I haven't heard anything for two months. I'm assuming you are talking about the DHTML formatter, which does not support showing the results of individual example rows.

[2016-11-29 14:05] #365 closed

[2016-11-29 14:07] dirkrombauts commented on #396
Hi,

will try to reproduce this on my mac later this week.

[2016-11-29 14:09] dirkrombauts commented on #395
What is the exact call you make to pickles?

[2016-11-29 14:28] vikramvi commented on #396
Thanks @dirkrombauts I googled a lot for this problem but didn't find any solution.
I restarted Mac but it didn't help.

I think this is related to mono framework and not related to pickles,  as yesterday I could make it run couple of times and later it suddenly stopped working. This happened when I was playing with folders and subfolders , moving around feature files

[2016-11-29 14:33] vikramvi commented on #395
I tried as below

`mono Pickles.exe --feature-directory=/Users/vikram/projects/Web --output-directory=Pickles-Output/`

[2016-11-29 14:38] #356 closed

[2016-11-30 07:40] jnsn commented on #395
I am seeing the same issue, on a Windows Server 2012 R2 box.

I've upgraded pickles to version 2.10.0 yesterday, but I don't know which previous version I had. Since then pickles is not able to recursively find feature files.

If I pass in a directory which does contain a feature file, it generates all the documentation output formats.

[2016-11-30 09:27] vikramvi commented on #395
@jnsn advance apologies for little offtopic request. Can you please check https://github.com/picklesdoc/pickles/issues/396 and update as well ? I'm blocked because of this issue as well.

[2016-11-30 16:13] jnsn commented on #395
@vikramvi I am not having the Autofac issue on a Windows machine. When passing in a directory containing a single .feature file it generated the documentation correctly.

[2016-12-01 08:14] jnsn commented on #395
I've did some more testing, and I believe it might be related to the upgraded Gherkin package which is more strict. When trying to debug I received some errors about badly formatted feature files on my end.

Given the following example, taken from the cucumber [background documentation page](https://github.com/cucumber/cucumber/wiki/Background):

[code]

The output is correctly generated.

If I ad

[2016-12-02 01:34] Lisa-Lee opened #400 "Enable Pickles to deal with ignored scenario examples in VsTest Result Provider"
Hi there, we see an error "Pickles did not complete successfully Object reference not set to an instance of an object." when try to generate Pickles report, does anyone face the same issue? Here are some details:
Framework: SpecFlow
Test Runner: VSTest
Commend I am using:
`pickles.exe /feature-directory=MyFeatures /output-directory=MyPicklesResults /documentation-format=Dhtml /test-results-format=

[2016-12-02 08:58] dirkrombauts commented on #400
Hi,
What do you mean by "comment out all the unimplemented Scenario Outline"?

Could you make a small project that demonstrates the problem? Thanks!

[2016-12-02 22:13] santus444 opened #401 "Support for 'reports' crawling"
Hi @dirkrombauts , Can pickles crawl for cucumberJson result files similar to feature files if we specify the folder? If so, can you share how to run that command? I can make sure the folder has only files with specified format in **--test-results-format** argument

Currently I am generating living doc for large number of result files, all at once as we would like them to be accessible from one pa

[2016-12-03 15:17] dirkrombauts commented on #401
Hi,
No, pickles can only look for `.feature` files - so you need to specify both the directory of the feature files and the names of the test result files.

Could you please help me understand why you need a "large number of result files"? I've never encountered a need for that.

In any case, since Pickles is an Open Source project that I run in my spare time, the fastest way to include a feature

[2016-12-05 07:54] vikramvi commented on #396
@dirkrombauts can you please let me know if you could able to reproduce this problem ?

IMHO majority of engineers across tech industry in US, EU and India use Mac OS as their primary OS, it will be nice if you have more support on this than Windows OS ( which is always buggy and not engineers friendly other than MS employees :) )

May be some sanity test cases for Mac OS explicitly can be of grea

[2016-12-05 12:22] dirkrombauts commented on #396
I haven't been able to reproduce this issue yet. I'm doing the best I can with a limited time budget :-)

[2016-12-05 13:33] dirkrombauts commented on #356
Released in version [2.11.0](https://github.com/picklesdoc/pickles/releases/tag/v2.11.0).

[2016-12-05 13:35] dirkrombauts commented on #390
Released in version [2.11.0](https://github.com/picklesdoc/pickles/releases/tag/v2.11.0).

[2016-12-05 13:37] dirkrombauts commented on #383
Released in version [2.11.0](https://github.com/picklesdoc/pickles/releases/tag/v2.11.0).

[2016-12-05 14:29] vikramvi commented on #396
thanks for info, please let me know if any info needed from my side

[2016-12-06 02:42] Lisa-Lee commented on #400
Thank you @dirkrombauts
We need to change an unimplemented Scenario Outline to a Scenario, like this:
`
Scenario: Add two numbers
	Given I have entered <a> into the calculator
	And I have entered <b> into the calculator
	When I press add
	Then the result should be <c> on the screen

	#Examples:
	#| a | b | c |
	#| 1 | 2 | 3 |
`
Then the report can be generated and all the other implemented Scenari

[2016-12-06 10:46] dirkrombauts commented on #396
I tried again to reproduce this, but it works on my mac. I'm using the latest Mono version. Pickles works slowly, but it works.

[2016-12-06 10:49] dirkrombauts commented on #400
Just a quick check about your scenario outlines - they should look like this:

[code]

A scenario outline starts with `Scenario Outline:`, not just `Scenario:`.

[2016-12-06 10:55] dirkrombauts commented on #395
@jnsn is your problem solved if you remove the tags from the Background element?

[2016-12-06 10:56] dirkrombauts commented on #395
@vikramvi there is nothing obviously wrong with what you do. Could you try to add a valid feature file directly in the Web directory?

[2016-12-06 10:56] #383 closed

[2016-12-06 10:57] #313 closed

[2016-12-06 11:11] vikramvi commented on #396
I will uninstall mono and try again with latest version of Mono and Pickles

[2016-12-06 11:57] jnsn commented on #395
@dirkrombauts yes.

I believe that the problem on my end is that I have malformed feature files and that the previous version of the Gherkin Parser was more lenient.

[2016-12-07 13:07] MindaugasMateika opened #402 "Running parameters on mac"
So if I run just `mono pickles.exe` then feature and output directory is where the pickles is.
[code]

If I add parameters for the feature and output directories then the end result is pickles location + given parameter.
For example: `mono pickles.exe --feature-directory=Users/mindaugasmateika/xx/yy --output-directory=Users/mindaugasmateika/xx/yy` then result is:

[code]

So is it possible to give

[2016-12-08 10:31] dirkrombauts commented on #402
Thank you for taking the time to report this. This is a bug.

Unfortunately I cannot give you a clear estimate when the bug will be fixed :-(

[2016-12-12 12:08] Lisa-Lee commented on #400
Hi @dirkrombauts please have a look at the sample project: https://github.com/Lisa-Lee/specflow-mstest

Pickles report is not generated if:
- there is `Scenario Outline` which is not implemented in the SpecFlow features
- there are tags in the SpecFlow features
- execute tests by using `TestCaseFilter:"TestCategory=tagname"` in vstest command line

However, Pickles report can be generated if there

[2016-12-12 15:05] dirkrombauts commented on #400
Thanks! I will take a detailed look at it as soon as I can (later this week).

[2016-12-15 10:41] dirkrombauts opened #403 "New output format: reStructuredText"
This was requested through the questionnaire.

See http://docutils.sourceforge.net/rst.html for information on reStructuredText

[2016-12-16 13:17] dirkrombauts commented on #400
I was able to reproduce and the issue. I'm waiting on the CI build to finish before I merge this fix into the develop branch.

[2016-12-16 13:23] #400 closed

[2016-12-16 14:09] dirkrombauts commented on #400
Released in version [2.11.1](https://github.com/picklesdoc/pickles/releases/tag/v2.11.1).

[2016-12-20 11:14] Lisa-Lee commented on #400
Thank you very much! @dirkrombauts
I can see the issue is fixed in version 2.11.1.

[2016-12-20 11:35] dirkrombauts commented on #400
Thanks for letting me know!

[2016-12-20 23:27] Lisa-Lee opened #408 "Issue - Version 2.11.1 - Scenario Link is gone"
In the generated pickles report, there was a Hyperlink in each scenario in Version 2.11.0.

Now the link is gone in Version 2.11.1, does anyone have the same issue?

[2016-12-21 10:26] dirkrombauts commented on #408
I see the link is not there anymore, and I also see it's not there in version 2.11 and 2.10. Something seems to have gone wrong somewhere down the line - probably a merge problem. I will investigate, but realistically speaking I won't be able to solve this issue this month. My apologies for the inconvenience.

As a workaround, you can use the inspect function of your browser to determine the id of

[2016-12-21 23:02] Lisa-Lee commented on #408
Thank you @dirkrombauts

I might be wrong, there are no more Version 2.11 reports in my local, but I have some of them which have scenario links in TeamCity, so I said it worked in version 2.11.

You know what, I can see the links in Version 2.11.1 reports in TeamCity as well, not sure if there are any extra settings in TeamCity.

This is not an urgent issue for us, please take your time. Wish you

[2016-12-23 14:55] vikramvi commented on #396
@dirkrombauts I'm still getting the same error, with latest version of pickles as well.

Below is my directory structure on mac, may I'm doing something wrong while executing command please clarify

/Users/vikram-anna/Downloads

Pickles.exe
features/login_stories.feature

mono Pickles.exe --feature-directory=features/ --output-directory=Pickles-Output/

Unhandled Exception:
System.IO.FileNotFoundE

[2016-12-23 15:49] vikramvi commented on #396
Just to be safer side, I uninstalled existing version of mono and installed latest version 4.6.2. But no luck.

[2017-01-05 09:26] vikramvi commented on #396
@dirkrombauts I really loved if your tool has worked with Mac; as I liked the final output format for living documentation. But sadly it seems to only work with Windows OS.

I've decided to try out other 2 tools which works well with Mac OS
https://github.com/rmpestano/cukedoctor
https://github.com/burtlo/yard-cucumber

I request you to migrate project to Mac OS based technology as majority of com

[2017-01-06 19:07] dirkrombauts commented on #396
@vikramvi I understand your frustration, and thanks for your kind words about the output.

I wish I could accommodate you with Mac OS-based technology, but I just don't have the expertise for that. I don't think I will acquire that expertise in the near future either. I'm sorry.

[2017-01-12 16:00] bliles opened #409 "Avoid Using System.Drawing for Outputting Static Assets"
I have had very good success running pickles (cli) using mono on Mac and Linux. Everything basically works except generating the static image files. If these static assets were just included in the distribution rather than in a DLL, pickles could be run cross platform.

Technically this is a bug in the mono project, but making this change would make pickles usable in many other environments with m

[2017-01-17 18:23] jukafah commented on #402
Not necessarily a solution, but maybe this will help.

I'm using Pickles.CommandLine 2.11.1 from nuget on OSx and this is how it worked for me.
[code]

Generates ./testResults/pickles relevant to my current directory with all pickles related files.

[2017-01-25 07:19] dongpd opened #414 "Can not generate accent character"
'Assurez-vous que les types de quantités sont categorisés.' is converted to ''Assurez-vous que les types de quantit�s sont categoris�s.'

[2017-01-25 07:44] dongpd commented on #414
Fixed after save *.feature as UTF8

[2017-01-25 07:44] #414 closed

[2017-01-25 20:08] jukafah opened #415 "Publishing dhtml via Jenkins HTML Publisher?"
I did several searches and couldn't find any information on this. Apologies if this is the wrong avenue.

I can generate my picklesdoc formats just fine (to note: I am on OSx using mono). But when I try publishing to Jenkins, the dhtml file briefly displays, and looks like it reloads, and is then stuck in a constant state displaying "Loading..."

In your expertise, would this be an issue with the

[2017-01-25 20:40] jukafah commented on #415
I wound up coming across the answer... Timing on my findings could've been better. >.<

It's permissions on Jenkins.

[2017-01-25 20:40] #415 closed

[2017-02-02 16:45] mhjongerius opened #419 "Getting inconclusive test results in my documentation"
Hi guys, I'm trying to get the automated documentation running using Specflow and nUnit3. I use the following test scenario:
Feature: employees
	This is a test

@employees
Scenario: The employees endpoint should be set to employees
	Given I analyse the employees api controller
	When I use the IEnumerable<Employee> Get endpoint
	Then the routing should be correctly set to employees

And run both nU

[2017-02-02 19:56] Autom8edChaos opened #420 "Wildcards in Test Result Files: Trying to do a pull request, but get a 403 forbidden"
After asking for some help on StackOverflow this morning. I spend a while to get the issue fixed, or better: implement wildcard support.

But when I perform a pull request, or do a commit-push, I get an 403 forbidden error. The error pops up both in the Visual Studio UI as on the GIT command line.
I changed the protocol of [origin] from https to ssh in the git.config file, but that didn't work eit

[2017-02-02 20:09] dirkrombauts commented on #420
Hi,

First of all thanks for your efforts and your time!

Some thoughts:

- Are you perhaps working directly against the picklesdoc repository?
- Your fork of Pickles looks really old. You should rebase against the develop branch of the picklesdoc repository
- Can you push to your other repositories?

[2017-02-02 20:18] Autom8edChaos commented on #420
- Are you perhaps working directly against the picklesdoc repository?
No, I don't think so my path under my repos is repos\pickles

- Your fork of Pickles looks really old. You should rebase against the develop branch of the picklesdoc repository
Yeah, that was a really old one, I should delete it. But that is not the one I am working on. I imported it straight into Visual Studio through this page

[2017-02-02 20:24] dirkrombauts commented on #420
OK, that clears it up. The fact that your imported in into VS through  https://github.com/picklesdoc/pickles means that you are in fact trying to push directly to the picklesdoc repository.

I think the easiest way is to do the following:

- Delete your old pickles repository on github
- Fork the pickles repository (so that you have a new pickles repository)
- Load that into visual studio
- make y

[2017-02-02 21:00] Autom8edChaos commented on #420
Yes, it worked. As you noticed, I am quite new to the whole GitHub flow. Watched the howto videos, but those are so verbose, it is easy to look over the important parts :).

[2017-02-02 21:00] #420 closed

[2017-02-02 21:02] dirkrombauts commented on #420
You seem to be doing well with catching up. Keep up the good work!

[2017-02-02 23:23] TheSeleniumGuys commented on #419
Same here, we went through the set up on two machines and are having the same issue of Inconclusive Results and the Pass/Fail flags are not showing at all. Generated TestResults.xml using NUnit.ConsoleRunner.3.6.0. Set-up using latest copy of PicklesUI via Choc, Test Result Format as NUnit 3.

[2017-02-02 23:29] TheSeleniumGuys commented on #33
I'm working with Confluence in my current engagement and this would be useful - happy to put some examples together if this is still active?

[2017-02-03 09:41] dirkrombauts commented on #33
The desire for Confluence is still active :-)  but I am still hindered by lack of knowledge :-( so any information you can provide would be appreciated!

[2017-02-03 15:51] mhjongerius commented on #419
I think I found the issue: the link "$(TargetPath)TestResult.xml" is actually returning:
"C:\Projects\CC 2017\Bergler.CC2017.WebAPI.Tests\bin\Debug\Bergler.CC2017.WebAPI.Tests.dllTestResult.xml"

which is off course not the correct path :)

[2017-02-04 13:59] CarlVerret opened #423 "DHTML format generates only specflow features"
Hi,
I've got a vb.net Unit test project into which there's both mstest (unit tests) and specflow features.
When I use html as the format, every test results are included.  But, when I change the setting format to dhtml, only specflow features are generated in the documentation.  Any ideas why it does that ?

Thanks!

[2017-02-04 14:27] dirkrombauts commented on #423
Are you using NUnit 3? There currently is a problem with the NUnit 3 integration. We are working on a solution.

[2017-02-04 16:56] CarlVerret commented on #423
no, just plain ms unit tests.

[2017-02-04 17:07] dirkrombauts commented on #423
Could you post the command line you use for generating the dhtml output?

Which version of Pickles are you using?

[2017-02-05 14:43] mhjongerius commented on #419
I got it operational although I'm not really sure what caused the problem. I decided to download PicklesUI to see if the documentation worked and it did. Finally I modified the post build step to:

"$(SolutionDir)packages\Pickles.CommandLine.2.12.0\tools\pickles.exe" --f="$(ProjectDir)Endpoints" --o="$(ProjectDir)Documentation" --sv="v1" --sn="CC2017" --lr="$(ProjectDir)$(OutDir)TestResult.xml" --

[2017-02-05 14:43] #419 closed

[2017-02-06 02:09] CarlVerret commented on #423
PS C:\[....]\UnitTestProject1> .\packages\Pickles.CommandLine.2.12.0\tools\pickles.exe --feature-directory=.\Unittestproject1 --output-directory=.\documentation --documentation-format=dhtml --test-results-format=mstest
Pickles v.2.12.0.0

Generating documentation based on the following parameters
----------------------------------------------------------
Feature Directory              : C:\[....]\

[2017-02-06 16:04] dirkrombauts commented on #419
I'm glad you got it working!

[2017-02-06 16:05] dirkrombauts commented on #419
@TheSeleniumGuys I will soon publish a new version of Pickles that fixes the problem with NUnit 3 results when using NUnit 3.6

[2017-02-08 12:25] ZarkStudios commented on #419
Great! We're using Pickles for our Living Docs so great to see you guys jumping on this so quickly.

[2017-02-08 16:46] dirkrombauts commented on #419
@ZarkStudios thank you for your kind words! Please let me know it there's anything I can do to help you.

[2017-02-08 16:51] dirkrombauts opened #428 "The CucumberJS output format seems to omit examples of scenario outlines"

[2017-02-09 14:00] mhjongerius commented on #419
@dirkrombauts you guys are definitely doing a great job very quick responses indeed.

[2017-02-09 16:39] dirkrombauts commented on #419
@mhjongerius thank you!

[2017-02-09 17:03] Rain9333 opened #429 "pickles.exe can't take path with spaces from cmd"
You can't provide any path (output, feature or xml) if there is spaces in it. You also can't escape it but putting it in quotes like you usually do with running program from command prompt. Which leads to limitation...

[2017-02-10 10:42] dirkrombauts commented on #419
@TheSeleniumGuys I released version [2.13.0](https://github.com/picklesdoc/pickles/releases/tag/v2.13.0) with a fix for the NUnit 3 results.

[2017-02-10 10:43] dirkrombauts commented on #423
Hi,

I released version [2.13.0](https://github.com/picklesdoc/pickles/releases/tag/v2.13.0) of Pickles with some fixes to the handling of test results. Could you please try your scenario with the new version and let me know whether you are still experiencing the problem? Thanks!

[2017-02-10 20:09] chaswiso opened #431 "Writing excel workbook throws exception"
![2017-02-10_14-07-34](https://cloud.githubusercontent.com/assets/2489731/22842359/89349800-ef9a-11e6-96b7-8949fcb1b03a.png)

[2017-02-11 08:56] dirkrombauts commented on #431
Hi,

Thank you for taking the time to report this.

- I released a new version of Pickles yesterday (version 2.13.0). If you are using an older version, could you please try the newest version?
- Does the problem occur only when you use the Excel output format or does it occur in other output formats as well?

[2017-02-11 16:47] chaswiso commented on #431
I have an older version of picklesui (will need to check which one) which worked for months and this week I started to get the error.
I download 2.13 from choclatey and got he same error. So now I'm wondering what outside app might be messing with it?
Excel is the only one giving me that error. Btw I couldn't find the picklesui.exe in 2.13. Does it only run from visual studio?

--Chris

[2017-02-13 08:22] dirkrombauts commented on #431
The easiest way to obtain picklesui is through chocolatey: https://chocolatey.org/packages/picklesui . If you don't have chocolatey, the next easiest method is to download it from the release page on GitHub: https://github.com/picklesdoc/pickles/releases.

You don't need visual studio to run Pickles.

Does the error happen if you try different feature files as well? Or only on your set?

[2017-02-13 15:29] chaswiso commented on #431
I'll run for individual folders and see if any have success.
Thank you for the links! I love the app and really appreciate your quick response

--Chris

[2017-02-13 16:35] chaswiso commented on #431
Hi Dirk
I'm back in business. Found one line Feature: that was blank. Excel gets generated for all files now.

Here's a different issue though. I'll log it in github. When you close out picklesui, I get a PicklesUI has stopped working.

Takes a couple of clicks of close the program to make it go away.
Also. Your settings are not saved like filepath etc.

--Chris

[2017-02-13 16:47] chaswiso commented on #431
Downloaded from /releases and it all worked perfectly!
Thanks for 2.13!!

--Chris

[2017-02-14 09:44] dirkrombauts commented on #431
I'm glad you got it working!

Can we close this issue?

[2017-02-14 11:53] szabolcslevay opened #432 "Comments are not present in the generated report"
**Input**: Temp.feature

[code]

**Output**:
The generated report (using GUI or --enableComments=true or -cmd=true) does not contain comments.

[2017-02-14 14:28] chaswiso commented on #431
Yes
Thanks Dirk. Please mark as not a defect

--Chris

[2017-02-14 14:39] dirkrombauts commented on #432
Hi,

Due to a limitation in the way we deal with comments, they are only shown if there are one or more steps in the scenario. You should see comments if you change your feature like this:

[code]

[2017-02-14 14:40] #431 closed

[2017-02-15 15:00] ghost opened #434 "Getting Exceptions with more verbosity into a Pickles generated HTML report"
We are using Pickles in an  MSBuild step on Visual Studio Team Services (VSTS) with these parameters:

[code]

But then we have to go to the VSTS Release -> Tests -> Logs to find the actual C# Exceptions that were raised which caused many of the tests to fail. And then trying to compare the Pickles report to the C# Exceptions in the Logs is a time consuming process.

Is there anyway we can add a p

[2017-02-17 07:59] Rain9333 opened #436 "Ignored scenarios are reported as Inconclusive"
Why my nunit3 ignored test scenarios (SpecFlow) are reported as Inconclusive? Is this the expected behavior?

![results](https://cloud.githubusercontent.com/assets/25606664/23057189/ab4672d0-f4f7-11e6-8b89-8f3a15deb31b.jpg)

[2017-02-17 10:46] dirkrombauts commented on #436
Hi,

Yes, this is the expected behaviour. Pickles uses only three outcomes for a scenario: Pass, Fail, everything else is Inconclusive.

[2017-02-17 10:59] dirkrombauts commented on #434
Hi,

Your request is similar to #241 - you can find some of my thoughts regarding this issue over there.

If you are actually looking for a test report rather than a living documentation, I recommend taking a look at [SpecFlow+ Runner](http://specflow.org/plus/runner/) (by TechTalk, the company behind SpecFlow). Their reports strikes (IMO) a good balance between business readability and technical

[2017-02-17 13:25] Rain9333 commented on #436
Thank you. Didn't found the answer of that anywhere - will close the issue!

[2017-02-17 13:25] #436 closed

[2017-02-28 15:40] andreheijstek opened #439 "Keyword "Examples" is not localized"
Hi (and thanks for a very useful tool),

I am creating my Gherkins in Dutch (#language nl-NL) and most of that is shown correctly in Pickles.
However my Examples (in Scenario Outlines) are displayed as "Examples" and not as "Voorbeelden".

[2017-02-28 17:38] dirkrombauts commented on #439
Is only the examples section in English and are the other keywords in Dutch? Could you perhaps post a screenshot?

Which output format do you use?

[2017-02-28 19:07] andreheijstek commented on #439
Hello Dirk,

Everything is in Dutch, except the keyword ‘Examples’. I can send a screenshot on Thursday.
Output format is HTML

Regards, André

[2017-03-01 06:59] dirkrombauts commented on #439
Did you try it with the other output formats too? What is the result there?

[2017-03-01 18:11] dirkrombauts commented on #439
I can reproduce the problem on my system. It happens in the HTML, DHTML, Word and Excel output formats. The other two are not affected since they are json-based and thus don't need localization.

[2017-03-01 18:11] dirkrombauts commented on #439
@andreheijstek no need to send me a screenshot anymore :-)

[2017-03-02 18:41] #439 closed

[2017-03-02 18:41] dirkrombauts commented on #439
I'll release a new version next week. If you're impatient you can always check out the latest code and build Pickles yourself ;-)

[2017-03-02 22:20] andreheijstek commented on #439
Cool, thanks for picking it up so fast!

[2017-03-10 15:16] lars-erik opened #447 "Support codepage 1252 / iso-8859-1 encoding"
Currently when trying to generate docs based on feature files saved with Western European encoding (codepage 1252 / iso-8859-1, the cmdlet and commandline tools just exits quietly as if success. In reality, there's parse errors due to all the Scandinavian characters. They've not been read with the right encoding, so all the special chars are weird blocks and crap.

Using signed UTF-8 files work, b

[2017-03-10 18:16] dirkrombauts commented on #447
Hi,

The newest version of Pickles (2.15, released yesterday) should at least exit with an error. Could you please verify that this is the case?

As for the encoding issue itself: at the moment I don't know what to do about it. Do you know of a method to detect the encoding of a file?

[2017-03-11 18:30] lars-erik commented on #447
I'm out of my league when it gets to encodings. :) Had to give it a shot though, so a suggestion was just PR'd. It's very little intrusive, but I can't get it harnessed using the mock file system. It messes up the encoding. *facepalm* :)

Have a look at it. The plan was to generalize the test and pass several files as test cases.

[2017-03-15 09:06] dirkrombauts commented on #447
Maybe you could use a tool like [UTFCast](https://www.rotatingscrew.com/utfcast-express.aspx) to batch convert all your files to UTF-8?

[2017-03-15 09:10] lars-erik commented on #447
It happened because I created a few files with notepad. VS creates them as UTF8, and I know how to change them. So few I didn't need to automate. Thanks none-the-less. :)
So as mentioned on the PR, there's no rush, but can't hurt.

[2017-03-28 14:11] dirkrombauts commented on #447
As I said in the PR, I will keep the current behaviour because UTF-8 is constant - Encoding.Default is potentially different for everyone.

[2017-03-28 14:11] #447 closed

[2017-03-28 23:09] joelransom opened #449 "using ignoreTag feature"
Is ignoreTag present in 2.15.0? I know it's kinda new, just looked today to see if such a thing existed. I couldn't get it to work adding something like --ignoreTag=@ignore to the end of my command line. I also couldn't find an example of usage and the doc page doesn't exist. :)

My whole command line is:
.<path>\pickles.exe --documentation-format=dhtml --feature-directory=.\<path> --output-direct

[2017-03-29 07:09] dirkrombauts commented on #449
Hi,

Actually the parameter is called `excludeTags` (plural) - we will support multiple tags in the future and I wanted the parameters to be forward compatible.

If you call pickles using the `--help` argument, you will see a list of all parameters.

Thanks for spotting that the documentation doesn't exist BTW. I'll look into that.

[2017-03-29 12:19] lagori opened #450 "'Inconclusive Scenarios' shown on report even though the TestResult.xml has the scenario as Passed"
Doing PoC to integrate pickles in my project. Picked a simple scenario from the specflow doc. Used  nunit3-console  runner and generated the TestResult.xml. When running the Pickle Commandline the overview is shown as 'Inconclusive Scenarios'. even though there is 1 passed attached are the results xml and the pickles index file
[docs.zip](https://github.com/picklesdoc/pickles/files/878947/docs.zip

[2017-03-29 15:05] dirkrombauts commented on #450
Could you please show me the command line arguments you use when generating the living documentation? If you are using the GUI, a screenshot is fine.

[2017-03-29 15:17] lagori commented on #450
C:\Users\username\Documents\Visual Studio 2013\Projects\SpecFlowSand>
pickles.exe --feature-directory=.\SpecFlowSand\features --output-directory=.\doc
s --link-results-file=.\ConsoleResults\TestResult.xml --documentation-format=dht
ml
Pickles v.2.15.0.0

Generating documentation based on the following parameters
----------------------------------------------------------
Feature Directory

[2017-03-29 15:19] lagori commented on #450
Thanks Dirk. Its run thru Commandline above is the full dump,

[2017-03-29 15:40] joelransom commented on #449
Thanks, I got it to work. Somehow I missed the --help though I thought I'd tried that, good to know.

Suggestion about the functionality for the future: I have a Feature, **UserSearch** that has one scenario in it. I added an @Ignore tag to the scenario, and used the excludeTags option to ignore it.
In the resulting report, the scenario didn't show up, but the feature still appears in the index, a

[2017-03-29 15:48] dirkrombauts commented on #449
Glad you got it working. I'll take your advise under consideration. It seems to make sense but I want to think about it for a while.

[2017-03-29 16:00] lagori commented on #450
Ah ...! I figured out  :)
I used the GUI version and the results was picked correctly as the result format was . By default the commad line picks the nunit results format. I need to use it for nunit3

pickles.exe --feature-directory=.\SpecFlowSand\features --output-directory=.\docs --link-results-file=.\ConsoleResults\TestResult.xml --test-results-format=nunit3 --documentation-format=dhtml

So thi

[2017-03-29 18:34] dirkrombauts commented on #450
Glad you got it working! And thanks for the kind words!

[2017-03-29 18:34] #450 closed

[2017-03-30 10:31] lagori opened #451 "DHTML/Nunit3 version does not show the Pass/Failed example status"
?Using the format as DHTML and using the results from Nunit3 xml the example individual status  (pass or fail) not shown. If used with the HTML format its shown. Attaching the results, and HTML and DHTML screenshots
[SS.zip](https://github.com/picklesdoc/pickles/files/881818/SS.zip)

[2017-03-30 10:48] dirkrombauts commented on #451
I assume you are talking about the results of individual examples in a scenario outline.

This is a known limitation of the dhtml format. There's a pull request in the works that provides base functionality that will enable us to fix the limitation.

Please have a look at the PR if you think you can contribute.

[2017-03-30 18:47] lars-erik commented on #447
Thanks for triaging it. It'd do UTF-8 when the files are UTF-8, but I get your point. Better safe than sorry-ish. I'll just make sure not to create ASCII files in explorer. :)

[2017-04-07 17:20] dirkrombauts opened #453 "Exclude Feature Files that have no included scenarios"
When using the `excludeTags` parameter, it may happen that all scenarios of a feature file are excluded. When that happens, the feature file should not be included in the generated living documentation, nor should it appear in the table of content.

[2017-04-07 17:21] dirkrombauts commented on #449
I created a new issue with your idea: #453. I'm closing this one.

[2017-04-07 17:21] #449 closed

[2017-04-18 11:09] frankdoylezw opened #455 "Ability to add manual test checkboxes to HTML doc"
One of our use-cases for Pickles is to generate manual test scripts for the Test Analysts in our team.

We use Specflow feature files as manual test cases, initially, and then slowly but surely add bindings to convert these to automated test cases. Whilst using the Specflow feature files as manual test cases, it would be useful to be able to mark each scenario as Passed/Failed using a checkbox or

[2017-04-18 14:52] ngm commented on #235
Just to note that NFluent has now been ported to .NET Core: https://github.com/tpierrain/NFluent/issues/164

[2017-04-18 18:22] dirkrombauts commented on #235
Thanks!

[2017-04-18 19:32] dirkrombauts commented on #455
Hi,

Pickles is primarily a living documentation generator, not a test reporting tool. For that reason, I am not keen on adding this feature.

You might be able to work around this limitation: Pickles can take multiple test results as input. What you can try: use your test runner to execute all scenarios that do not have bindings yet. The resulting file will be completely inconclusive. Edit this f

[2017-04-22 23:52] younggeezus commented on #451
@dirkrombauts I am having the same issue also. I have seen this question asked very recent and very often on Google without resolution.

[2017-04-23 20:10] dirkrombauts commented on #451
@younggeezus is your issue about the results of individual examples in a scenario outline in the DHTML version only, or does your problem occur in other output versions too?

[2017-04-24 04:40] younggeezus commented on #451
@dirkrombauts thanks for the quick response. It is happening in all the output versions

[2017-04-24 11:11] dirkrombauts commented on #451
Which version of Pickles and of NUnit are you using?

[2017-04-24 11:36] younggeezus commented on #451
I am using Pickles v2.15.0 which I installed with Poweshell and the NUnit I am using is the 3.6.1

[2017-04-24 12:12] dirkrombauts commented on #451
Could you provide me with a sample project that shows the problem? That will really speed up my investigation.

[2017-04-24 12:18] younggeezus commented on #451
What is your email address please? So I can email it to you

[2017-04-24 12:36] dirkrombauts commented on #451
dirk dot rombauts at picklesdoc dot com

[2017-05-17 09:50] dialex opened #460 "Use a yellow badge with "?" icon for ignored tests (currently blank)"
I followed the official doc to [change the SpecRunner report](http://docs.picklesdoc.com/en/latest/IntegratingTestResultsFromSpecRun/).
But what are my next steps?

So I googled and found a [guide on youtube](https://youtu.be/UkoS-KpDi2w?t=4m8s) explaining how integrate the results of a SpecRun execution (pass/fail) into Pickles DHTML... however it used PicklesUI and I need something that will run

[2017-05-17 10:15] dirkrombauts commented on #460
Regarding the documentation: I'm happy to hear your suggestions to improve it. I'm even happier if you send a pull request on the https://github.com/picklesdoc/docs repository :-)

Regarding your problem: would it be possible for you to send me your feature files and your test result file? This kind of error is very hard to debug without that information.

[2017-05-19 09:09] dialex commented on #460
Will do, I've added to my todo list 😉

I've attached a [zip](https://github.com/picklesdoc/pickles/files/1013678/useful.files.zip) with:

- my pickles command
- one of the feature files
- the SpecRun generated html with the test results
- and the generated Pickles report

My latest attempt didn't produce the error but I did not see the results on Pickles' report.
Is there any step by step instruct

[2017-05-19 10:45] dialex commented on #460
Will do, I've added to my todo list 😉

I've attached a [zip](https://github.com/picklesdoc/pickles/files/1013899/files.zip) with:

- my pickles command
- one of the feature files
- the SpecRun html with the test results + template file
- and the generated Pickles report

The original SpecFlow report:

![image](https://cloud.githubusercontent.com/assets/2140450/26244471/aac8f8aa-3c87-11e7-8233-ec1f

[2017-05-19 20:51] deepthikarthikeyan opened #461 "Not seeing my test results using Pickles UI"
I'm using pickles UI to view some test reports generated from specflow. I can see the feature files but not the results.
When I open the test results.xml, I can view the test results .But when I open through GUI no result information is displayed.

A peek at testresults.xml

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<test-run id="2" testcasecount="95" result="Failed" total="95" passed

[2017-05-19 20:52] deepthikarthikeyan commented on #461
<?xml version="1.0" encoding="utf-8" standalone="no"?>
<test-run id="2" testcasecount="95" result="Failed" total="95" passed="93" failed="2" inconclusive="0" skipped="0" asserts="0" engine-version="3.6.1.0" clr-version="4.0.30319.42000" start-time="2017-05-19 19:57:55Z" end-time="2017-05-19 20:01:31Z" duration="215.922428">
  <command-line><![CDATA[nunit3-console.exe  C:\CMSTestAutomation\testauto

[2017-05-22 08:19] dialex commented on #461
Maybe this one is related?
https://github.com/picklesdoc/pickles/issues/460

[2017-05-24 14:16] dialex commented on #460
OK, I think I got it, it's not a bug @dirkrombauts but it's definitely something to improve.

When a test is ignored it doesn't show any icon, neither green nor red, it shows "blank". This lack of detail might confuse the reader, as the reader has no idea what's wrong with that test. That explains the "blank" for the second test on the right side.

On the left side, we also have "blank". That's be

[2017-05-28 11:16] dirkrombauts commented on #460
Hi,

Thanks for your contribution to the docs, and your suggestion for the app. I hope I'll be able to put in a bit more work on Pickles in the couple of days to include this.

[2017-05-28 11:17] dirkrombauts commented on #461
@deepthikarthikeyan could you please provide some more details? A screenshot from the Pickles UI, and if possible your feature files and test result file.

[2017-06-03 15:08] dirkrombauts commented on #460
Fixed by #463

[2017-06-03 15:08] #460 closed

[2017-06-03 15:09] dirkrombauts commented on #455
As I said before, pickles is a living documentation generator. For that reason, I will not add this feature.

[2017-06-03 15:09] #455 closed

[2017-06-03 15:10] dirkrombauts commented on #451
@younggeezus are you still experiencing this problem?

[2017-06-03 15:10] dirkrombauts commented on #432
I am closing this issue due to lack of activity.

[2017-06-03 15:10] #432 closed

[2017-06-03 15:11] dirkrombauts commented on #423
I am closing this issue because of lack of activity.

[2017-06-03 15:11] #423 closed

[2017-06-03 15:13] #396 closed

[2017-06-03 15:13] dirkrombauts commented on #395
I am closing this issue because of lack of activity.

[2017-06-03 15:13] #395 closed

[2017-06-06 17:55] dirkrombauts commented on #460
Release as part of version [2.16.0](https://github.com/picklesdoc/pickles/releases/tag/v2.16.0).

[2017-06-14 09:54] dennyhalim opened #466 "output to epub and chm"
a feature to generate epub/chm?

thanks

[2017-06-14 10:26] dirkrombauts commented on #466
We don't have that at the moment but I will be happy to review any pull requests you send my way.

[2017-06-20 23:37] nickcabral opened #467 "Report generation doesn't consider tags/categories when locating feature elements in results"
Consider the following nunit result snippet:

[code]

Although the two features have been distinguished using gherkin tags resulting in different categories for each entry in the nunit output, pickles currently marks the AddingOtherNumbers scenario as "Inconclusive".

I have solved this for my purposes with the following change, but I'd like your feedback as to whether this is a general enough sol

[2017-06-21 07:26] dirkrombauts commented on #467
Hi,

Could you give me some background on this problem? How does it occur? What's the business scenario?

[2017-06-21 16:06] freshlytyped commented on #467
The problem occurs when the same Feature name is used in multiple .Feature files, with each occurrence distinguished by tags. This allows tests to be grouped based on those tags, rather than solely by Feature name.

For example, I might have the following file structure:
+- Less_Important
     +- Notifier.feature  (includes the @lessImportant flag, and the @ignore flag)
+- Important
     +- Notifi

[2017-06-21 16:06] freshlytyped commented on #467
The problem occurs when the same Feature name is used in multiple .Feature files, with each occurrence distinguished by tags. This allows tests to be grouped based on those tags, rather than solely by Feature name.

For example, I might have the following file structure:
+- Less_Important
     +- Notifier.feature  (includes the @lessImportant flag, and the @ignore flag)
+- Important
     +- Notifi

[2017-06-23 12:31] dirkrombauts commented on #467
I understand the issue now. Without making any kind of value judgement, I'd say that this is a relatively rare scenario. Additionally, even when using the tags, you are not guaranteed to find a singe result: someone might use the exact same tags on both features.

Still, I'm open to receiving a PR. It is important to me that the PR contains unit tests that demonstrate the problem and prove that th

[2017-06-26 16:14] AntoineTheb opened #468 "[bug] Paths are changed to backslashes even when not necessary"
[code]
I'm currently trying to use Pickles on Linux, but I'm encountering a problem with paths. When I generate documentation in the DHTML format, everything looks fine at first glance, but I when I try to select a feature file, nothing happens.

![peek 2017-06-26 12-06](https://user-images.githubusercontent.com/10272382/27548781-f11201dc-5a67-11e7-8dc4-6bf3cabbc3b8.gif)

Following the errors in t

[2017-06-27 08:26] dirkrombauts commented on #468
So if I understand correctly, the problem is that the search routine uses backslashes at all times. Right?

You could send me a pull request with your change and I will try it on Windows.

[2017-06-27 18:20] AntoineTheb commented on #468
Thank you ! It seems like it, yes. The jsonp tree of feature files (in `pickledFeatures.js`) has forward slashes (on my architecture) and the javascript method that finds features in this tree uses backslashes no matter how the tree is built.

[2017-07-18 08:21] thomasbruggink opened #471 "Multiple test cases are matched when using VSTest"
When running pickles with a trx file we noticed that it marks multiple features as passed where only one was expected to get the passed state.

We noticed this happens when the name of a feature is also present in another feature name. In this example below this is "Retrieve customers" and "Retrieve products". In this case the trx only contains results for "Xml retrieve customers" and "Xml retriev

[2017-07-23 17:54] #471 closed

[2017-07-24 13:58] grofit opened #473 "Any way to name the generated file?"
I have a build system which contains tests for some UI using selenium and some using APIs using RestSharp, problem is I want to take both their specflow tests and output them to the same directory, but they both output the same `cucumberResult.json` when using the cucmber report format.

So is there a way to tell it to rename each to be something like `api-cucumber-results.json` and `ui-cucmber-re

[2017-07-24 15:01] grofit commented on #278
Sorry to resurrect this one, but I am looking at using Pickles as a way to get specflow to output some cucumber compatible json to then use one of the npm html generator things.

Anyway the issues seems to be when I generate the json file its fine, but its missing a `uri` section and when the generators go to use it, they blow up because they cannot find it. So is this something that needs fixing

[2017-07-25 09:04] dirkrombauts commented on #473
There currently is no way to determine the name of the output file of a single-file result.

The output formats are not consistent, though. Some formats pick a name by themselves, other formats use the value of the "System under test" argument. If you want to provide a PR that makes all single-file output formats use the "system under test" value, I would be happy to review it.

[2017-07-25 09:08] dirkrombauts commented on #278
Thanks for your interest in the cucumber json format.  I really mean that!

The truth is that I'm not happy with the current version of that output format. It doesn't seem to work properly with scenario outlines (see the discussion above), now you mention a missing `uri` section, ...

I don't understand the cucumber json format enough to do anything meaningful within my current time constraints. I

[2017-07-25 09:20] grofit commented on #278
If I had the time I would love to do so, at the moment I was just spiking on one of the projects here but its time boxed, and unfortunately I have many OS repos I maintain so I wouldn't be able to assist much in this area, but if I do somehow get some time will check back in with you.

[2017-07-27 15:08] PMVDias opened #474 "Pickles + Specflow Inconclusive Scenarios"

[2017-07-27 15:10] #474 closed

[2017-07-31 22:44] totpero opened #475 "Cake Build Addins request"
Hi,

It will be nice if you can write cake addins also, it will be useful.

Tx.

http://cakebuild.net/

[2017-08-01 08:32] dirkrombauts commented on #475
Hi,

Thank you for your interest in expanding the reach of Pickles! I hadn't heard of Cake Build yet, but it sounds interesting.

The reality of open source projects is that they live from outside contributions. Or in other words: the fastest way to make something happen in an open source project is to do it yourself and send a Pull Request. I will review any and all Pull Requests that you may sen

[2017-08-02 14:03] liamharries opened #476 "Multiple feature runs not considered in test result"
I'm making use of SpecFlow in my organisation to automate web based tests and to test across multiple browsers we use the same feature file and set run targets in the SpecFlow profile.

In our report, we then get the results for each targeted run.
![image](https://user-images.githubusercontent.com/6272708/28876919-aacae214-7792-11e7-96d8-5538f512f442.png)

The issue we face is that if a test fails

[2017-08-03 07:36] dirkrombauts commented on #451
@younggeezus I'm closing this issue since I haven't heard anything from you for at least two months. Feel free to reopen the issue if you are still experiencing the problem.

[2017-08-03 07:36] #451 closed

[2017-08-03 07:39] dirkrombauts commented on #401
I'm closing this issue because there hasn't been any activity for a long time. Feel free to re-open it if this is still important to you.

[2017-08-03 07:39] #401 closed

[2017-08-03 07:43] dirkrombauts commented on #476
Hi,

Thank you for your interest. This sounds like a potentially interesting thing. It's highly SpecFlow+Runner-specific, though - so it needs to work in a totally transparent way so that we don't need to treat the SpecFlow+Runner different from the other test result providers.

The reality of open source projects is that they live from external contributions. I have a limited time budget for Pick

[2017-08-03 07:44] dirkrombauts commented on #301
I'm closing this issue since there hasn't been any activity for a long time. Feel free to re-open it if this is still important to you.

[2017-08-03 07:44] #301 closed

[2017-08-03 07:45] dirkrombauts commented on #461
@deepthikarthikeyan I'm closing this issue since there hasn't been any activity for a long time. Feel free to reopen it if this issue is still important to you.

[2017-08-03 07:45] #461 closed

[2017-08-04 09:49] barlino opened #478 "Pickles cannot deal with languages that have a hyphen in the name"
According to the supported gherkin-languages,
https://github.com/cucumber/gherkin-dotnet/blob/master/Gherkin/gherkin-languages.json#L2097

only support language "nl".

After consulting the source code, I found language nl-be was added.
In that scenario, I run into a issue which is that can not distinguish with zh-TW and zh-CN.

Due to #386, it split the language code into the first word if contain